﻿@model IEnumerable<ISSG4.Models.GazetaTyp>

@foreach (var item in Model) {
    <tr data-pkey="@item.GazetaTypId">
        <td>
            @Html.DisplayFor(modelItem => item.GazetaTypNazwa)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
