﻿@model IEnumerable<ISSG4.Models.RodzajOkresu>

@foreach (var item in Model) {
    <tr data-pkey="@item.RodzajOkresuId">
        <td>
            @Html.DisplayFor(modelItem => item.RodzajOkresuNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RodzajOkresuMiesiac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RodzajOkresuDzien)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
