﻿@model ISSG3.Models.Cennik

<tr @if (Model != null) {
    @:data-pkey="@Model.CennikId"
}>
    <td>
        @Html.DropDownList("GazetaId", String.Empty)
        @Html.ValidationMessageFor(model => model.GazetaId)
        
        @if (Model == null)
        {
            @Html.Hidden("CennikNaglowekId", (int)ViewBag.ParentId)  
        }
        else
        {
            @Html.HiddenFor(model => model.CennikNaglowekId)
        }
    </td>
    <td>
        @Html.DropDownList("ProduktId", String.Empty)
        @Html.ValidationMessageFor(model => model.ProduktId)
    </td>
    <td>
        @Html.EditorFor(model => model.CennikNetto)
        @Html.ValidationMessageFor(model => model.CennikNetto)
    </td>
    <td>
        @Html.EditorFor(model => model.CennikBrutto)
        @Html.ValidationMessageFor(model => model.CennikBrutto)
    </td>
    <td>
        @Html.EditorFor(model => model.CennikVat)
        @Html.ValidationMessageFor(model => model.CennikVat)
    </td>
    <td>
        @Html.DropDownList("VatId", String.Empty)
        @Html.ValidationMessageFor(model => model.GazetaId)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
