﻿@model IEnumerable<ISSG3.Models.Cennik>

@foreach (var item in Model) {
    <tr data-pkey="@item.CennikId">
        <td>
            @Html.DisplayFor(modelItem => item.i3_Gazeta.GazetaNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Produkt.ProduktNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CennikNetto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CennikBrutto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CennikVat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Vat.VatId)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
