﻿.foto_podpis {
    font-style:italic;
    font-size:.8em;

}

.nr { font-size: 13pt; font-weight: bold; color: #ff2244; }

.flex-grow {
    flex: 1 0 auto;
}

.dzial_nazwa{
    font-size:1.3em;
    font-weight:bold;
    color:#d9274e;
    /*margin-left:20px;*/

}


/* TABLE */
table { border: solid 1px #e8eef4; border-collapse: collapse; }
table td { padding: 5px; border: solid 1px #e8eef4; }
table th { padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4; }

/* from PN custom2.css */
.card-title a {
  color: #000000;
}
.card a {
  color: #000000;
}

.navbar
{
	min-height: 57px;
}

.card-img-top {
  width: 100%;
 /* height: 40vh;*/
/*  object-fit: cover;*/
}

.fadein {
    opacity:0;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1s ease;
}

.inner:hover img {
  /*transform: scale(1.005);*/
  opacity: 0.7;
}


/* from PN custom2.css */

