html { height: 100%; }

* { margin: 0; padding: 0; }

body { font: normal .80em 'trebuchet ms', arial, sans-serif; background: #F0EFE2; color: #777; overflow-y: scroll; }

p { padding: 0 0 20px 0; line-height: 1.7em; }

img { border: 0; }

fieldset { padding: 10px; border-radius: 8px; }

.clear { clear: both; }

input { margin: 3px 0; }
input[type=button], input[type=submit], input[type=reset] { padding: 2px 10px; }
input[type=radio], input[type=checkbox] { vertical-align: -2px; }
input[type=text] {}
input.largerCheckbox {	width: 13px;	height: 13px; }

h1, h2, h3, h4, h5, h6 { font: normal 175% 'century gothic' , arial, sans-serif; color: #43423F; margin: 0 0 15px 0; padding: 10px 0 5px 0; }
h2 { font: normal 175% 'century gothic' , arial, sans-serif; color: #A4AA04; }
h3 { font-size: 130%;}
h4, h5, h6 { margin: 0; padding: 20px 0 5px 0; font: normal 120% arial, sans-serif; color: #A4AA04; }
h5, h6 { font: italic 95% arial, sans-serif; padding: 0 0 15px 0; color: #000; }
h6 { color: #362C20; }

h2 span { color: #888; font: normal 75% 'century gothic', arial, sans-serif; vertical-align: middle;}

a, a:hover { outline: none; text-decoration: underline; color: #1293EE; }
a:hover { text-decoration: none; }

.left { float: left; width: auto; margin-right: 10px; }
.right { float: right; width: auto; margin-left: 10px; }
.center { display: block; text-align: center; margin: 20px auto; }

blockquote { margin: 20px 0; padding: 10px 20px 0 20px; border: 1px solid #E5E5DB; background: #FFF; }

ul { margin: 2px 0 22px 17px; }
ul li { list-style-type: circle; margin: 0 0 6px 0; padding: 0 0 4px 5px; }

ol { margin: 8px 0 22px 20px; }
ol li { margin: 0 0 11px 0; }

#main, #logo, #menubar, #menubar_admin, #site_content, #footer { margin-left: auto; margin-right: auto; }

#header { /*background: #025587;*/ height: 197px; }

#logo { width: 857px; position: relative; height: 140px; /*background: #025587 url(logo.png) no-repeat;*/ }
#logo #logo_text { position: absolute; top: 12px; left: 0; }
#logo h1, #logo h2 { font: normal 300% 'century gothic' , arial, sans-serif; border-bottom: 0; text-transform: none; margin: 0; }
#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { padding: 22px 0 0 0; color: #304b69; letter-spacing: 0.1em; text-decoration: none; text-shadow: 3px 3px 5px #999; /*text-shadow: 0 0 5px #304b69;*/  }
#logo_text h2 { font-size: 100%; padding: 4px 0 0 0; color: #aaa; margin-left: 3px; }

#logindisplay { position: absolute; right: 0; top: 8px; text-align: right; }

#menubar { width: 877px; height: 57px; padding: 0; background: #29415D url(Img/menu.png) repeat-x; border-radius: 12px 12px 0 0;}
#menubar_admin { width: 877px; height: 57px; padding: 0; background: #29415D url(Img/menu.png) }

ul#menu,
ul#menu ul, 
ul#menu li { margin: 0; padding: 0; }
ul#menu li { float: left; list-style: none; position: relative; }
ul#menu li a { letter-spacing: 0.1em; font: normal 100% 'lucida sans unicode' , arial, sans-serif; display: block; float: left; padding: 20px 20px; text-align: center; color: #FFF; text-transform: uppercase; text-decoration: none; background: transparent; border-radius: 12px 12px 0 0; line-height: 17px; }
ul#menu li a:hover,
ul#menu li.selected a, 
ul#menu li.selected a:hover { color: #FFF; background: #1C2C3E /*url(Img/menu_select.png) repeat-x*/; }

ul#menu ul { position: absolute; display: none; width: 200px; background-color: #fff; border: 1px solid #ccc; margin-top: 57px; }
ul#menu ul li { display: block; width: 100%; }
ul#menu ul a { padding: 6px; color: #000; width: 188px; border-radius: 0; text-align: left;}

ul#menu li:hover ul { display: block; }

#site_content { width: 817px; overflow: hidden; margin: 0 auto 0 auto; padding: 20px 30px 20px 30px; /*background: #FFF url(content.png) repeat-y;*/ background-color: #fff; /*box-shadow: 0 0 10px 3px #aaa;*/ clear: both;}

.sidebar { float: right; width: 190px; padding: 0 15px 20px 15px; }
.sidebar ul { width: 178px; padding: 4px 0 0 0; margin: 4px 0 30px 0; }
.sidebar li { list-style: none; padding: 0 0 7px 0; }
.sidebar li a, .sidebar li a:hover { padding: 0 0 0 40px; display: block; background: transparent url(Img/link.png) no-repeat left center; }
.sidebar li a.selected { color: #444; text-decoration: none; }

#content { text-align: left; width: 595px; padding: 0; }
#content ul { margin: 2px 0 22px 0px; }
#content ul li { list-style-type: none; background: url(Img/bullet.png) no-repeat; margin: 0 0 6px 0; padding: 0 0 4px 25px; line-height: 1.5em; }

#footer { width: 878px; font: normal 100% 'lucida sans unicode' , arial, sans-serif; height: 33px; padding: 20px 0 4px 0; text-align: center; background: #29425E url(Img/footer.png) repeat-x; color: #FFF; text-transform: uppercase; letter-spacing: 0.1em; border-radius: 0 0 12px 12px; }
#footer a { color: #FFF; text-decoration: none; }
#footer a:hover { color: #FFF; text-decoration: underline; }

.search { color: #5D5D5D; border: 1px solid #BBB; width: 134px; padding: 4px; font: 100% arial, sans-serif; }
.form_settings { margin: 15px 0 0 0; }
.form_settings p { padding: 0 0 4px 0; }
.form_settings span { float: left; width: 200px; text-align: left; }
.form_settings input, .form_settings textarea { padding: 5px; width: 299px; font: 100% arial; border: 1px solid #E5E5DB; background: #FFF; color: #47433F; }
.form_settings .submit { font: 100% arial; border: 1px solid; width: 99px; margin: 0 0 0 212px; height: 33px; padding: 2px 0 3px 0; cursor: pointer; background: #263C56; color: #FFF; }
.form_settings textarea, .form_settings select { font: 100% arial; width: 299px; }
.form_settings select { width: 310px; }
.form_settings .checkbox { margin: 4px 0; padding: 0; width: 14px; border: 0; background: none; }
.separator { width: 100%; height: 0; border-top: 1px solid #D9D5CF; border-bottom: 1px solid #FFF; margin: 0 0 20px 0; }

/* table */
table { margin: 10px 0 30px 0; text-align: left; border-spacing: 0; border-collapse: collapse;}
table tr th,
table tr td { background: #3B3B3B; color: #FFF; padding: 7px 4px; }
table tr td { background: #F0EFE2; color: #47433F; border-top: 3px solid #FFF; border-left: 1px solid #FFF; border-right: 1px solid #FFF; }

table.centerElements { text-align: center }

form table, table.edit-table { margin: 0; }
form table tr th, table.edit-table tr th,
form table tr td, table.edit-table tr td { background-color: inherit; color: inherit; padding: 3px 3px; text-align: left; border: 0px; }
form table tr td, table.edit-table td { background-color: inherit; color: #47433F; }
form table tr td:first-child, table.edit-table tr td:first-child { text-align: right; }

.jedynki .gazeta {  }
.jedynki a { float: left; text-align: center; margin: 0 0 10px 0; display: table-cell; vertical-align: middle; width: 184px; cursor: pointer; padding: 8px; text-decoration: none; }
.jedynki a:hover { background-color: #eee; }
.jedynki .moje img { border: 2px dotted #1293EE; }

.wydanie #jedynka img { border: 1px solid #ddd; margin-bottom: 8px;}
.wydanie .left { float: left; width: 200px; margin: 5px 16px 0 0; text-align: center; }
.wydanie .right { float: right; width: 320px; margin: 5px 0 0 16px; }
.wydanie .kod { padding: 10px; border-radius: 4px; margin-bottom: 8px; background-color: #9BDEFB; color: #444; text-align: center; }
.wydanie .kod p { padding-bottom: 4px; }
.wydanie .dodatki { clear: both; }
.wydanie input[type=text] { text-align: center; }
.wydanie .nr { font-size: 13pt; font-weight: bold; color: #ff2244; }
.wydanie button { padding: 2px 10px; margin: 2px;}
.wydanie .arch { display: block; margin: 0 0 8px 0; }
.wydanie .przyciski * { display: block; margin: 0 0 8px 0; }
.wydanie .kodInfo { font-weight: bold; }

.wydanie .dodatki {  }
.wydanie .dodatki div { float: left; text-align: center; margin: 0 0 10px 0; display: table-cell; vertical-align: middle; width: 184px; cursor: pointer; padding: 8px; text-decoration: none; 
height: 190px;
}

.red { color: #ff2244; }

/* mvc specific */
.editor-label { margin-top: 5px; }
.editor-field { }
.editor-frame { border: 1px solid #aaa; border-radius: 8px; padding: 10px; }
.validation-summary-errors,
.field-validation-error { color: #ff2244; }
.field-validation-valid { display: none }
.input-validation-error { border: 1px solid #ff2244; padding: 1px; }
.input-validation-valid  { }
.validation-summary-errors { display: block; }
.validation-summary-valid { display: none; }
