﻿body { background-color: #ddd; font-size: .85em; font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif; margin: 0; padding: 0; color: #696969; }
a:link { color: #034af3; text-decoration: underline; }
a:visited { color: #505abc; }
a:hover { color: #1d60ff; text-decoration: none; }
a:active { color: #12eb87; }
p, ul { margin-bottom: 20px; line-height: 1.6em; }
header, footer, nav, section { display: block; }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 { font-size: 1.5em; color: #000; }
h1 { font-size: 2em; padding-bottom: 0; margin-bottom: 0; }
h2 { padding: 0 0 10px 0; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS */
.page { width: 980px; margin: 8px auto; }
header, .header { position: relative; margin-bottom: 0px; color: #000; padding: 0; }
header h1, .header h1 { font-weight: bold; padding: 5px 0; margin: 0; color: #444; border: none; line-height: 2em; font-size: 32px !important; text-shadow: 2px 2px 3px #fff; }
#main { padding: 30px 30px 15px 30px; background-color: #fff; border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; -moz-border-radius: 4px 0 0 0; }
footer, .footer { background-color: #fff; color: #999; padding: 10px 0; text-align: center; line-height: normal; margin: 0 0 30px 0; font-size: .9em; border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; }

/* TAB MENU */
ul#menu { position: relative; margin: 0; text-align: left; }
ul#menu li { display: inline; list-style: none; }
ul#menu li#greeting { padding: 8px 25px; font-weight: bold; text-decoration: none; line-height: 2.8em; color: #fff; }
ul#menu li a { padding: 8px 25px; font-weight: bold; text-decoration: none; line-height: 2.8em; background-color: #eee; color: #034af3; border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; }
ul#menu li a:hover { background-color: #fff; text-decoration: none; }
ul#menu li a:active { background-color: #a6e2a6; text-decoration: none; }
ul#menu li.selected a { background-color: #fff; color: #000; }

/* FORM LAYOUT ELEMENTS */
fieldset { padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; }
legend { font-size: 1.2em; font-weight: bold; }
textarea { min-height: 75px; }
input[type="text"], input[type="password"] { border: 1px solid #ccc; padding: 2px; font-size: 1.2em; color: #444; width: 200px; }
select { border: 1px solid #ccc; padding: 2px; font-size: 1.2em; color: #444; }
input[type="submit"] { font-size: 1.2em; padding: 5px; }

/* TABLE */
table { border: solid 1px #e8eef4; border-collapse: collapse; }
table td { padding: 5px; border: solid 1px #e8eef4; }
table th { padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4; }

/* MISC */
.clear { clear: both; }
.error { color: Red; }
nav, .nav, #menucontainer { margin-top: 40px; }
div#title { display: block; float: left; text-align: left; }
#logindisplay { font-size: 1.1em; display: block; text-align: right; margin: 10px; color: #444; }
#logindisplay a:link { color: #444; text-decoration: underline; }
#logindisplay a:visited { color: #444; text-decoration: underline; }
#logindisplay a:hover { color: #444; text-decoration: none; }

/* Styles for validation helpers */
.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }

/* Styles for editor and display helpers */
.display-label, .editor-label { margin: 1em 0 0 0; }
.display-field, .editor-field { margin: 0.5em 0 0 0; }
.text-box { width: 30em; }
.text-box.multi-line { height: 6.5em; }
.tri-state { width: 6em; }

/* TWO COLUMNS */
div.column_container { width: 100%; }
div.left_column { float: left; padding: 0; width: 49%; }
div.right_column { float: right; padding: 0; width: 49%; }



/* Bootstrap Dropdown Submenu */
.dropdown-submenu {
    position: relative;
}
 
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
 
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
 
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
 
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
 
.dropdown-submenu.pull-left {
    float: none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
 
.navbar-nav .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}
/* Bootstrap Dropdown Submenu end */