﻿@model IEnumerable<ISSG4.Models.Produkt>

@foreach (var item in Model) {
    <tr data-pkey="@item.ProduktId">
        <td>
            @Html.DisplayFor(modelItem => item.i3_RodzajOkresu.RodzajOkresuNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktIlosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_ProduktRodzaj.ProduktRodzajNazwa)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
