﻿@model ISSG4.Models.ZamowienieLog

<tr @if (Model != null) {
    @:data-pkey="@Model.ZamowienieLogId"
}>
    <td>
        @Html.DropDownList("issg_user_id", String.Empty)
        @Html.ValidationMessageFor(model => model.issg_user_id)
    </td>
    <td>
        @Html.DropDownList("ZamowienieId", String.Empty)
        @Html.ValidationMessageFor(model => model.ZamowienieId)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieLogData)
        @Html.ValidationMessageFor(model => model.ZamowienieLogData)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieLogOperacja)
        @Html.ValidationMessageFor(model => model.ZamowienieLogOperacja)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieLogOpis)
        @Html.ValidationMessageFor(model => model.ZamowienieLogOpis)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
