﻿@model IEnumerable<ISSG4.Models.ZamowienieLog>

@foreach (var item in Model) {
    <tr data-pkey="@item.ZamowienieLogId">
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Zamowienie.ZamowienieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieLogData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieLogOperacja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieLogOpis)
        </td>
@*        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>*@
    </tr>
}
