﻿@model ISSG4.Models.Zamowienie

<tr @if (Model != null) {
    @:data-pkey="@Model.ZamowienieId"
}>
    <td>
        @Html.EditorFor(model => model.issg_user_id)
        @Html.ValidationMessageFor(model => model.issg_user_id)
        @Html.HiddenFor(model => model.ZamowienieZablokowane)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieData)
        @Html.ValidationMessageFor(model => model.ZamowienieData)
    </td>
    @*<td>
        @Html.EditorFor(model => model.ZamowienieZablokowane)
        @Html.ValidationMessageFor(model => model.ZamowienieZablokowane)
    </td>*@
    <td>
        @Html.EditorFor(model => model.ZamowienieNetto)
        @Html.ValidationMessageFor(model => model.ZamowienieNetto)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieBrutto)
        @Html.ValidationMessageFor(model => model.ZamowienieBrutto)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieVat)
        @Html.ValidationMessageFor(model => model.ZamowienieVat)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieOplacone)
        @Html.ValidationMessageFor(model => model.ZamowienieOplacone)
    </td>
    <td>
        @Html.EditorFor(model => model.ZamowienieRecznaAktywacja)
        @Html.ValidationMessageFor(model => model.ZamowienieRecznaAktywacja)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
