﻿@model IEnumerable<ISSG4.Models.Zamowienie>

@foreach (var item in Model) {
    <tr data-pkey="@item.ZamowienieId">
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieId)
        </td>
        <td>
            <b>@item.Users.UserName</b><br />
            <span class="small">@item.Users.Imie @item.Users.Nazwisko<br />
            <a href="mailto:@item.Users.Email">@item.Users.Email</a></span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieData)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ZamowienieZablokowane)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ZamowienieNetto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieBrutto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieVat)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieOplacone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowienieRecznaAktywacja)
        </td>
        <td class="rowControl hidden">
            @*<a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>*@
            <a href="#details" class="details">Informacje szczegołowe</a><br />
            <a href="#recznaAktywacja" class="recznaAktywacja">Ręczna aktywacja</a>
        </td>
    </tr>
}
