﻿@model IEnumerable<ISSG4.Models.Zamowienie>
@{
    ViewBag.Title = "Zamówienia";
}
@{

    ViewBag.ItemsPerPage = ViewBag.ItemsPerPage ?? 20;
    ViewBag.ItemsPerPageOptions = ViewBag.ItemsPerPageOptions ?? new List<int>{ 10, 20, 50, 100 };

    int currentPage = ViewBag.Start / ViewBag.ItemsPerPage + 1;
    int pageCount = (ViewBag.Count - 1) / ViewBag.ItemsPerPage + 1;
    ViewBag.Start = (currentPage - 1) * ViewBag.ItemsPerPage;

    RouteValueDictionary currentRouteValues = new RouteValueDictionary(new {
        start = ViewBag.Start,
        itemsPerPage = ViewBag.ItemsPerPage,
        orderBy = ViewBag.OrderBy,
        desc = ViewBag.Desc
    });
}
<div class="modal" id="modalZamowienie">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" style="width:1024px; margin:auto;"  >
            <div class="modal-header">
                <h4 class="modal-title">Zamówienie</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            <div class="modal-body"  id="zawartosc">

            </div>
            </div>
        </div>
</div>

            @helper AjaxGridNavigation(int currentPage, int pageCount, RouteValueDictionary currentRouteValues)
            {
            <div class="AjaxGridNavigation">
                @{
                    int currentStart = (int)currentRouteValues["start"];
                    int itemsPerPage = (int)currentRouteValues["itemsPerPage"];
                }
                @if (currentPage != 1)
                {
                    currentRouteValues["start"] = 0;
                    <a href="@Url.RouteUrl(currentRouteValues)" class="begin">|&lt;</a>
                    currentRouteValues["start"] = currentStart - itemsPerPage;
                    <a href="@Url.RouteUrl(currentRouteValues)" class="prev">&lt;&lt;</a>
                }
                else
                {
                    <span class="begin">|&lt;</span> <span class="prev">&lt;&lt;</span>
                }
                <span>Strona</span> <input type="text" value="@currentPage" class="pageNum hidden" />
                <span class="pageNum">@currentPage</span> <span>z</span> <span class="pageCount">@pageCount</span>
                @if (currentPage != pageCount)
                {
                    currentRouteValues["start"] = currentStart + itemsPerPage;
                    <a href="@Url.RouteUrl(currentRouteValues)" class="next">&gt;&gt;</a>
                    currentRouteValues["start"] = (pageCount - 1) * itemsPerPage;
                    <a href="@Url.RouteUrl(currentRouteValues)" class="end">&gt;|</a>
                }
                else
                {
                    <span class="next">&gt;&gt;</span> <span class="end">&gt;|</span>
                }
                @{currentRouteValues["start"] = currentStart;}
                <a href="@Url.RouteUrl(currentRouteValues)" class="refresh">[Odśwież tabelę]</a>
                <span class="itemsPerPage hidden">
                    Elementów na stronę:
                    <select>
                        @foreach (var option in ViewBag.ItemsPerPageOptions)
                        {
                            <option value="@option" @if (option == ViewBag.ItemsPerPage) { @: selected="selected"
                                                        }>
                                @option
                                                    </option>
                        }
                    </select>
                </span>
            </div>
}

            <h2>Zamówienia</h2>

            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td>@Html.Label("nr", "Nr:")</td>
                        <td>@Html.TextBox("nr")</td>
                        <td>@Html.Label("dateFrom", "Od:")</td>
                        <td>@Html.TextBox("dateFrom", "", new { @class = "calendar" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("user", "Użytkownik:")</td>
                        <td>@Html.TextBox("user")</td>
                        <td>@Html.Label("dateTo", "Do:")</td>
                        <td>@Html.TextBox("dateTo", "", new { @class = "calendar" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="filterGrid" type="button" value="Filtruj" /></td>
                    </tr>
                </table>

                <p></p>
            }


            <div id="AjaxGridContainer">
                @*<p>
                        <a href="#insertEmptyRow" class="insertEmptyRow hidden">Nowy wiersz</a>
                    </p>*@
                @AjaxGridNavigation(currentPage, pageCount, currentRouteValues)
                <table id="AjaxGrid" class="centerElements">
                    <thead>
                        <tr>
                            <th data-column-name="ZamowienieId">
                                <span class="reorder">Nr</span>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieId", desc = true })" class="uparrow">&uarr;</a>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieId" })" class="downarrow">&darr;</a>
                            </th>
                            <th data-column-name="issg_user_id">
                                <span class="reorder">Użytkownik</span>
                                <a href="@Url.RouteUrl(new { orderBy = "issg_user_id", desc = true })" class="uparrow">&uarr;</a>
                                <a href="@Url.RouteUrl(new { orderBy = "issg_user_id" })" class="downarrow">&darr;</a>
                            </th>
                            <th data-column-name="ZamowienieData">
                                <span class="reorder">Data</span>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieData", desc = true })" class="uparrow">&uarr;</a>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieData" })" class="downarrow">&darr;</a>
                            </th>
                            @*<th data-column-name="ZamowienieZablokowane">
                                    <span class="reorder">ZamowienieZablokowane</span>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieZablokowane", desc = true })" class="uparrow">&uarr;</a>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieZablokowane" })" class="downarrow">&darr;</a>
                                </th>*@
                            @*<th data-column-name="Netto">
                                    <span class="reorder">Netto</span>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieNetto", desc = true })" class="uparrow">&uarr;</a>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieNetto" })" class="downarrow">&darr;</a>
                                </th>
                                <th data-column-name="Brutto">
                                    <span class="reorder">Brutto</span>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieBrutto", desc = true })" class="uparrow">&uarr;</a>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieBrutto" })" class="downarrow">&darr;</a>
                                </th>
                                <th data-column-name="ZamowienieVat">
                                    <span class="reorder">Vat</span>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieVat", desc = true })" class="uparrow">&uarr;</a>
                                    <a href="@Url.RouteUrl(new { orderBy = "ZamowienieVat" })" class="downarrow">&darr;</a>
                                </th>*@
                            <th data-column-name="Oplacone">
                                <span class="reorder">Oplacone</span>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieOplacone", desc = true })" class="uparrow">&uarr;</a>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieOplacone" })" class="downarrow">&darr;</a>
                            </th>
                            <th data-column-name="ZamowienieRecznaAktywacja">
                                <span class="reorder">Ręczna akt.</span>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieRecznaAktywacja", desc = true })" class="uparrow">&uarr;</a>
                                <a href="@Url.RouteUrl(new { orderBy = "ZamowienieRecznaAktywacja" })" class="downarrow">&darr;</a>
                            </th>
                            <th class="hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{Html.RenderAction("GridData", new { start = ViewBag.Start });}
                    </tbody>
                </table>
                @AjaxGridNavigation(currentPage, pageCount, currentRouteValues)
            </div>

            <style>
                #AjaxGrid, #AjaxGrid input, #AjaxGrid button {
                    clear: both;
                    width: 100%;
                }

                    #AjaxGrid thead {
                        white-space: nowrap;
                    }

                        #AjaxGrid thead a, #AjaxGridContainer .AjaxGridNavigation a {
                            text-decoration: none;
                        }

                    #AjaxGrid .error {
                        background-color: #f66;
                        color: #000;
                    }

                    #AjaxGrid .small {
                        font-size: 8pt;
                    }

                #AjaxGridContainer .hidden {
                    display: none;
                }

                #AjaxGridContainer .AjaxGridNavigation input.pageNum {
                    width: 2em;
                }

                #AjaxGridContainer .AjaxGridNavigation .itemsPerPage {
                    float: right;
                }
            </style>

            <script>
                (function($, undefined) {
                    var totalRowCount = @ViewBag.Count,
                        currentPage = 1,
                        pageCount = @pageCount,
                        savedParams = {
                            start: 0,
                            itemsPerPage: @ViewBag.ItemsPerPage
                            },
                        unloadWarningSet = false,
                        containerContext, gridContext, navigationContext;

                    $.ajaxSetup ({cache: false});

                    function reloadGrid(params) {
                        if (params.start === undefined || (params.start >= 0 && params.start < totalRowCount)) {
                            if (!unloadWarningSet || confirm('Nie zapisałeś zmian. Na pewno odświeżyć tabelę?')) {
                                unloadWarningSet = false;
                                $(window).unbind('beforeunload');

                                $.extend(savedParams, params);
                                currentPage = Math.floor(savedParams.start / savedParams.itemsPerPage) + 1;
                                savedParams.start = (currentPage - 1) * savedParams.itemsPerPage;

                                return $.get('@Html.Raw(Url.Action("GridData"))', savedParams).done(function(rows, status, xhr) {
                                    gridContext.find('tbody').html(rows);
                                    totalRowCount = Math.floor(xhr.getResponseHeader('X-Total-Row-Count'));
                                    pageCount = Math.ceil(totalRowCount / savedParams.itemsPerPage);

                                    gridContext.find('td').filter(':last-child').removeClass('hidden');
                                    navigationContext.find('input.pageNum').val(currentPage);
                                    navigationContext.find('span.pageCount').html(pageCount);
                                    navigationContext.find('.itemsPerPage select').val(savedParams.itemsPerPage);

                                    if (currentPage === 1) {
                                        navigationContext.find('a.prev, a.begin').each(disableLink);
                                    } else {
                                        navigationContext.find('span.prev, span.begin').each(enableLink);
                                    }
                                    if (currentPage === pageCount) {
                                        navigationContext.find('a.next, a.end').each(disableLink);
                                    } else {
                                        navigationContext.find('span.next, span.end').each(enableLink);
                                    }
                                });
                            }
                        }
                        return $.Deferred().reject();
                    }

                    function reorderByColumn(clickedArrow) {
                        var reloadParams = {
                            start: 0,
                            orderBy: $(clickedArrow).parent().data('column-name'),
                            desc: $(clickedArrow).is('.uparrow')
                        };
                        reloadGrid(reloadParams).done(function() {
                            gridContext.find('span.uparrow, span.downarrow').each(enableLink);
                            disableLink.call(clickedArrow);
                        });
                    }

                    function createRow(row) {
                        var postParams = getPostParams(row);
                        $.post('@Html.Raw(Url.Action("Create"))', postParams)
                            .done(function(newRow) {
                                row.replaceWith(newRow);
                                totalRowCount++;
                                clearUnloadWarning();
                            })
                            .fail(function() {
                                row.addClass('error');
                            });
                    }

                    function makeRowEditable(row) {
                        $.get(encodeURI('@Html.Raw(Url.Action("Edit"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), function(editableRow) {
                            row.replaceWith(editableRow);
                        });
                        setUnloadWarning();
                    }

                    function editRow(row) {
                        var postParams = getPostParams(row);
                        postParams.push({name: 'ZamowienieId', value: row.data('pkey')});
                        $.post(encodeURI('@Html.Raw(Url.Action("Edit"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), postParams)
                            .done(function(newRow) {
                                row.replaceWith(newRow);
                                clearUnloadWarning();
                            })
                            .fail(function() {
                                row.addClass('error');
                            });
                    }

                    function deleteRow(row) {
                        if (confirm('Na pewno skasować ten wiersz?')) {
                            $.post(encodeURI('@Html.Raw(Url.Action("Delete"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))))
                                .done(function() {
                                    row.remove();
                                    totalRowCount--;
                                })
                                .fail(function() {
                                    alert('Row deletion failed.');
                                });
                        }
                    }

                    function disableLink() {
                        var elem = $(this),
                            classes = elem.attr('class'),
                            href = elem.attr('href'),
                            html = elem.html();
                        elem.replaceWith($('<span data-href="' + href + '" class="' + classes + '">' + html + '</span>'));
                    }

                    function enableLink() {
                        var elem = $(this),
                            classes = elem.attr('class'),
                            href = elem.data('href'),
                            html = elem.html();
                        elem.replaceWith($('<a href="' + href + '" class="' + classes + '">' + html + '</a>'));
                    }

                    function getPostParams(row) {
                        return row.find(':input[name]:not(:disabled)').filter(':not(:checkbox), :checked').map(function () {
                            var input = $(this);
                            return { name: input.attr('name'), value: input.val() };
                        }).get();
                    }

                    function setUnloadWarning() {
                        if (!unloadWarningSet) {
                            unloadWarningSet = true;
                            $(window).bind('beforeunload', function() {
                                return 'You have unsaved changes. Are you sure you want to leave?';
                            });
                        }
                    }

                    function clearUnloadWarning() {
                        gridContext.find('td').filter(':last-child').removeClass('hidden');
                        if (unloadWarningSet && $('.createRow, .editRow').length === 0) {
                            unloadWarningSet = false;
                            $(window).unbind('beforeunload');
                        }
                    }

                    function filter() {
                        reloadGrid({ nr: $('#nr').val(), user: $('#user').val(), dateFrom: $("#dateFrom").val(), dateTo: $("#dateTo").val() });
                    }

                    function recznaAktywacja(row) {
                        $.get(encodeURI('@Html.Raw(Url.Action("RecznaAktywacja"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), function(table) {
                            // $.fancybox(table, {

                            $('#modalZamowienie').find("#zawartosc").html(table);
                            $('#modalZamowienie').modal('show');
                             //   'hideOnContentClick': false
                            //});
                        });
                    }

                    function details(row) {
                        $.get(encodeURI('@Html.Raw(Url.Action("Index", "ZamowieniePozycja"))?parentId=__ID__'.replace(/__ID__/, row.data('pkey'))), function(table) {
                            //$.fancybox(table, {

                            $('#modalZamowienie').find("#zawartosc").html(table);
                            $('#modalZamowienie').modal('show');
                            //'hideOnContentClick': false
                            //});
                        });




                    }

                    $(function () {
                        containerContext = $('#AjaxGridContainer');
                        gridContext = containerContext.find('#AjaxGrid');
                        navigationContext = containerContext.find('.AjaxGridNavigation');

                        containerContext.find('.insertEmptyRow').removeClass('hidden');
                        navigationContext.find('input.pageNum').removeClass('hidden');
                        navigationContext.find('.itemsPerPage').removeClass('hidden');
                        navigationContext.find('span.pageNum').addClass('hidden');
                        gridContext.find('th span.reorder').each(enableLink);
                        gridContext.find('tr > *').filter(':last-child').removeClass('hidden');

                        navigationContext.delegate('a.prev', 'click', function(e) {
                            reloadGrid({start: savedParams.start - savedParams.itemsPerPage});
                            e.preventDefault();
                        });
                        navigationContext.delegate('a.next', 'click', function(e) {
                            reloadGrid({start: savedParams.start + savedParams.itemsPerPage});
                            e.preventDefault();
                        });
                        navigationContext.delegate('a.begin', 'click', function(e) {
                            reloadGrid({start: 0});
                            e.preventDefault();
                        });
                        navigationContext.delegate('a.end', 'click', function(e) {
                            reloadGrid({start: (pageCount - 1) * savedParams.itemsPerPage});
                            e.preventDefault();
                        });
                        navigationContext.find('a.refresh').click(function(e) {
                            reloadGrid({});
                            e.preventDefault();
                        });

                        navigationContext.find('input.pageNum')
                            .keyup(function(e) {
                                if (e.keyCode === 13) {
                                    $(this).blur();
                                }
                            })
                            .blur(function() {
                                var newPageNum = Number($(this).val());
                                if (newPageNum >= 1 && newPageNum <= pageCount) {
                                    reloadGrid({start: (newPageNum - 1) * savedParams.itemsPerPage});
                                } else {
                                    $(this).val(currentPage);
                                }
                            });

                        navigationContext.find('.itemsPerPage select').change(function() {
                            reloadGrid({itemsPerPage: Number($(this).val())});
                        });

                        gridContext.delegate('thead a.uparrow, thead a.downarrow', 'click', function(e) {
                            reorderByColumn(this);
                            e.preventDefault();
                        });
                        gridContext.find('thead a.reorder').click(function(e) {
                            var th = $(this).parent(),
                                arrow = th.find('a.downarrow');
                            if (arrow.length === 0) {
                                arrow = th.find('a.uparrow');
                            }
                            reorderByColumn(arrow[0]);
                            e.preventDefault();
                        });

                        $('.insertEmptyRow').click(function(e) {
                            $.get('@Html.Raw(Url.Action("Create"))', function(emptyRow) {
                                gridContext.find('tbody').prepend(emptyRow);
                            });
                            setUnloadWarning();
                            e.preventDefault();
                        });
                        gridContext.delegate('.createRow', 'click', function() {
                            createRow($(this).parents('tr'));
                        });
                        gridContext.delegate('.cancelCreateRow', 'click', function() {
                            $(this).parents('tr').remove();
                            clearUnloadWarning();
                        });

                        gridContext.delegate('.makeRowEditable', 'click', function(e) {
                            makeRowEditable($(this).parents('tr'));
                            e.preventDefault();
                        });
                        gridContext.delegate('.editRow', 'click', function() {
                            editRow($(this).parents('tr'));
                        });
                        gridContext.delegate('.cancelEditRow', 'click', function() {
                            var row = $(this).parents('tr');
                            $.get(encodeURI('@Html.Raw(Url.Action("RowData"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), function(newRow) {
                                row.replaceWith(newRow);
                                clearUnloadWarning();
                            });
                        });

                        gridContext.delegate('.deleteRow', 'click', function(e) {
                            deleteRow($(this).parents('tr').eq(0));
                            e.preventDefault();
                        });

                        gridContext.delegate('.recznaAktywacja', 'click', function (e) {
                            recznaAktywacja($(this).parents('tr').eq(0));
                            e.preventDefault();
                        });

                        gridContext.delegate('.details', 'click', function (e) {
                            details($(this).parents('tr').eq(0));
                            e.preventDefault();
                        });

                        $('body').delegate('.anulujAktywacje', 'click', function (e) {
                            $.fancybox.close();
                            e.preventDefault();
                        });

                        $('body').delegate('.zapiszAktywacje', 'click', function (e) {
                            $.post('@Html.Raw(@Url.Action("RecznaAktywacja"))', $("#fromAktywacja").serialize())
                            .done(function () {
                                $('#modalZamowienie').modal('toggle');
                                reloadGrid({});
                            });
                            e.preventDefault();
                        });

                        $('#filterGrid').click(function(e) {
                            filter();
                            e.preventDefault();
                        });

                        $('#nr, #user').keypress(function(e) {
                            if (e.keyCode === 13) {
                                filter();
                                e.preventDefault();
                            }
                        });

                    });
                })(jQuery);
            </script>
