﻿@model ISSG4.Controllers.Backend.ZamowienieController.RecznaAktywacjaViewModel

@{
    ViewBag.Title = "Ręczna aktywacja";
}

<div style="width: 400px;">
<h2>Ręczna aktywacja</h2>

<form id="fromAktywacja">
@Html.HiddenFor(m => m.ZamowienieId)
<table>
    <tr>
        <td>Aktywacja</td>
        <td>@Html.CheckBoxFor(model => model.Aktywacja)</td>
    </tr>

    <tr>
        <td>Powód</td>
        <td>@Html.TextAreaFor(model => model.Opis, new { style = "width: 300px; height: 150px;" })</td>
    </tr>
</table>
</form>
<p></p>
<p>
    <input class="zapiszAktywacje" type="button" value="Zapisz" />
    <input class="anulujAktywacje" type="button" value="Anuluj" />
</p>

</div>