﻿@model ISSG4.Models.Gazeta

<tr @if (Model != null) {
    @:data-pkey="@Model.GazetaId"
}>
    <td>
        @Html.EditorFor(model => model.GazetaNazwa)
        @Html.ValidationMessageFor(model => model.GazetaNazwa)
        <br/>
        @Html.EditorFor(model => model.GazetaNazwaOpis)
        @Html.ValidationMessageFor(model => model.GazetaNazwaOpis)
    </td>
    <td>
        @Html.EditorFor(model => model.GazetaSkrot)
        @Html.ValidationMessageFor(model => model.GazetaSkrot)
    </td>
    <td>
        @Html.DropDownList("GazetaTypId", String.Empty)
        @Html.ValidationMessageFor(model => model.GazetaTypId)
    </td>
    <td>
        @Html.DropDownList("WydawcaId", String.Empty)
        @Html.ValidationMessageFor(model => model.WydawcaId)
    </td>
    <td>
        @Html.EditorFor(model => model.GazetaBezplatna)
        @Html.ValidationMessageFor(model => model.GazetaBezplatna)
    </td>
    <td>
        @Html.DropDownList("GazetaKodId", String.Empty)
        @Html.ValidationMessageFor(model => model.GazetaKodId)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>


