﻿@model IEnumerable<ISSG4.Models.Gazeta>

@foreach (var item in Model) {
    <tr data-pkey="@item.GazetaId">
        <td>
            @Html.DisplayFor(modelItem => item.GazetaNazwa)
            <br/>
            @Html.DisplayFor(modelItem => item.GazetaNazwaOpis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GazetaSkrot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_GazetaTyp.GazetaTypNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Wydawca.WydawcaNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GazetaBezplatna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_GazetaKod.GazetaKodNumer)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
