﻿@model IEnumerable<ISSG4.Models.Pobranie>

@foreach (var item in Model) {
    <tr data-pkey="@item.PobranieId">
        <td>
            @Html.DisplayFor(modelItem => item.PobranieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PobranieData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowieniePozycjaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Wydanie.WydanieData,"_ddmmyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PobranieIp)
        </td>
    </tr>
}
