﻿@model List<ISSG4.Models.viewZamowienieJoined>
@{
    ViewBag.Title = "Moje prenumeraty";
    int Nr1 = 0;
    int Nr2 = 0;

    List<ISSG4.Models.viewZamowienieJoined> Aktywowane = Model
        .Where(m => m.ZamowienieOplacone == true || m.ZamowienieRecznaAktywacja == true)
        .OrderByDescending(m => m.ZamowienieData)
        .ToList();

    List<ISSG4.Models.viewZamowienieJoined> Nieaktywowane = Model
        .Where(m => m.ZamowienieOplacone == false && m.ZamowienieRecznaAktywacja == false)
        .Where(m=>m.ZamowieniePozycjaWidoczna =="t")
        .OrderByDescending(m => m.ZamowienieData)
        .ToList();
}
<h2>
    Moje prenumeraty</h2>

    @if (!User.IsInRole("Prenum"))
    {
        <p>
            <a href="@Url.Action("Nowa")" class="btn btn-info">
               @* <img src="/Przycisk/Dodaj%20nową%20prenumeratę" alt="Utwórz nową prenumeratę" />*@
                Dodaj nową prenumeratę
            </a>
        </p>
    }
    
@if (Model.Count == 0)
{
    <p>
        Nie posiadasz żadnych prenumerat.</p>
}
else
{

    if (Aktywowane.Count > 0)
    {
    <h3>
        Wykupione prenumeraty</h3>
    
    <table style="width: 100%; text-align: center;" class="table table-responive" >
        <thead>
            <tr>
                @*<th>Nr</th>*@
                <th>
                    Nr zam.
                </th>
                <th>
                    Gazeta
                </th>
                <th>
                    Rodzaj prenumeraty
                </th>
                <th>
                    Ważna od
                </th>
                <th>
                    Ważna do
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Aktywowane)
            {
                //Nr2++;
                <tr>
                    @*<td>@Nr2</td>*@
                    <td>@item.ZamowienieId
                    </td>
                    <td>
                        <a href="/Home/Archiwum/@item.GazetaId?tylkoMoje=true">@item.GazetaNazwa</a>
                    </td>
                    <td>@item.ProduktNazwa
                    </td>
                    <td>@item.ZamowieniePozycjaOd.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td>@item.ZamowieniePozycjaDo.ToString("d\\/MM\\/yyyy")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }


    if (Nieaktywowane.Count > 0)
    {
    <h3>
        Prenumeraty oczekujące na opłatę</h3>
    
    <table style="width: 100%; text-align: center;" class="table table-responive">
        <thead>
            <tr>
                @*<th>Nr</th>*@
                <th>
                    Nr zam.
                </th>
                <th>
                    Gazeta
                </th>
                <th>
                    Rodzaj prenumeraty
                </th>
                <th>
                    Ważna od
                </th>
                <th>
                    Ważna do
                </th>
                <th style="width:160px">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Nieaktywowane)
            {
                //Nr1++;
                <tr>
                    @*<td>@Nr1</td>*@
                    <td>@item.ZamowienieId
                    </td>
                    <td>@item.GazetaNazwa
                    </td>
                    <td>@item.ProduktNazwa
                    </td>
                    <td>@item.ZamowieniePozycjaOd.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td>@item.ZamowieniePozycjaDo.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td style="width:160px">
                        <a href="@Url.Action("Ukryj", new { id=@item.ZamowieniePozycjaId})" class="btn btn-info">
                            @*<img src="/Przycisk/Ukryj" alt="Ukryj prenumeratę" />*@
                            Ukryj prenumeratę
                        </a>                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }



}