﻿@using System.Linq;
@model ISSG4.Controllers.PrenumerataController.NowaViewModel
@{
    ViewBag.Title = "Nowa prenumerata";
}
<h2>Nowa prenumerata</h2>

@using (Html.BeginForm())
{
   
@Html.ValidationSummary("Popraw następujące błędy:");

if (Model.Gazety.Count > 1)
{
    <table class="nowaPrenumerata">
    
        <tr>
            <td>@Html.Label("GazetaId", "Wybierz Gazetę:")</td>
            <td>@Html.DropDownList("GazetaId", Model.Gazety.OrderBy(d => d.Value))</td>

            <td>@Html.Label("Od", "Data początku:")</td>
            <td>@Html.TextBoxFor(m => m.Od, new { @class = "calendar" })</td>
        </tr>

        <tr>
            <td>@Html.Label("ProduktId", "Wybierz produkt:")</td>
            <td>@Html.DropDownList("ProduktId", Model.Produkty)</td>
            <td>
                @if (Model.Dodatki.First().Value != "0")
                {
                    @Html.Label("DodatekId", "Wybierz dodatek:")
                }
            </td>
            <td>
                @if (Model.Dodatki.First().Value != "0")
                {
                       @Html.DropDownList("DodatekId", Model.Dodatki)
                }
            </td>
            
        </tr>

    </table>
     <div style="width:100%; display:inline-block">
             <p style="margin-top: 20px; text-align: right;">
                <input type="image" src="/Content/DodajDoKoszyka.png" />
             </p>
        </div>
}
else
{
     @* kurier *@
    
    <div id="ks_nowa_prenumerata">
        <div style="display:none">
            @Html.DropDownList("GazetaId", Model.Gazety.OrderBy(d => d.Value))
            
        </div>
        @Html.HiddenFor(d => d.DodatekId, new { @value = "0" })
        <div id="radio-prenum">

            @foreach (SelectListItem sli in Model.Produkty)
            {
                <!-- Default checked -->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="PR_@sli.Value" name="ProduktId" value="@sli.Value"
                           @if(sli.Value == "20")
                           {
                               <text>checked</text>
                           }
                           >
                    <label class="custom-control-label" for="PR_@sli.Value">@sli.Text</label>
                </div>
            }
        </div>

     </div>

        <div> 
          <div>
            @Html.Label("Od", "Data początku:")
          </div>
          <div> 
            @Html.TextBoxFor(m => m.Od, new { @class = "calendar"})
          </div>
        </div>

        <div style="width:100%; display:inline-block">
             <p style="margin-top: 20px; text-align: left;">
                <input type="image" src="/Content/DodajDoKoszyka.png" />
             </p>
        </div>

        <script>
            //$('#Od').datepicker({
            //    uiLibrary: 'bootstrap4',
            //    format: 'yyyy-mm-dd'
            //});

            $('#Od').datepicker({
                format: "dd-mm-yyyy",
                weekStart: 1,
                language: "pl",
                autoclose: true,
                todayHighlight: true
            });


        </script>


<!-- Google Code for 1. Nowa prenumerata Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 857666731;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "r-FkCP6Dv28Qq-n7mAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
 src="//www.googleadservices.com/pagead/conversion/857666731/?label=r-FkCP6Dv28Qq-n7mAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>    
    
        
}

}