﻿@{
    ViewBag.Title = "Dodano prenumeratę do koszyka";
}

<h2>Dodano prenumeratę do koszyka</h2>

<p>
    <a href="@Url.Action("Nowa")"><img src="/Przycisk/Dodaj%20nową%20prenumeratę" alt="Dodaj nową prenumeratę" /></a>
    <a href="@Url.Action("Index", "Koszyk")"><img src="/Przycisk/Przejdź%20do%20koszyka%20i%20zapłać" alt="Przejdź do koszyka i zapłać" /></a>
</p>