﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using MvcSiteMapProvider.Web.Html.Models

@* wersja z linkiem do Zaloguj zamiast z rozwijanym menu Konto *@
<header>
    <nav class="navbar navbar-light bg-light navbar-expand-md shadow-sm">
        <a class="navbar-brand" href="/">
            <img src="/Content/img/ekurier.png" alt="kurier logo" @*height="40"*@ width="100"
                 class="d-inline-block mr-1 align-bottom"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="https://www.24kurier.pl" target="_blank">
                        <i class="far fa-bookmark"></i>
                        24Kurier.pl 
                    </a>
                </li>

               @* <li class="nav-item">
                    <a class="nav-link" href="/"><i class="far fa-newspaper mr-1"></i> Początek </a>
                </li>*@
                
                @foreach (var node in Model.Nodes)
            {
                    <li>
                        @*Html.DisplayFor(m => node)*@
                        @if (node.Parent != null)
                        {
                            <a class="nav-link" href="@node.Url">
                                @if (@node.Title == "Prenumerata")
                                {
                                    <i class="far fa-money-bill-alt mr-1"></i>
                                }
                                @if (@node.Title == "Szukaj")
                                {
                                    <i class="fas fa-search mr-1"></i>
                                }

                                @if (@node.Title == "Kontakt")
                                {
                                    <i class="far fa-envelope mr-1"></i>
                                }
                                                              
                                @node.Title
                        
                        </a>
                        }

                    </li>
                }
                @{
                    if (!Request.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link" href="/Konto/Zaloguj">
                                <i class="fas fa-user mr-2"></i>
                            Zaloguj się</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Konto
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                @{if (Request.IsAuthenticated)
                                    {
                                        if (User != null)
                                        {
                                            if (!User.IsInRole("Prenum"))
                                            {
                                                <a class="dropdown-item" href="/Konto/Edytuj">Edytuj konto</a>
                                            }
                                            <a class="dropdown-item" href="/Konto/ZmienHaslo">Zmień hasło</a>
                                            <a class="dropdown-item" href="/Konto/Wyloguj">Wyloguj się</a>
                                        }
                                    }
                                    else
                                    {
                                        <text>
                                            <a class="dropdown-item" href="/Konto/Nowe">Zarejestruj się</a>
                                            <a class="dropdown-item" href="/Konto/ResetujHaslo">Zapomniałem hasło</a>
                                            <a class="dropdown-item" href="/Konto/Zaloguj">Zaloguj się</a>
                                        </text>
                                    }
                                }
                            </div>
                        </li>
                                    }
                }
                <li>

                    <div>
                        @if (!User.IsInRole("Prenum"))
            {
                            <text>
                                <a class="nav-link" href="/Koszyk/Index">
                                    Twój koszyk:
                                    <span id="koszykIlosc">
                                        @(ISSG4.Models.Koszyk.iloscProduktow())
                                    </span>
                                </a>
                            </text>
                        }
                    </div>

                </li>

            </ul>
            

            @if (User.IsInRole("Administratorzy"))
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ustawienia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <text style="font-size:.8em">

                                <a class="dropdown-item" href="/Zamowienie">Zamówienia</a>
                                <a class="dropdown-item" href="/Klient">Klienci</a>
                                <a class="dropdown-item" href="/AktywacjaWydan">Wydania</a>
                                <a class="dropdown-item" href="/Report">Raporty</a>
                                <a class="dropdown-item" href="/CennikNaglowek">Cennik</a>
                                <a class="dropdown-item" href="/Dodatek">Dodatki</a>
                                <a class="dropdown-item" href="/Gazeta">Gazeta</a>
                                <a class="dropdown-item" href="/PromoKody">Kody Promocyjne</a>
                                <a class="dropdown-item" href="/GazetaKod">Kody SMS</a>
                                <a class="dropdown-item" href="/GazetaTyp">Typy gazet</a>

                                <a class="dropdown-item" href="/PobranieDarmowe">Pobranie bezpłatne</a>
                                <a class="dropdown-item" href="/Kod">Pobranie kody</a>
                                <a class="dropdown-item" href="/Pobranie">Pobranie zamówienia</a>
                                <a class="dropdown-item" href="/Produkt">Produkty</a>
                                <a class="dropdown-item" href="/ProduktRodaj">Rodzaje produktów</a>
                                <a class="dropdown-item" href="/RodzajOkresu">Okres</a>
                                <a class="dropdown-item" href="/Vat">Vat</a>
                                <a class="dropdown-item" href="/Wydawca">Wydawca</a>
                                <a class="dropdown-item" href="/ZamowienieLog">Zamowienia Log</a>
                                <a class="dropdown-item" href="/ImportKod">Kody - import</a>
                                <a class="dropdown-item" href="/KodBufor">Kody - bufor</a>

                            </text>
                        </div>
                    </li>
                </ul>
            }

        </div>
    </nav>
</header>


@*
<mvcSiteMapNode title="Pobranie bezpłatne" controller="PobranieDarmowe" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Pobranie kody" controller="Kod" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Pobranie zamówienia" controller="Pobranie" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Produkty" controller="Produkt" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Rodzaje produktów" controller="ProduktRodaj" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Okres" controller="RodzajOkresu" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Vat" controller="Vat" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Wydawca" controller="Wydawca" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Zamowienia Log" controller="ZamowienieLog" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Kody - import" controller="ImportKod" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Kody - bufor " controller="KodBufor" action="Index" roles="Administratorzy" />

<mvcSiteMapNode title="Zamowienia" controller="Zamowienie" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Klienci" controller="Klient" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Raporty" controller="Report" action="Index" roles="Administratorzy" />

<mvcSiteMapNode title="Cennik" controller="CennikNaglowek" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Dodatki" controller="Dodatek" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Gazeta" controller="Gazeta" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Kody Promocyjne" controller="PromoKody" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Kody SMS" controller="GazetaKod" action="Index" roles="Administratorzy" />
<mvcSiteMapNode title="Typy gazet" controller="GazetaTyp" action="Index" roles="Administratorzy" />

*@