﻿@model string
@if (Model != null)
{
    if (Model.Equals("t"))
    {
        <input type="checkbox" checked="checked"  class="largerCheckbox"/>
    }
    else
    {
        <input type="checkbox" readonly="readonly" disabled="disabled"  class="largerCheckbox"/>
    }
}
  else
    {
        <input type="checkbox" readonly="readonly" disabled="disabled"  class="largerCheckbox"/>
    }
