﻿@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtFotoView
@{
    ViewBag.Title = "Zdjęcie edycja "+Model.art_foto.ArtFotoId.ToString();
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/focuspoint.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.focuspoint.js")" type="text/javascript"></script>
</head>
@* <img src="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(Model.art_foto.ArtFotoFilePath)" alt="Image" /> *@

<body>

    <input id="krop-x" type="text" value="0.38" /><br />
    <input id="krop-y" type="text" value="0.03" /><br />
    <input id="krop-w" type="text" value="265" /><br />
    <input id="krop-h" type="text" value="400" /><br />

    <input id="kropuj" type="button" class="btn btn-info" value="Test" />
    
        <div id="Frame2" class="focuspoint" 
             style="position:absolute; 
                border:3px solid blue;

                left:19%; 
                top:0%;
                width:20%; 
                height:30%"

             data-focus-x="0.0" 
             data-focus-y="0.0" 
             data-image-w="533" 
             data-image-h="800">

            <img src="/Content/obraz1.jpg" alt="" />

        </div>

    <script type="text/javascript">

    (function ($) {

        $(document).ready(function () {
            console.log('start');
            $('.focuspoint').focusPoint();
            console.log('after');
        });

        $('#kropuj').click(function () {

            var x = $('#krop-x').val();
            var y = $('#krop-y').val();
            var w = $('#krop-w').val();
            var h = $('#krop-h').val();

            console.log('x:' + x + '; y:' + y + '; w:' + w + '; h:' + h);

            $('.focuspoint').attr({
                'data-focus-x': x,
                'data-focus-y': y,
                'data-image-w': w,
                'data-image-h': h
            });

            console.log('FULL: '+$('.focuspoint').html());

            console.log('focuspoint()');

            $('.focuspoint').focusPoint();

            console.log('script end');

        });

    }(jQuery));

    </script>


    
</body>

</html>
