﻿@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtFotoView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Zdjęcie edycja " + Model.art_foto.ArtFotoId.ToString();
}

    <style>

    /* !INFO */
    /*-----------------------------------------*/
    #Info {
        position: absolute;
        left: 2%;
        top: 2%;
        /*width: 50%;*/
        box-shadow: 0px 0px 13px rgba(0,0,0,0.6);
        background: #fff;
        border: 1px solid #fff;
    }
    #Info p {
        font-size: 12px;
        padding: 10px;
        margin: 0;
    }
    #Original {
        position: relative;
    }
    #Original img {
        width: auto;
        height: auto;
        max-width: 100%;
        display: block;
        margin: 0;
    }
    #Original h4 {
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    #Original h4 span {
        font-size: 12px;
        padding: 3px 10px;
        border-radius: 100px;
        background: rgba(0,0,0,0.32);
        color: #fff;
    }

    /* !CONTAINERS - GRID */
    /*-----------------------------------------*/


    #Frame1, #Frame2, #Frame3, #Frame4, #Frame5, #Frame6, #Frame7, #Frame8, #Frame9 {
        position: absolute;
        overflow: hidden;
        border: 5px solid #fff;
        margin: -5px 0 0 -5px;
    }
    #Frame1, #Frame4, #Frame7 {
        width: 66.6666667%;
        left: 0;
    }
    #Frame2, #Frame5, #Frame8 {
        width: 22.2222222%;
        left: 66.6666667%;
    }
    #Frame3, #Frame6, #Frame9 {
        width: 11.1111111%;
        left: 88.8888889%;
    }
    #Frame1, #Frame2, #Frame3 {
        height: 66.6666667%;
        top: 0;
    }
    #Frame4, #Frame5, #Frame6 {
        height: 22.2222222%;
        top: 66.6666667%;
    }
    #Frame7, #Frame8, #Frame9 {
        height: 11.1111111%;
        top: 88.8888889%;
    }

    </style>


<div id="Info">
    <div class="helper-tool">

        <h1>Wskaż punkt</h1>
      
        <div class="helper-tool-target">
            <img class="helper-tool-img">
            <img class="reticle" src="../../Content/img/focuspoint-target.png">
            <img class="target-overlay">
        </div>
        <p>
            <input name="set-src" id="set-src" class='helper-tool-set-src' type='hidden'>
        </p>

        <p>
            <input class='helper-tool-data-attr' id="data-attr" name="data-attr" type='hidden' placeholder='data-focus-x="0" data-focus-y="0" '>
            <input id="ArtFotoId" type="hidden" value="@Model.art_foto.ArtFotoId" />
            <input id="ArtFotoCropData" type="text" value="@Model.art_foto.ArtFotoCropData" />
            <button id="Zapisz" type="button" class="btn btnInfo">
                Zapisz
            </button>
        </p>

        <p>
            <input class='helper-tool-css3-val' id="css3-val" name="css3-val" type='hidden' placeholder='background-position:' >
        </p>

    </div><!-- End Helper Tool -->
</div>

    

        <script type="text/javascript">


            (function ($) {
                $(document).ready(function () {

                    var defaultImage;
                    var $dataAttrInput;
                    var $cssAttrInput;
                    var $focusPointContainers;
                    var $focusPointImages;
                    var $helperToolImage;

                    //This stores focusPoint's data-attribute values
                    var focusPointAttr = {
                        x: 0,
                        y: 0,
                        w: 0,
                        h: 0
                    };

                    //Initialize Helper Tool
                    (function () {

                        //Initialize Variables
                        //defaultImage = '../img/city_from_unsplash.jpg';
                        defaultImage = "/Art/ShowFoto?src=@ViewBag.termin_string\\@Path.GetFileName(Model.art_foto.ArtFotoFilePath)";
                        $dataAttrInput = $('.helper-tool-data-attr');
                        $cssAttrInput = $('.helper-tool-css3-val');
                        $helperToolImage = $('img.helper-tool-img, img.target-overlay');

                        //Create Grid Elements
                        for (var i = 1; i < 10; i++) {
                            $('#Frames').append('<div id="Frame' + i + '" class="focuspoint"><img/></div>');
                        }
                        //Store focus point containers
                        $focusPointContainers = $('.focuspoint');
                        $focusPointImages = $('.focuspoint img');

                        //Set the default source image
                        setImage(defaultImage);

                    })();

                    /*-----------------------------------------*/

                    // function setImage(<URL>)
                    // Set a new image to use in the demo, requires URI to an image

                    /*-----------------------------------------*/

                    function setImage(imgURL) {
                        //Get the dimensions of the image by referencing an image stored in memory
                        $("<img/>")
                            .attr("src", imgURL)
                        //.load(function () {
                        .on("load", function () {
                                focusPointAttr.w = this.width;
                                focusPointAttr.h = this.height;

                                //Set src on the thumbnail used in the GUI
                                $helperToolImage.attr('src', imgURL);

                                //Set src on all .focuspoint images
                                $focusPointImages.attr('src', imgURL);

                                //Set up initial properties of .focuspoint containers

                                /*-----------------------------------------*/
                                // Note ---
                                // Setting these up with attr doesn't really make a difference
                                // added to demo only so changes are made visually in the dom
                                // for users inspecting it. Because of how FocusPoint uses .data()
                                // only the .data() assignments that follow are necessary.
                                /*-----------------------------------------*/
                                $focusPointContainers.attr({
                                    'data-focus-x': focusPointAttr.x,
                                    'data-focus-y': focusPointAttr.y,
                                    'data-image-w': focusPointAttr.w,
                                    'data-image-h': focusPointAttr.h
                                });

                                /*-----------------------------------------*/
                                // These assignments using .data() are what counts.
                                /*-----------------------------------------*/
                                $focusPointContainers.data('focusX', focusPointAttr.x);
                                $focusPointContainers.data('focusY', focusPointAttr.y);
                                $focusPointContainers.data('imageW', focusPointAttr.w);
                                $focusPointContainers.data('imageH', focusPointAttr.h);

                                //Run FocusPoint for the first time.
                                $('.focuspoint').focusPoint();

                                //Update the data attributes shown to the user
                                printDataAttr();

                            });
                    }

                    /*-----------------------------------------*/

                    // Update the data attributes shown to the user

                    /*-----------------------------------------*/

                    function printDataAttr() {
                        console.log('printDataAttr START');
                        console.log(focusPointAttr.x.toFixed(2));
                        console.log(focusPointAttr.y.toFixed(2));
                        console.log('printDataAttr END');

                        //fx=-1&fy=0.2 issg4 template

                        $('#ArtFotoCropData').val('fx=' + focusPointAttr.x.toFixed(2) + '&fy=' + focusPointAttr.y.toFixed(2) + '');

                        $dataAttrInput.val('data-focus-x="' + focusPointAttr.x.toFixed(2) +
                            '" data-focus-y="' + focusPointAttr.y.toFixed(2) +
                            '" data-image-w="' + focusPointAttr.w +
                            '" data-image-h="' + focusPointAttr.h + '"');
                    }

                    /*-----------------------------------------*/

                    // Bind to helper image click event
                    // Adjust focus on Click / provides focuspoint and CSS3 properties

                    /*-----------------------------------------*/

                    $helperToolImage.click(function (e) {

                        var imageW = $(this).width();
                        var imageH = $(this).height();

                        //Calculate FocusPoint coordinates
                        var offsetX = e.pageX - $(this).offset().left;
                        var offsetY = e.pageY - $(this).offset().top;
                        var focusX = (offsetX / imageW - .5) * 2;
                        var focusY = (offsetY / imageH - .5) * -2;
                        focusPointAttr.x = focusX;
                        focusPointAttr.y = focusY;

                        //Write values to input
                        printDataAttr();

                        //Update focus point
                        updateFocusPoint();

                        //Calculate CSS Percentages
                        var percentageX = (offsetX / imageW) * 100;
                        var percentageY = (offsetY / imageH) * 100;
                        var backgroundPosition = percentageX.toFixed(0) + '% ' + percentageY.toFixed(0) + '%';
                        var backgroundPositionCSS = 'background-position: ' + backgroundPosition + ';';
                        $cssAttrInput.val(backgroundPositionCSS);

                        //Leave a sweet target reticle at the focus point.
                        $('.reticle').css({
                            'top': percentageY + '%',
                            'left': percentageX + '%'
                        });
                    });

                    /*-----------------------------------------*/

                    // Change image on paste/blur
                    // When you paste an image into the specified input, it will be used for the demo

                    /*-----------------------------------------*/

                    $('input.helper-tool-set-src').on('paste blur', function (e) {
                        var element = this;
                        setTimeout(function () {
                            var text = $(element).val();
                            setImage(text);
                        }, 100);
                    });

                    /*-----------------------------------------*/

                    /* Update Helper */
                    // This function is used to update the focuspoint

                    /*-----------------------------------------*/

                    function updateFocusPoint() {
                        /*-----------------------------------------*/
                        // See note in setImage() function regarding these attribute assignments.
                        //TLDR - You don't need them for this to work.
                        /*-----------------------------------------*/
                        $focusPointContainers.attr({
                            'data-focus-x': focusPointAttr.x,
                            'data-focus-y': focusPointAttr.y
                        });
                        /*-----------------------------------------*/
                        // These you DO need :)
                        /*-----------------------------------------*/
                        $focusPointContainers.data('focusX', focusPointAttr.x);
                        $focusPointContainers.data('focusY', focusPointAttr.y);
                        $focusPointContainers.adjustFocus();
                    };

                    $('#Zapisz').click(function (e) {

                        ajax("/ArtFoto/SaveFocus",
                            {
                                ArtFotoId: $("#ArtFotoId").val(),
                                ArtFotoCropData: $("#ArtFotoCropData").val()
                            }).success(function (data) {
                            alert(data);
                        });
                    });

                });
            }(jQuery));

        </script>

