﻿@*model ISSG4.Models.i3_ArtArtykul*@
@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtFotoListView
@{
    ViewBag.Title = "Zdjęcia wydania " + Model.wydanie.WydanieData.ToString("dd-MM-yyyy");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 style="font-size:1.0em; margin:15px 0 15px 0">
    @Model.wydanie.WydanieOpis
    <span style="white-space:nowrap"> @Model.wydanie.WydanieData.ToString("dd-MM-yyyy") </span> 
</h5>

@if (Model.art_foto_list.Count > 0)
{

    foreach (var dzial in Model.dzial_lista)
    {
        <h2 style="color:red;background-color:lightgray; padding:10px">@dzial.ArtDzialNazwa</h2>
        foreach (var art in Model.art_list.FindAll(d=>d.ArtDzialId == dzial.ArtDzialId))
        {

        <div class="row" style="border-bottom:0px solid lightgray; padding:5px">
            <h4>@art.ArtArtykulTytul</h4>
            
        </div>
      
            foreach (var foto in Model.art_foto_list.FindAll(d => d.ArtArtykulId == art.ArtArtykulId))
            {
                <div class="row" style="margin-bottom:5px; border:1px solid lightgray; padding:5px">
                    <div class="col-sm">
                        <a id="foto_@foto.ArtFotoId.ToString()"
                           data-fancybox="gallery" data-caption="@foto.ArtFotoPodpis"
                           href="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)">
                            <img src="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)&w=500"
                                 alt="Image" />
                        </a>
                        <div class="foto_podpis">
                            @foto.ArtFotoPodpis
                        </div>

                        <div>
                            <a href="/ArtFoto/Edit/@foto.ArtFotoId.ToString()">
                                Edytuj
                            </a>
                            <span>@foto.ArtFotoCropData</span>
                        </div>
                    </div>


                    <div class="col-sm">
                        <a id="foto_@foto.ArtFotoId.ToString()_preview"
                           data-fancybox="gallery" data-caption="@foto.ArtFotoPodpis"
                           href="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)">
                            @{
                                string focusdata = string.Empty;
                                if (string.IsNullOrEmpty(foto.ArtFotoCropData) == false)
                                {
                                    //default fx=-1&fy=-1
                                    focusdata = foto.ArtFotoCropData;
                                }
                            }
                            <img src="/ArtFoto/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)&w=500&h=300&@focusdata"
                                 alt="Image" />
                        </a>
                        <div class="foto_podpis">
                            @foto.ArtFotoPodpis
                        </div>

                        <div>
                            <a href="/ArtFoto/Edit/@foto.ArtFotoId.ToString()">
                                Edytuj
                            </a>
                            <span>@foto.ArtFotoCropData</span>
                        </div>
                    </div>





                </div>
            }
               
            }
    }
}


