﻿@*model ISSG4.Models.i3_ArtArtykul*@
@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtFotoListView
@{
    ViewBag.Title = "Zdjęcia wydania " + Model.wydanie.WydanieData.ToString("dd-MM-yyyy");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 style="font-size:1.0em; margin:15px 0 15px 0">
    @Model.wydanie.WydanieOpis
    <span style="white-space:nowrap"> @Model.wydanie.WydanieData.ToString("dd-MM-yyyy") </span> 
</h5>


   

@if (Model.art_foto_list.Count > 0)
{
    foreach (var art in Model.art_list)
    {
        <div class="row" style="margin-top:20px">
            <h2>@art.ArtArtykulTytul</h2>
            <hr/>
            @foreach (var foto in Model.art_foto_list.FindAll(d=>d.ArtArtykulId==art.ArtArtykulId))
            {

            <div class="col-sm">

                <a id="foto_@foto.ArtFotoId.ToString()"
                   data-fancybox="gallery" data-caption="@foto.ArtFotoPodpis"
                   href="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)">
                    <img src="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)&w=300"
                         alt="Image" />
                </a>
                <div class="foto_podpis">
                    @foto.ArtFotoPodpis
                </div>
            </div>

            }
        </div>
    }
}


