﻿@model ISSG4.Models.UserAdminCreatedModel
@using (Html.BeginForm())
{
    <text>
    Utworzono konto klienta w systemie.  Email z hasłem widocznym poniżej został wysłany na adres @Model.username i adres zakładającego
    @Model.admin_email
    <br/>
    <br/>
    
    </text>
    
    <table>
        <tbody>
            <tr>
                <td style="text-align: left;">
                    Login
                </td>
                <td>
                    Hasło
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">@Model.username</td>
                <td>@Model.passwd</td>
            </tr>
        </tbody>
    </table>
    
    
    @* szybkie przepisanie prenumeraty dla nowoutworzonego usera *@
    <br/><br/>
    <text>
    Skopiuj prenumeratę dla nowego klienta wg wzorca z listy: <br/>
    </text>
    <table>
     <thead>
            <tr>
                @*<th>Nr</th>*@
                <th>
                    Nr zam.
                </th>
                <th>
                    Gazeta
                </th>
                <th>
                    Rodzaj prenumeraty
                </th>
                <th>
                    Ważna od
                </th>
                <th>
                    Ważna do
                </th>
                <th style="width:160px">
                </th>
            </tr>
        </thead>
     <tbody>
            @foreach (var item in Model.prenumeraty.Where(model => model.ZamowieniePozycjaWidoczna == "t"))
            {
                //Nr1++;
                <tr>
                    @*<td>@Nr1</td>*@
                    <td>@item.ZamowienieId
                    </td>
                    <td>@item.GazetaNazwa
                    </td>
                    <td>@item.ProduktNazwa
                    </td>
                    <td>@item.ZamowieniePozycjaOd.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td>@item.ZamowieniePozycjaDo.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td style="width:160px">
                    @{
                        string id = "Skopiuj" + item.ZamowieniePozycjaId.ToString();
                        string func_exec = "return skopiujPren(" + @item.ZamowieniePozycjaId.ToString() + ",'" + Model.username + "');";
                    }
                    <div id="@id" onclick="@func_exec">
                            <img src="/Przycisk/Skopiuj" alt="Skopiuj prenumeratę" />
                        </div>
                        @*<a href="@Url.Action("Skopiuj","Prenumerata", new { id = @item.ZamowieniePozycjaId })">
                            <img src="/Przycisk/Skopiuj" alt="Skopiuj prenumeratę" />
                        </a>*@
                    </td>
                </tr>
            }
        </tbody>
        </table>
    
    <br/><br/>
     <text>
   Prenumeraty niewidoczne w Twoim koncie:
    </text>
    <table>
     <thead>
            <tr>
                @*<th>Nr</th>*@
                <th>
                    Nr zam.
                </th>
                <th>
                    Gazeta
                </th>
                <th>
                    Rodzaj prenumeraty
                </th>
                <th>
                    Ważna od
                </th>
                <th>
                    Ważna do
                </th>
                <th style="width:160px">
                </th>
            </tr>
        </thead>
     <tbody>
            @foreach (var item in Model.prenumeraty.Where(model => model.ZamowieniePozycjaWidoczna == "n"))
            {
                //Nr1++;
                <tr>
                    @*<td>@Nr1</td>*@
                    <td>@item.ZamowienieId
                    </td>
                    <td>@item.GazetaNazwa
                    </td>
                    <td>@item.ProduktNazwa
                    </td>
                    <td>@item.ZamowieniePozycjaOd.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td>@item.ZamowieniePozycjaDo.ToString("d\\/MM\\/yyyy")
                    </td>
                    <td style="width:160px">
                        <a href="@Url.Action("Skopiuj", "Prenumerata", new { id = @item.ZamowieniePozycjaId })">
                            <img src="/Przycisk/Skopiuj" alt="Skopiuj prenumeratę" />
                        </a>                       
                    </td>
                </tr>
            }
        </tbody>
        </table>
    
    
}


