﻿@model ISSG4.Models.Users

@using (Html.BeginForm())
{
<table>
<tbody>
<tr>
        <td  style="text-align:left;">
            Login/Email
        </td>
          <td>
          
        </td>
    </tr>

    <tr>
        <td>
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </td>
          <td>
        </td>
    </tr>

    <tr>
         <td style="text-align:left;">
            Imię
        </td>
        <td>
            Nazwisko
        </td>
    </tr>
    <tr>
         <td>
            @Html.EditorFor(model => model.Imie)
            @Html.ValidationMessageFor(model => model.Imie)
        </td>
        <td>
            @Html.EditorFor(model => model.Nazwisko)
            @Html.ValidationMessageFor(model => model.Nazwisko)
        </td>
    </tr>

        <tr>
    <td>
        Telefon
    </td>
   <td>
   </td>
   </tr>


    <tr>
    <td style="text-align:left;">
        @Html.EditorFor(model => model.telefon)
        @Html.ValidationMessageFor(model => model.telefon)
    </td>
   <td>
   </td>
   </tr>


   <tr>
    <td>

@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit")
{
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
}
else
{
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
</tbody>
</table>
}