﻿@model IEnumerable<ISSG4.Models.Users>

@foreach (var item in Model) {
    <tr data-pkey="@item.ispo_user_id">
        <td>
            <b>@Html.DisplayFor(modelItem => item.UserName)</b><br />
            <span class="small">@Html.DisplayFor(modelItem => item.Imie) @Html.DisplayFor(modelItem => item.Nazwisko)<br />
            <a href="mailto:@item.Email">@Html.DisplayFor(modelItem => item.Email)</a></span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa_firmy)
        </td>
        <td>
            @if (item.czy_zablokowane == "t")
            {
            <span style="color: #ff0000;">Zablokowane</span><br />
            @Html.DisplayFor(modelItem => item.czy_zablokowane_kto)<br />
            @Html.DisplayFor(modelItem => item.czy_zablokowane_kiedy)
            }
            else
            {
                <text>Brak</text>
            }
        </td>
        <td class="rowControl hidden">
            @*<a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>*@
            <a href="#details" class="details">Informacje szczegołowe</a>
            <br />

            @Html.ActionLink("Zdarzenia", "Index", "KlientZdarzenia",
                                    new { userid = item.ispo_user_id.ToString() },
                                    new
                                    {
                                        title = "Zdarzenia klienta"
                                    })
            /
            @Html.ActionLink("Zmiany", "Index", "KlientAudyt",
                                    new { userid = item.ispo_user_id.ToString() },
                                    new
                                    {
                                        title = "Audyt zmian"
                                    })

            <br />


            @if (item.czy_zablokowane == "t")
            {
                <a href="#blokada" class="blokada false">Odblokuj</a>
            }
            else
            {
                <a href="#blokada" class="blokada true">Zablokuj</a>
            }

            /

            @Html.ActionLink("Przepisz pren.", "Przepisz", "Klient",
                                    new { userid = item.ispo_user_id.ToString() },
                                    new
                                    {
                                        title = "Przepisz prenumeratę."
                                    })

        </td>
    </tr>
}
