﻿@model ISSG4.Models.Users

<div style="width: 600px;">

<h2>@Html.DisplayFor(model => model.UserName)</h2>

<style>
    #userInfo { width: 100%; }
    #userInfo td { background-color: #fff; vertical-align: top; width: 50%; }
</style>

<table id="userInfo">
<tr>

@*Pierwsza kolumna*@
<td>

    <div class="display-field">
        <span style="font-size: 14pt; font-weight: bold;">@Html.DisplayFor(model => model.Imie) @Html.DisplayFor(model => model.Nazwisko)</span>
    </div>

    <div class="display-field">
        Email: <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
    </div>

    <div class="display-field">
        Telefon: @Html.DisplayFor(model => model.telefon)
    </div>

    <h3>Adres</h3>

    <div class="display-field">
        @Html.DisplayFor(model => model.ulica) @Html.DisplayFor(model => model.budynek) / @Html.DisplayFor(model => model.mieszkanie)<br />
        @Html.DisplayFor(model => model.Kod) @Html.DisplayFor(model => model.Miejscowosc)<br />
        @Html.DisplayFor(model => model.kraj)
    </div>

    <h3>Adres do korespondencji</h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.koresp1)
        @Html.DisplayFor(model => model.koresp2)
        @Html.DisplayFor(model => model.koresp3)
        @Html.DisplayFor(model => model.koresp4)
    </div>

    <h3>Systemowe</h3>
@*    <div class="display-field">
        Grupa: @Html.DisplayFor(model => model.Grupa_id)
    </div>*@
    <div class="display-field">
        Utworzono: @Html.DisplayFor(model => model.add_time)
    </div>

    <div class="display-field">
        Blokada: 
        @if (Model.czy_zablokowane == "t")
        {
            <text>tak<br />
            Kto zablokował: @Html.DisplayFor(model => model.czy_zablokowane_kto)<br />
            Kiedy zablokowane: @Html.DisplayFor(model => model.czy_zablokowane_kiedy)
            </text>
        }
        else
        {
            <text>nie</text>
        }
    </div>

</td>

@*Druga kolumna*@
<td>

    <h3>Dane firmowe</h3>

    <div class="display-field">
        Konto firmowe:
        @if (Model.czy_firma.GetValueOrDefault(false))
        {
            <text>tak</text>
        }
        else
        {
            <text>nie</text>
        }
    </div>
    
    <div class="display-field">
        Nazwa firmy: @Html.DisplayFor(model => model.nazwa_firmy)
    </div>
    
    <div class="display-field">
        NIP: @Html.DisplayFor(model => model.nip)
    </div>

    

    @*<div class="display-label">kod_external</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kod_external)
    </div>*@

    <div class="display-field">
        Posiada kredyt: 
        @if (Model.klient_czy_kredyt == "t")
        {
            <text>tak</text>
        }
        else
        {
            <text>nie</text>
        }
    </div>

    <div class="display-field">
        Faktura VAT: 
        @if (Model.czy_faktura.GetValueOrDefault(false))
        {
            <text>tak</text>
        }
        else
        {
            <text>nie</text>
        }
    </div>

@*    <div class="display-label">ag_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ag_id)
    </div>*@

    

@*    <div class="display-label">kod_external_2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kod_external_2)
    </div>

    <div class="display-label">kod_external_3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kod_external_3)
    </div>

    <div class="display-label">aw_user_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aw_user_id)
    </div>*@

    <h3>Zgody</h3>

    <div class="display-field">
        Zgoda na przetwarzanie danych: 
        @if (Model.czy_zgoda_przetwarzanie.GetValueOrDefault(false))
        {
            <text>tak</text>
        }
        else
        {
            <text>nie</text>
        }
    </div>

    <div class="display-field">
        Zgoda na przesyłanie reklam:
        @if (Model.czy_zgoda_reklamy.GetValueOrDefault(false))
        {
            <text>tak</text>
        }
        else
        {
            <text>nie</text>
        }
    </div>

@*    <div class="display-label">add_system</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.add_system)
    </div>*@

</td>

</tr>
</table>





@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ispo_user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<p style="text-align: right;">
    <input style="width: 120px;" type="button" value="OK" class="oknoOK" />
</p>

</div>
