﻿@model ISSG4.Models.ZamowieniePozycja

<tr @if (Model != null) {
    @:data-pkey="@Model.ZamowieniePozycjaId"
}>
    <td colspan="2">
        Gazeta:
        @Html.DropDownList("CennikId", String.Empty)
        @Html.ValidationMessageFor(model => model.CennikId)
        @Html.Hidden("ZamowienieId", (int)ViewBag.ZamowienieId)
    </td>
    <td colspan="2">
        Dodatek:
        <select id="DodatekId"></select>
    </td>
    <td colspan="2">
        Od:
        @Html.TextBoxFor(model => model.ZamowieniePozycjaOd, new { @class = "calendar" })
        @Html.ValidationMessageFor(model => model.ZamowieniePozycjaOd)
    </td>
    <td colspan="2">
        Do:
        @Html.TextBoxFor(model => model.ZamowieniePozycjaDo, new { @class = "calendar" })
        @Html.ValidationMessageFor(model => model.ZamowieniePozycjaDo)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
