﻿@model IEnumerable<ISSG4.Models.ZamowieniePozycja>

@foreach (var item in Model) {
    <tr data-pkey="@item.ZamowieniePozycjaId">
        <td>
            @Html.DisplayFor(modelItem => item.i3_Cennik.i3_Gazeta.GazetaNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Cennik.i3_Produkt.ProduktNazwa)
        </td>
        <td>
            @foreach(var i in item.i3_Dodatek) {
                @i.DodatekNazwa<br />
            }
        </td>
        <td>
            @item.ZamowieniePozycjaOd.ToString("dd-MM-yyyy")
        </td>
        <td>
            @item.ZamowieniePozycjaDo.ToString("dd-MM-yyyy")
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ZamowieniePozycjaNetto)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ZamowieniePozycjaBrutto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowieniePozycjaWidoczna,"tak_nie")
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.i3_Cennik.VatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZamowieniePozycjaVat)
        </td>*@
        <td class="rowControl hidden">
            @*<a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |*@
            @if (item.i3_Cennik.i3_Produkt.i3_ProduktRodzaj.ProduktRodzajReklamacja) { <a href="#deleteRow" class="deleteRow">Usuń</a> }
        </td>
    </tr>
}
