﻿@model ISSG4.Models.Zamowienie
@{
    ViewBag.Title = "Szczegóły zamówienia";
}
@{

    ViewBag.ItemsPerPage = ViewBag.ItemsPerPage ?? 20;
    ViewBag.ItemsPerPageOptions = ViewBag.ItemsPerPageOptions ?? new List<int>{ 10, 20, 50, 100 };

    int currentPage = ViewBag.Start / ViewBag.ItemsPerPage + 1;
    int pageCount = (ViewBag.Count - 1) / ViewBag.ItemsPerPage + 1;
    ViewBag.Start = (currentPage - 1) * ViewBag.ItemsPerPage;

    RouteValueDictionary currentRouteValues = new RouteValueDictionary(new {
        start = ViewBag.Start,
        itemsPerPage = ViewBag.ItemsPerPage,
        orderBy = ViewBag.OrderBy,
        desc = ViewBag.Desc
    });
}
@helper AjaxGridNavigation(int currentPage, int pageCount, RouteValueDictionary currentRouteValues) {
    <div class="AjaxGridNavigation">
        @{
            int currentStart = (int)currentRouteValues["start"];
            int itemsPerPage = (int)currentRouteValues["itemsPerPage"];
        }
        @if (currentPage != 1) {
            currentRouteValues["start"] = 0;
            <a href="@Url.RouteUrl(currentRouteValues)" class="begin">|&lt;</a>
            currentRouteValues["start"] = currentStart - itemsPerPage;
            <a href="@Url.RouteUrl(currentRouteValues)" class="prev">&lt;&lt;</a>
        } else {
            <span class="begin">|&lt;</span> <span class="prev">&lt;&lt;</span>
        }
        <span>Strona</span> <input type="text" value="@currentPage" class="pageNum hidden" />
        <span class="pageNum">@currentPage</span> <span>z</span> <span class="pageCount">@pageCount</span>
        @if (currentPage != pageCount) {
            currentRouteValues["start"] = currentStart + itemsPerPage;
            <a href="@Url.RouteUrl(currentRouteValues)" class="next">&gt;&gt;</a>
            currentRouteValues["start"] = (pageCount - 1) * itemsPerPage;
            <a href="@Url.RouteUrl(currentRouteValues)" class="end">&gt;|</a>
        } else {
            <span class="next">&gt;&gt;</span> <span class="end">&gt;|</span>
        }
        @{currentRouteValues["start"] = currentStart;}
        <a href="@Url.RouteUrl(currentRouteValues)" class="refresh">[Odśwież tabelę]</a>
        <span class="itemsPerPage hidden">Elementów na stronę:
            <select>
                @foreach (var option in ViewBag.ItemsPerPageOptions) {
                    <option value="@option" @if (option == ViewBag.ItemsPerPage) {
                            @: selected="selected"
                    }>@option</option>
                }
            </select>
        </span>
    </div>
}

<div style="width: 960px;">
<h2>Szczegóły zamówienia</h2>

<form>

    <div style="float: right;">
        <a href="#insertEmptyRow" class="insertEmptyRow hidden"><img src="/Przycisk/Dodaj%20reklamację" alt="Dodaj reklamację" /></a>
    </div>

<table style="width: 730px;">
    <tr>
        <td>Nr:</td>
        <td>@Model.ZamowienieId</td>
    </tr>
    <tr>
        <td>Użytkownik:</td>
        <td>
            <b>@Model.Users.UserName</b> -  @Model.Users.Imie @Model.Users.Nazwisko [<a href="mailto:@Html.Raw(@Model.Users.Email)">@Model.Users.Email</a>]
        </td>
    </tr>
    <tr>
        <td>Data:</td>
        <td>@Model.ZamowienieData.ToString("dd-MM-yyyy hh:mm")</td>
    </tr>
    <tr>
        <td>Wartość zamówienia:</td>
        <td>@Model.ZamowienieNetto (@Model.ZamowienieVat VAT) <b>@Model.ZamowienieBrutto zł</b></td>
    </tr>
    <tr>
        <td>Opłacone:</td>
        <td>@if (Model.ZamowienieOplacone) { <text>tak</text> } else { <text>nie</text> }</td>
    </tr>
    <tr>
        <td>Ręcznie aktywowane:</td>
        <td>@if (Model.ZamowienieRecznaAktywacja) { <text>tak</text> } else { <text>nie</text> }</td>
    </tr>
    
</table>
</form>

<p></p>

<div id="AjaxGridContainer2">
    @AjaxGridNavigation(currentPage, pageCount, currentRouteValues)
    <table class="AjaxGrid" class="centerElements">
        <thead>
            <tr>
                <th data-column-name="i3_Cennik.i3_Gazeta.GazetaNazwa">
                    <span class="reorder">Gazeta</span>
                    <a href="@Url.RouteUrl(new { orderBy = "i3_Cennik.i3_Gazeta.GazetaNazwa", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "i3_Cennik.i3_Gazeta.GazetaNazwa" })" class="downarrow">&darr;</a>
                </th>
                <th data-column-name="i3_Cennik.i3_Produkt.ProduktNazwa">
                    <span class="reorder">Produkt</span>
                    <a href="@Url.RouteUrl(new { orderBy = "i3_Cennik.i3_Produkt.ProduktNazwa", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "i3_Cennik.i3_Produkt.ProduktNazwa" })" class="downarrow">&darr;</a>
                </th>
                <th data-column-name="i3_Dodatek.DodatekNazwa">
                    <span class="reorder">Dodatek</span>
                </th>
                <th data-column-name="ZamowieniePozycjaOd">
                    <span class="reorder">Od</span>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaOd", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaOd" })" class="downarrow">&darr;</a>
                </th>
                <th data-column-name="ZamowieniePozycjaDo">
                    <span class="reorder">Do</span>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaDo", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaDo" })" class="downarrow">&darr;</a>
                </th>
                @*<th data-column-name="ZamowieniePozycjaNetto">
                    <span class="reorder">Netto</span>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaNetto", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaNetto" })" class="downarrow">&darr;</a>
                </th>*@
                <th data-column-name="ZamowieniePozycjaBrutto">
                    <span class="reorder">Brutto</span>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaBrutto", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaBrutto" })" class="downarrow">&darr;</a>
                </th>
                 <th data-column-name="ZamowieniePozycjaWidoczna">
                    <span class="reorder">Widoczna</span>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaWidoczna", desc = false })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaWidoczna" })" class="downarrow">&darr;</a>
                </th>
                @*<th data-column-name="i3_Cennik.VatId">
                    <span class="reorder">VAT</span>
                    <a href="@Url.RouteUrl(new { orderBy = "i3_Cennik.VatId", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "i3_Cennik.VatId" })" class="downarrow">&darr;</a>
                </th>
                <th data-column-name="ZamowieniePozycjaVat">
                    <span class="reorder">Wartość VAT</span>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaVat", desc = true })" class="uparrow">&uarr;</a>
                    <a href="@Url.RouteUrl(new { orderBy = "ZamowieniePozycjaVat" })" class="downarrow">&darr;</a>
                </th>*@
                <th class="hidden"></th>
            </tr>
        </thead>
        <tbody>
@{Html.RenderAction("GridData", new { start = ViewBag.Start });}
        </tbody>
    </table>
    @AjaxGridNavigation(currentPage, pageCount, currentRouteValues)
</div>

<style>
    #AjaxGridContainer2 .AjaxGrid, 
    #AjaxGridContainer2 .AjaxGrid input, 
    #AjaxGridContainer2 .AjaxGrid button { clear: both; width: 100%; }
    #AjaxGridContainer2 .AjaxGrid thead { white-space: nowrap; }
    #AjaxGridContainer2 .AjaxGrid thead a,
    #AjaxGridContainer2 .AjaxGridNavigation a { text-decoration: none; }
    #AjaxGridContainer2 .AjaxGrid .error { background-color: #f66; color: #000; }
    #AjaxGridContainer2 .hidden { display: none; }
    #AjaxGridContainer2 .AjaxGridNavigation input.pageNum { width: 2em; }
    #AjaxGridContainer2 .AjaxGridNavigation .itemsPerPage { float: right; }
</style>

<script>
    (function($, undefined) {
        var totalRowCount2 = @ViewBag.Count,
            currentPage2 = 1,
            pageCount2 = @pageCount,
            savedParams2 = {
                start: 0,
                itemsPerPage: @ViewBag.ItemsPerPage,
                parentId: @Model.ZamowienieId
            },
            unloadWarningSet2 = false,
            containerContext2, gridContext2, navigationContext2;

        $.ajaxSetup ({cache: false});

        function reloadGrid(params) {
            if (params.start === undefined || (params.start >= 0 && params.start < totalRowCount2)) {
                if (!unloadWarningSet2 || confirm('Nie zapisałeś zmian. Na pewno odświeżyć tabelę?')) {
                    unloadWarningSet2 = false;
                    $(window).unbind('beforeunload');

                    $.extend(savedParams2, params);
                    currentPage2 = Math.floor(savedParams2.start / savedParams2.itemsPerPage) + 1;
                    savedParams2.start = (currentPage2 - 1) * savedParams2.itemsPerPage;

                    return $.get('@Html.Raw(Url.Action("GridData"))', savedParams2).done(function(rows, status, xhr) {
                        gridContext2.find('tbody').html(rows);
                        totalRowCount2 = Math.floor(xhr.getResponseHeader('X-Total-Row-Count'));
                        pageCount2 = Math.ceil(totalRowCount2 / savedParams2.itemsPerPage);

                        gridContext2.find('td').filter(':last-child').removeClass('hidden');
                        navigationContext2.find('input.pageNum').val(currentPage2);
                        navigationContext2.find('span.pageCount').html(pageCount2);
                        navigationContext2.find('.itemsPerPage select').val(savedParams2.itemsPerPage);

                        if (currentPage2 === 1) {
                            navigationContext2.find('a.prev, a.begin').each(disableLink);
                        } else {
                            navigationContext2.find('span.prev, span.begin').each(enableLink);
                        }
                        if (currentPage2 === pageCount2) {
                            navigationContext2.find('a.next, a.end').each(disableLink);
                        } else {
                            navigationContext2.find('span.next, span.end').each(enableLink);
                        }
                    });
                }
            }
            return $.Deferred().reject();
        }

        function reorderByColumn(clickedArrow) {
            var reloadParams = {
                start: 0,
                orderBy: $(clickedArrow).parent().data('column-name'),
                desc: $(clickedArrow).is('.uparrow')
            };
            reloadGrid(reloadParams).done(function() {
                gridContext2.find('span.uparrow, span.downarrow').each(enableLink);
                disableLink.call(clickedArrow);
            });
        }

        function createRow(row) {
            var postParams = getPostParams(row);
            $.post('@Html.Raw(Url.Action("Create"))', postParams)
                .done(function(newRow) {
                    row.replaceWith(newRow);
                    totalRowCount2++;
                    clearUnloadWarning();
                })
                .fail(function() {
                    row.addClass('error');
                });
        }

        function makeRowEditable(row) {
            $.get(encodeURI('@Html.Raw(Url.Action("Edit"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), function(editableRow) {
                row.replaceWith(editableRow);
            });
            setUnloadWarning();
        }

        function editRow(row) {
            var postParams = getPostParams(row);
            postParams.push({name: 'ZamowieniePozycjaId', value: row.data('pkey')});
            $.post(encodeURI('@Html.Raw(Url.Action("Edit"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), postParams)
                .done(function(newRow) {
                    row.replaceWith(newRow);
                    clearUnloadWarning();
                })
                .fail(function() {
                    row.addClass('error');
                });
        }

        function deleteRow(row) {
            if (confirm('Na pewno skasować ten wiersz?')) {
                $.post(encodeURI('@Html.Raw(Url.Action("Delete"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))))
                    .done(function() {
                        row.remove();
                        totalRowCount2--;
                    })
                    .fail(function() {
                        alert('Row deletion failed.');
                    });
            }
        }

        function disableLink() {
            var elem = $(this),
                classes = elem.attr('class'),
                href = elem.attr('href'),
                html = elem.html();
            elem.replaceWith($('<span data-href="' + href + '" class="' + classes + '">' + html + '</span>'));
        }

        function enableLink() {
            var elem = $(this),
                classes = elem.attr('class'),
                href = elem.data('href'),
                html = elem.html();
            elem.replaceWith($('<a href="' + href + '" class="' + classes + '">' + html + '</a>'));
        }

        function getPostParams(row) {
            return row.find(':input[name]:not(:disabled)').filter(':not(:checkbox), :checked').map(function () {
                var input = $(this);
                return { name: input.attr('name'), value: input.val() };
            }).get();
        }

        function setUnloadWarning() {
            if (!unloadWarningSet2) {
                unloadWarningSet2 = true;
                $(window).bind('beforeunload', function() {
                    return 'You have unsaved changes. Are you sure you want to leave?';
                });
            }
        }

        function clearUnloadWarning() {
            gridContext2.find('td').filter(':last-child').removeClass('hidden');
            if (unloadWarningSet2 && $('.createRow, .editRow').length === 0) {
                unloadWarningSet2 = false;
                $(window).unbind('beforeunload');
            }
        }

        function gazetaChange() {
            
        }

        $(function () {
            containerContext2 = $('#AjaxGridContainer2');
            gridContext2 = containerContext2.find('.AjaxGrid');
            navigationContext2 = containerContext2.find('.AjaxGridNavigation');

            containerContext2.find('.insertEmptyRow').removeClass('hidden');
            navigationContext2.find('input.pageNum').removeClass('hidden');
            navigationContext2.find('.itemsPerPage').removeClass('hidden');
            navigationContext2.find('span.pageNum').addClass('hidden');
            gridContext2.find('th span.reorder').each(enableLink);
            gridContext2.find('tr > *').filter(':last-child').removeClass('hidden');

            navigationContext2.delegate('a.prev', 'click', function(e) {
                reloadGrid({start: savedParams2.start - savedParams2.itemsPerPage});
                e.preventDefault();
            });
            navigationContext2.delegate('a.next', 'click', function(e) {
                reloadGrid({start: savedParams2.start + savedParams2.itemsPerPage});
                e.preventDefault();
            });
            navigationContext2.delegate('a.begin', 'click', function(e) {
                reloadGrid({start: 0});
                e.preventDefault();
            });
            navigationContext2.delegate('a.end', 'click', function(e) {
                reloadGrid({start: (pageCount2 - 1) * savedParams2.itemsPerPage});
                e.preventDefault();
            });
            navigationContext2.find('a.refresh').click(function(e) {
                reloadGrid({});
                e.preventDefault();
            });

            navigationContext2.find('input.pageNum')
                .keyup(function(e) {
                    if (e.keyCode === 13) {
                        $(this).blur();
                    }
                })
                .blur(function() {
                    var newPageNum = Number($(this).val());
                    if (newPageNum >= 1 && newPageNum <= pageCount2) {
                        reloadGrid({start: (newPageNum - 1) * savedParams2.itemsPerPage});
                    } else {
                        $(this).val(currentPage2);
                    }
                });

            navigationContext2.find('.itemsPerPage select').change(function() {
                reloadGrid({itemsPerPage: Number($(this).val())});
            });

            gridContext2.delegate('thead a.uparrow, thead a.downarrow', 'click', function(e) {
                reorderByColumn(this);
                e.preventDefault();
            });
            gridContext2.find('thead a.reorder').click(function(e) {
                var th = $(this).parent(),
                    arrow = th.find('a.downarrow');
                if (arrow.length === 0) {
                    arrow = th.find('a.uparrow');
                }
                reorderByColumn(arrow[0]);
                e.preventDefault();
            });
            $('.insertEmptyRow').click(function(e) {
                $.get('@Html.Raw(Url.Action("Create"))?parentId=@Model.ZamowienieId', function(emptyRow) {
                    gridContext2.find('tbody').prepend(emptyRow);
                });
                setUnloadWarning();
                e.preventDefault();
            });
            gridContext2.delegate('.createRow', 'click', function() {
                createRow($(this).parents('tr'));
            });
            gridContext2.delegate('.cancelCreateRow', 'click', function() {
                $(this).parents('tr').remove();
                clearUnloadWarning();
            });

            gridContext2.delegate('.makeRowEditable', 'click', function(e) {
                makeRowEditable($(this).parents('tr'));
                e.preventDefault();
            });
            gridContext2.delegate('.editRow', 'click', function() {
                editRow($(this).parents('tr'));
            });
            gridContext2.delegate('.cancelEditRow', 'click', function() {
                var row = $(this).parents('tr');
                $.get(encodeURI('@Html.Raw(Url.Action("RowData"))?id=__ID__'.replace(/__ID__/, row.data('pkey'))), function(newRow) {
                    row.replaceWith(newRow);
                    clearUnloadWarning();
                }); 
            });

            gridContext2.delegate('.deleteRow', 'click', function(e) {
                deleteRow($(this).parents('tr').eq(0));
                e.preventDefault();
            });
            
            gridContext2.delegate('#CennikId', 'change', function(e) {
                ajax("/ZamowieniePozycja/GetDodatek/" + $('#CennikId').val()).done(function (data) { 
                    var dId = $('#DodatekId').empty();
                    $.each(data, function(i, v) {
                        dId.append("<option value=\"" + v.DodatekId + "\">" + v.DodatekNazwa + "</option>");
                    }); 
                });
            });
        });
    })(jQuery);
</script>

</div>