﻿@model ISSG4.Models.Wydawca

<tr @if (Model != null) {
    @:data-pkey="@Model.WydawcaId"
}>
    <td>
        @Html.EditorFor(model => model.WydawcaNazwa)
        @Html.ValidationMessageFor(model => model.WydawcaNazwa)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
