﻿@model IEnumerable<ISSG4.Models.Wydawca>

@foreach (var item in Model) {
    <tr data-pkey="@item.WydawcaId">
        <td>
            @Html.DisplayFor(modelItem => item.WydawcaNazwa)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
