﻿@model ISSG4.Models.Vat

<tr @if (Model != null) {
    @:data-pkey="@Model.VatId"
}>
    <td>
        @Html.EditorFor(model => model.VatId)
        @Html.ValidationMessageFor(model => model.VatId)
    </td>
    <td>
        @Html.EditorFor(model => model.VatProc)
        @Html.ValidationMessageFor(model => model.VatProc)
    </td>
    <td>
        @Html.EditorFor(model => model.VatAktywny)
        @Html.ValidationMessageFor(model => model.VatAktywny)
    </td>
    <td>
        @Html.EditorFor(model => model.VatFiskalKod)
        @Html.ValidationMessageFor(model => model.VatFiskalKod)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Save</button><button class="cancelEditRow">Cancel</button>
} else {
        <button class="createRow">Create</button><button class="cancelCreateRow">Cancel</button>
}
    </td>
</tr>
