﻿@model IEnumerable<ISSG4.Models.Vat>

@foreach (var item in Model) {
    <tr data-pkey="@item.VatId">
        <td>
            @Html.DisplayFor(modelItem => item.VatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatProc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatAktywny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatFiskalKod)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
