﻿@using ISSG3.Models;
@model EntitlementsViewModel
@{
    Layout = null;
}
<result httpResponseCode="200">
    <entitlements>
    @foreach(EntitlementViewModel item in Model.entitlements)
    {
        <productId subscriberType="@item.subscriberType" subscriberId="@item.subscriberId">@item.productid</productId>
    }
    </entitlements>
</result>

