﻿@model ISSG4.Models.GazetaKod

<tr @if (Model != null) {
    @:data-pkey="@Model.GazetaKodId"
}>
    <td>
        @Html.EditorFor(model => model.GazetaKodNumer)
        @Html.ValidationMessageFor(model => model.GazetaKodNumer)
    </td>
    <td>
        @Html.EditorFor(model => model.GazetaKodSms)
        @Html.ValidationMessageFor(model => model.GazetaKodSms)
    </td>
    <td>
        @Html.EditorFor(model => model.GazetaKodCenaInfo)
        @Html.ValidationMessageFor(model => model.GazetaKodCenaInfo)
    </td>
    <td>
        @Html.EditorFor(model => model.GazetaKodTyp)
        @Html.ValidationMessageFor(model => model.GazetaKodTyp)
    </td>
    <td>
        @Html.EditorFor(model => model.GazetaKodKod)
        @Html.ValidationMessageFor(model => model.GazetaKodKod)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
