﻿@model IEnumerable<ISSG4.Models.GazetaKod>

@foreach (var item in Model) {
    <tr data-pkey="@item.GazetaKodId">
        <td>
            @Html.DisplayFor(modelItem => item.GazetaKodNumer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GazetaKodSms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GazetaKodCenaInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GazetaKodTyp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GazetaKodKod)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
