﻿@using ISSG4.Models;
@model List<getWydanieAktywneNaDzial_Result>
@{
    ViewBag.Title = "Archiwum";
}

<h2>@ViewBag.Gazeta 
    <span>Archiwum</span>
    </h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm">
            <select id="Miesiac" name="Miesiac" class="autoSubmit">
                <option value="1000-01-01">20 ostatnich wydań</option>
                @foreach (var miesiac in ViewBag.MiesiacRok)
                {
                    <option @if (ViewBag.Miesiac == miesiac.MiesiacRok) { <text> selected="selected" </text>  } value="@miesiac.MiesiacRok.ToShortDateString()">
                        @System.Globalization.CultureInfo.CurrentUICulture.TextInfo.ToTitleCase(miesiac.MiesiacRok.ToString("MMMM yyyy"))
                    </option>
                }
            </select>
            </div>

            @if (User.Identity.IsAuthenticated && !User.IsInRole("Prenum"))
             {
             <div class="col-sm">
                    <div>
                        @*Html.CheckBox("tylkoMoje", (bool)ViewBag.tylkoMoje, new { @class = "autoSubmit" })
                        <label for="tylkoMoje">pokaż tylko moje wydania</label>*@

                        <label>
                            @Html.CheckBox("tylkoMoje", (bool)ViewBag.tylkoMoje, new { @class = "autoSubmit" })
                            pokaż tylko moje wydania
                        </label>


                        @*<text>&nbsp; &nbsp; &nbsp;</text>*@
                    </div>
                    <div>
                        @Html.Hidden("tylkoDodatki", (bool)ViewBag.tylkoDodatki, new { @class = "autoSubmit" })
                        <label for="tylkoDodatki" style="display:none">Pokaż tylko wydania z dodatkami</label>
                    </div>
            </div>
        }
        </div>
}

<div class="row">
  

        @foreach (var Gazeta in Model)
        {
            <div class="col-sm @if (Gazeta.WydanieMoje > 0)
                   {<text>moje</text>}  text-center">
                <a href="/Wydanie/@Gazeta.WydanieId" title="@Gazeta.WydanieData.ToString("d MMMM yyyy")">
                    <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180" alt="" />
                    <br />
                    @Gazeta.WydanieData.ToString("d MMMM yyyy")
                    <br />
                    @Gazeta.WydanieData.ToString("dddd")
                </a>
            </div>
        }

 
</div>
