﻿@{
    ViewBag.Title = "Archiwalne";
}

<h2>Archiwalne</h2>

<p>Wybierz tytuł aby zobaczyć wydania archiwalne.</p>

<div class="jedynki">

@*@if (ViewBag.Gazety != null && ViewBag.Gazety.Count > 0)
{*@
@foreach (var Gazeta in ViewBag.Gazety)
{
<div class="gazeta">
    <a href="/Home/Archiwum/@Gazeta.GazetaId" title="@Gazeta.GazetaNazwa">                        
        <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180" alt="" /><br />
        @Gazeta.GazetaNazwa
    </a>
</div>
}


</div>