﻿@using ISSG4.Models;
@model string
@{
    ViewBag.Title = "Cennik";
}
<h2>Cennik</h2>
@if (Model.Contains("Kurier"))
{
    <table class="tablecennik table table-responsive" style="width:85%;">
            <tr class="sms_info_medium">
                <td class="tablecenniktd">Okres</td>
                <td class="tablecenniktd">Cena e-wydań</td>
                <td class="d-none d-sm-table-cell">Cena w kiosku</td>
                <td class="d-none d-sm-table-cell">Oszczędności</td>
                <td class="d-none d-sm-table-cell">!</td>
            </tr>
            <tr class="sms_info_medium">
                <td class="tablecenniktd" colspan="5"></td>
            </tr>
            <tr class="sms_info">
                <td class="tablecenniktd">Miesiąc</td>
                <td class="tablecenniktd" style="font-weight:bold;font-size:1.1em;">20,00 zł</td>
                <td class="d-none d-sm-table-cell" style="text-decoration:line-through;">30,00 zł</td>
                <td class="d-none d-sm-table-cell">
                    oszczędzasz:</td>
                <td class="d-none d-sm-table-cell">10,00 zł</td>
            </tr>
            <tr class="sms_info">
                <td class="tablecenniktd">Kwartał</td>
                <td class="tablecenniktd" style="font-weight:bold;font-size:1.1em;">55,00 zł</td>
                <td class="d-none d-sm-table-cell" style="text-decoration:line-through;">90,00 zł</td>
                <td class="d-none d-sm-table-cell">
                    oszczędzasz:</td>
                <td class="d-none d-sm-table-cell">35,00 zł</td>
            </tr>
            <tr class="sms_info">
                <td class="tablecenniktd">Pół roku</td>
                <td class="tablecenniktd" style="font-weight:bold;font-size:1.1em;" >105,00 zł</td>
                <td class="d-none d-sm-table-cell" style="text-decoration:line-through;">180,00 zł</td>
                <td class="d-none d-sm-table-cell">
                    oszczędzasz:</td>
                <td class="d-none d-sm-table-cell">75,00 zł</td>
            </tr>
            <tr class="sms_info">
                <td class="tablecenniktd">Rok</td>
                <td class="tablecenniktd" style="font-weight:bold;font-size:1.1em;" >205,00 zł</td>
                <td class="d-none d-sm-table-cell" style="text-decoration:line-through;">360,00 zł</td>
                <td class="d-none d-sm-table-cell">
                    oszczędzasz:</td>
                <td class="d-none d-sm-table-cell">155,00 zł</td>
            </tr>
            
            <tr class="sms_info">
                <td colspan="2">
                    wszystkie ceny zawierają 23% VAT
                </td>
                <td class="d-none d-sm-table-cell"></td>
                <td class="d-none d-sm-table-cell"></td>
                <td class="d-none d-sm-table-cell"></td>
            </tr>

            <tr class="sms_info">
                <td></td>
                <td></td>
                <td class="d-none d-sm-table-cell"></td>
                <td class="d-none d-sm-table-cell"></td>
                <td class="d-none d-sm-table-cell"></td>
            </tr>
            <tr class="sms_info">
                <td class="tablecenniktd" colspan="2" >
                    Cena pojedynczego wydania zakupionego SMS-em wynosi 2 zł + 23% VAT (2,46zł brutto)</td>
                <td class="d-none d-sm-table-cell"></td>
                <td class="d-none d-sm-table-cell"></td>
                <td class="d-none d-sm-table-cell"></td>
            </tr>
        </table>
}
else
{
    
<h3>Wydanie pojedyńcze</h3>
<table style="width: 100%; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th> </th>
            <th>Cena e-wydań </th>
            <th>Cena w kiosku </th>
            <th>Oszczędzasz </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><b>1,23 zł</b></td>
            @*<td>2,20 / 2,90 zł </td>
            <td>0,97 / 1,67 zł </td>*@
            <td>2,40 / 3,10 zł</td>
            <td>1,17 / 1,87 zł </td>
        </tr>
        </tbody>
</table>
    
    <h3>Gazeta Olsztyńska</h3>
<table style="width: 100%; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Okres </th>
            <th>Cena e-wydań </th>
            <th>Cena w kiosku </th>
            <th>Oszczędzasz </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Miesiąc</td>
            <td><b>24,00 zł</b></td>
            <td>46,10 zł </td>
            <td>22,10 zł </td>
        </tr>
        <tr>
            <td>Kwartał </td>
            <td><b>54,00 zł</b></td>
            <td>138,30 zł </td>
            <td>84,30 zł </td>
        </tr>
        <tr>
            <td>Pół roku </td>
            <td><b>106,00 zł</b></td>
            <td>276,60 zł </td>
            <td>170,60 zł </td>
        </tr>
        <tr>
            <td>Rok </td>
            <td><b>199,00 zł</b></td>
            <td>553,20 zł </td>
            <td>354,20 zł </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3">&nbsp;</td>
        </tr>
         <tr>
            <td>Prenumerata Plus</td>
            <td colspan="3">Dopłacając 50% do wybranej prenumeraty otrzymujesz nieograniczony dostęp do wszystkich dodatków.</td>
        </tr>
    </tbody>
</table>
<h3>Dziennik Elbląski</h3>
<table style="width: 100%; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Okres</th>
            <th>Cena e-wydań</th>
            <th>Cena w kiosku</th>
            <th>Oszczędzasz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Miesiąc </td>
            <td><b>24,00 zł</b></td>
            <td>38,93 zł </td>
            <td>14,93 zł </td>
        </tr>
        <tr>
            <td>Kwartał </td>
            <td><b>54,00 zł</b></td>
            <td>116,80 zł </td>
            <td>62,80 zł </td>
        </tr>
        <tr>
            <td>Pół roku </td>
            <td><b>106,00 zł</b></td>
            <td>233,60 zł </td>
            <td>128,60 zł </td>
        </tr>
        <tr>
            <td>Rok </td>
            <td><b>199,00 zł</b></td>
            <td>467,20 zł </td>
            <td>268,20 zł </td>
        </tr>
    </tbody>
</table>


<h3>Tygodniki Mazowieckie</h3>
<table style="width: 100%; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Okres</th>
            <th>Cena e-wydań</th>
            <th>Cena w kiosku</th>
            <th>Oszczędzasz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Miesiąc </td>
            <td><b>6,00 zł</b></td>
            <td>9,10 zł </td>
            <td>3,10 zł </td>
        </tr>
        <tr>
            <td>Kwartał </td>
            <td><b>18,00 zł</b></td>
            <td>27,30 zł </td>
            <td>9,30 zł </td>
        </tr>
        <tr>
            <td>Pół roku </td>
            <td><b>36,00 zł</b></td>
            <td>54,60 zł </td>
            <td>18,60 zł </td>
        </tr>
        <tr>
            <td>Rok </td>
            <td><b>72,00 zł</b></td>
            <td>109,20 zł </td>
            <td>37,20 zł </td>
        </tr>
         <tr>
            <td>&nbsp;</td>
            <td colspan="3">&nbsp;</td>
        </tr>
         <tr>
            <td>Prenumerata Plus</td>
            <td colspan="3">Dopłacając 50% do wybranej prenumeraty otrzymujesz nieograniczony dostęp do wszystkich dodatków.</td>
        </tr>
    </tbody>
</table>
    
@*
<h3>Rolnicze ABC</h3>
<table style="width: 100%; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Okres</th>
            <th>Cena e-wydań</th>
            <th>Cena w kiosku</th>
            <th>Oszczędzasz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rok </td>
            <td><b>20,00 zł</b></td>
            <td>33,60 zł </td>
            <td>13,60 zł </td>
        </tr>
    </tbody>
</table>
*@
<p>Wszystkie ceny zawierają 23% podatku VAT.</p>
    
    
    <p style="text-align:center">
    <a href="@Url.Action("Nowa")">
        <img src="/Przycisk/Dodaj%20nową%20prenumeratę" alt="Utwórz nową prenumeratę" />
    </a>
</p>
    
    
}
