﻿@{
    ViewBag.Title = "Najnowsze";
    string layout_version = HttpContext.Current.Application["layout_version"].ToString();
}

<div class="jedynki">

@if (ViewBag.Dzienniki != null && ViewBag.Dzienniki.Count > 0)
{
<h2 class="clear">Gazeta Olsztyńska, Dziennik Elbląski</h2>
    foreach (var Gazeta in ViewBag.Dzienniki)
    {
    <div class="gazeta">

    <a href="/Wydanie/@Gazeta.WydanieId" title="@Gazeta.GazetaNazwa" class="biezace" style="width:220px">                        
        <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180&w=120" alt="" /><br />
        @Gazeta.GazetaNazwa<br />
        
        @if (layout_version == "KUPGAZETE")
        {
            <text>Kup bieżące e-wydanie</text>
           
        }
        else
        {
            if (Gazeta.GazetaNazwaOpis != null)
            {
                if (Gazeta.GazetaNazwaOpis.Length > 0)
                {
              <text>@Gazeta.GazetaNazwaOpis</text><br/>
                }
            }
            @Gazeta.WydanieData.ToString("d MMMM yyyy")
        }
    </a>

     @if (layout_version == "KUPGAZETE")
        {
        
        <a href="/Home/Archiwum/@Gazeta.GazetaId" title="@Gazeta.GazetaNazwa"alt="" class="archiwum" style="width:220px">
        Kup e-wydanie
        archiwalne</a>            

        }
        

</div>
    }
}

@if (ViewBag.DziennikiDodatki != null && ViewBag.DziennikiDodatki.Count > 0)
{
<h2 class="clear">Gazeta Olsztyńska z Tygodnikami</h2>
    foreach (var Gazeta in ViewBag.DziennikiDodatki)
    {
    <div class="gazeta">

    <a href="/Wydanie/@Gazeta.WydanieId?tylkoDodatki=true" title="@Gazeta.GazetaNazwa" class="biezace" style="width:220px">                        
        <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180&w=120" alt="" /><br />
        @Gazeta.GazetaNazwa<br />
        
        @if (layout_version == "KUPGAZETE")
        {
            <text>
			
			Kup e-wydanie z @Gazeta.WydanieData.ToString("d MMMM yyyy")<br/>
			@Gazeta.WydanieData.ToString("dddd")
			
		   </text>
        }
        else
        {
            if (Gazeta.GazetaNazwaOpis != null)
            {
                if (Gazeta.GazetaNazwaOpis.Length > 0)
                {
              <text>@Gazeta.GazetaNazwaOpis</text><br/>
                }
            }
            @Gazeta.WydanieData.ToString("d MMMM yyyy")
        }
    </a>

     @if (layout_version == "KUPGAZETE")
        {
        
        @*
			<a href="/Home/Archiwum/@Gazeta.GazetaId" title="@Gazeta.GazetaNazwa"alt="" class="archiwum" style="width:220px">
			Kup e-wydanie
			archiwalne</a>            
		*@

        }
        

</div>
    }
}

@if (ViewBag.Tygodniki != null && ViewBag.Tygodniki.Count > 0)
{
<h2 class="clear">Media Mazowieckie</h2>
    foreach (var Gazeta in ViewBag.Tygodniki)
    {
<div class="gazeta">
    <a href="/Wydanie/@Gazeta.WydanieId" title="@Gazeta.GazetaNazwa">                        
        <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180&w=120" alt="" /><br />
        @Gazeta.GazetaNazwa<br />
         @if (Gazeta.GazetaNazwaOpis != null)
         {
             if (Gazeta.GazetaNazwaOpis.Length > 0)
             {
              <text>@Gazeta.GazetaNazwaOpis</text><br/>
             }
         }
        @Gazeta.WydanieData.ToString("d MMMM yyyy")
       
    </a>
</div>
    }
}
@*
@if (ViewBag.Miesieczniki != null && ViewBag.Miesieczniki.Count > 0)
{
    <h2 class="clear">Miesięczniki</h2>
    foreach (var Gazeta in ViewBag.Miesieczniki)
    {
    <div class="gazeta">
        <a href="/Wydanie/@Gazeta.WydanieId" title="@Gazeta.GazetaNazwa">                        
            <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180&w=120" alt="" /><br />
            @Gazeta.GazetaNazwa<br />
            @Gazeta.WydanieData.ToString("d MMMM yyyy")
        </a>
    </div>
    }
}
*@
    
@if (ViewBag.Bezplatne != null && ViewBag.Bezplatne.Count > 0)
{
<h2 class="clear">Wydania bezpłatne</h2>
    foreach (var Gazeta in ViewBag.Bezplatne)
    {
<div class="gazeta">
    <a href="/Wydanie/@Gazeta.WydanieId" title="@Gazeta.GazetaNazwa">                        
        <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180&w=120" alt="" /><br />
        @Gazeta.GazetaNazwa<br />
         @if (Gazeta.GazetaNazwaOpis != null)
         {
             if (Gazeta.GazetaNazwaOpis.Length > 0)
             {
              <text>@Gazeta.GazetaNazwaOpis</text><br/>
             }
         }
        @Gazeta.WydanieData.ToString("d MMMM yyyy")
    </a>
</div>
    }
}

</div>