﻿@using ISSG4.Models;
@model string
@{
    ViewBag.Title = "Kontakt";
}


<br />
<h2>Kontakt</h2>
<br/>
@if (Model.Contains("Kurier"))
{
<div class="row">
    <div class="col-sm">
        <h3>Wydawca</h3>
        <p>
            Kurier Szczeciński Sp. z o.o.<br />
            pl. Hołdu Pruskiego 8<br />
            70-550 Szczecin<br />

            NIP:851-262-18-96<br />
        </p>
    </div>
        <div class="col-sm">
            <h3>Redakcja</h3>
            <p>
            Kurier Szczeciński Sp. z o.o.<br />
            pl. Hołdu Pruskiego 8<br />
            70-550 Szczecin<br/>

            tel/fax sekr. 091 44-29-101<br />
            e-mail: <a href="mailto:redakcja@kurier.szczecin.pl">redakcja@kurier.szczecin.pl</a>
            </p>
        </div>
</div>
}
else
{
    <table class="kontakt">
    <tr>
        <td><h3>Wydawca:</h3></td>
        <td><h3>Prenumerata:</h3></td>
    </tr>
    <tr>
        <td>
            <p>
            Grupa WM Sp. z o.o.<br />
            Olsztyn, ul. Tracka 5<br />
            Tel. 89-539-77-00<br />
            <br />
            NIP: 729-198-10-28<br />
            KRS: 0000009446
            </p>
        </td>
        <td>
            <p>
            @if(DateTime.Now < DateTime.Parse("2017-01-01"))
            {
                <text>
                Tel: 89-539-77-77<br />
                Tel: 89-539-76-64<br />
                </text>
            }
            Tel: 89-539-76-63<br />
           @* Fax: 89-539-76-60<br />*@
            Tel. kom. 514-800-516<br />
            e-mal: <a href="mailto:prenumerata@gazetaolsztynska.pl">prenumerata@gazetaolsztynska.pl</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>Kontakt w sprawie reklamacji</h3>
        </td>
    </tr>
    <tr>
        <td>
            <p>@*<strong>Sprzedaż egzemplarzowa:</strong>
                <br /><br />*@
                Anna Pieniek 89 539 76 65<br />
                Elżbieta Przybysz 89 539 76 67
            </p>
            </td>
            <td>
            <p>@*
                <strong>Prenumeraty:</strong><br /><br />
                Magdalena Kapela 89 53976 63<br />
                   @if(DateTime.Now < DateTime.Parse("2017-01-01"))
                {
                       <text>
                        Rafał Strzelczyk 89 539 74 47
                    </text>
                   }
                   *@
            </p>
        </td>
    </tr>
</table>
}
