﻿@using ISSG4.Models;
@model string
@{
    ViewBag.Title = "Regulamin";
}
<h2>Regulamin</h2>

@if (Model.Contains("Kurier"))
{
   <div >
1. Zlecanie i zamieszczanie ogłoszeń drobnych jest dokonywane w oparciu o niniejszy regulamin. Zlecenie publikacji ogłoszenia jest równoznaczne z akceptacją postanowień niniejszego regulaminu.<br><br>
2. Ogłoszenie drobne może zawierać maksymalnie 160 znaków łącznie ze spacjami i znakami interpunkcyjnymi.<br><br>
3. Treść ogłoszeń nie może być sprzeczna z prawem i zasadami współżycia społecznego:<br><br>
- nie przyjmujemy ogłoszeń o charakterze negatywnym, oceniającym i porównawczym, których treść może być obraźliwa lub niezgodna z prawdą,<br><br>
- nie przyjmujemy ogłoszeń dotyczących leków.<br><br>
- nie przyjmujemy ogłoszeń towarzyskich,<br><br>
- ogłoszenia z branż medyczne, lekarskie, zdrowie, które wskazują na udzielanie świadczeń lekarskich, muszą zawierać nazwisko lekarza.<br />
    <br />
    - ogłoszenia pośredników z branży Nieruchomości muszą w treści zawierać nazwę Biura
    Nieruchomości.<br><br>
4. Wydawca nie ponosi odpowiedzialności za treść zamieszczanych ogłoszeń, reklam, zastrzega sobie prawo odmowy przyjęcia ogłoszenia i przekazania do publikacji, bez podania przyczyny oraz zastrzega sobie prawo poprawienia ogłoszenia tak aby było zgodne z zasadami pisowni polskiej.<br><br>
5. Cena za publikację ogłoszeń jest ustalona na podstawie obowiązującego w dniu złożenia zamówienia cennika, który znajduje się na stronie internetowej i stanowi integralną  część ninejszego regulaminu.<br />
    <br />
6. Data publikacji nastąpi według życzenia zlecającego, o ile ogłoszenie zostanie przesłane:
    <br />
    <br />
 - termin zwykły do godz. 24:00<br>
    <br />
7. Ceny podane w ceniku są cenami netto i należy doliczyć 23% podatku VAT.
    <br />
    <br>
8. W przypadku odmowy publikacji ogłoszenia kwota do zwrotu przekazywana jest zleceniodawcy w postaci przelewu na konto bankowe.<br><br>
9. Reklamacje za publikowane ogłoszenia są przyjmowane w ciągu 7 dni od daty reklamowanej emisji.<br><br>
10. Niedotrzymanie terminu zgłoszenia reklamacji powoduje utratę przez klienta prawa do reklamacji. 
    <br />
    <br />
    11. Dane osobowe są przechowywane z zgodzie z ustawą o ochronie danych osobowych.<br><br>
</div>
 
}
else
{
<p><b>Regulamin dostępu do elektronicznych wydań Gazety Olsztyńskiej, Dziennika Elbląskiego
 oraz Mazowieckich Mediów</b></p>

<h3>§1 Strony umowy</h3>

<p>Stronami umowy są :</p>
<p>- świadczący usługi: Grupa WM Sp. z o.o. z siedzibą w Olsztynie 10-304, ul. Tracka
5, zwana dalej "USŁUGODAWCĄ" oraz</p>

<p>- korzystający z usług - osoba fizyczna lub prawna albo jednostka organizacyjna
    nieposiadająca osobowości prawnej, zwana dalej "UŻYTKOWNIKIEM”.</p>

<h3>§2 Rodzaj świadczonych usług</h3>

<p> Niniejszy regulamin stanowi podstawę dla świadczenia usług polegających na udostępnianiu
elektronicznych wydań Gazety Olsztyńskiej, tygodników lokalnych oraz miesięcznika
ROLNICZE ABC za pomocą Internetowego Kiosku znajdującego się pod adresem: <i>kupgazete.pl
</i>Złożenie dostępu do elektronicznych wydań Gazety Olsztyńskiej jest równoznaczne
z akceptacją postanowień niniejszego regulaminu</p>

<h3>§3 Zamawianie usług i płatność.</h3>

<p>1. Usługi są oferowane za pośrednictwem mechanizmów dostępnych na stronie www Internetowego
Kiosku Usługodawcy, poprzez system płatności DotPay</p>

<p>2. Użytkownik chcący skorzystać z oferowanych Usług może zamówić je w następujący sposób:</p>

<p>a) zakup pojedynczego (aktualnego lub archiwalnego) wydania następuje poprzez wysłanie
przez Użytkownika SMS-a o treści „<b><span style="color: #ff0000">PS.GAZ</span></b>”
na wskazany numer telefonu.</p>

<p>b) zakup elektronicznej prenumeraty Gazety Olsztyńskiej wraz z wybranym tygodnikiem
lub wybranego miesięcznika, następuje poprzez zapłatę odpowiednich kwot za poszczególne
okresy prenumeraty. Możliwe jest wykupienie prenumeraty na okres od miesiąca do
roku czasu. Dotyczy także wydań archiwalnych. Płatność następuje za pomocą metod
płatności dostępnych na stronach Internetowego Kiosku.</p>

<p>Ceny za pojedyncze wydanie i za prenumeratę określa „Cennik wydań elektronicznych”</p>

<h3>§4 Zasady sprzedaży</h3>

<p>a) Internauta kupuje egzemplarz lub prenumeratę danego tytułu wraz z cyklicznymi
dodatkami jakie ukazują się w wydaniu papierowym. Wykupując prenumeratę GO lub DE
ma możliwość pobrania <b>jednego</b> z tygodników. Tytuł tygodnika określa przy
wykupie prenumeraty.</p>

<p>b) Dodatki okazjonalne oraz wartości dodane (kalendarze, płyty, książki itp.) nie
są dostępne w sprzedaży internetowej.</p>

<p>c) Prenumerata <u>może</u> zaczynać się w dowolnym dniu miesiąca i trwa minimum 30 dni.</p>

<p>d) Pliki dostępne są do pobrania od godz. 6.00</p>

<h3>§5 Potwierdzenie dostępu</h3>

<p>a) Poprzez SMS: Użytkownik , który wyśle SMS-a na numer wskazany na stronie po opłaceniu
usługi otrzyma potwierdzenie w postaci kodu zwrotnego umożliwiającego korzystanie
z wydania ( aktualnego lub archiwalnego) dostępnego tylko temu Użytkownikowi.</p>

<p>b) Poprzez e-mail : Użytkownik po opłaceniu usługi otrzyma na adres e-mail potwierdzenie
o zapłacie oraz informacje o dostępie do elektronicznych wydań Gazety Olsztyńskiej
na okres, za który Użytkownik zapłacił</p>

<h3>§6 Zawarcie umowy</h3>

<p>Zawarcie umowy świadczenia usług następuje w chwili wysłania SMS-a na wskazany na
stronie www Usługodawcy numer i po opłaceniu dostępu lub po opłaceniu dostępu oraz
po otrzymaniu potwierdzenia drogą mailową.</p>

<h3>§7 Mechanizm odblokowania dostępu</h3>

<p>1. Użytkownik aktywuje dostęp do elektronicznego wydania za pomocą wpisania kodu,
który otrzymał SMS-em zwrotnym (w przypadku usługi płatnej SMS-em). W przypadku
wykupienia prenumeraty dostęp w opłaconym okresie aktywowany jest automatycznie.</p>

<p>2. Każde elektroniczne wydanie Gazety Olsztyńskiej lub miesięcznika można ściągnąć
w formacie PDF za pomocą otrzymanego kodu tylko <b><u>trzykrotnie</u></b>.</p>

<p><b>Po trzykrotnym ,w ciągu jednego dnia, skopiowaniu wydania lub trzykrotnej próbie
skopiowania wydania na komputer Użytkownika, dostęp zostanie zablokowany. Następnego
dnia (w przypadku prenumeraty) dostęp ponownie będzie odblokowany.</b></p>

<h3>§8 Reklamacje</h3>

<p>1. Reklamacje można składać w przypadkach:</p>

<p>- kiedy Użytkownik nie otrzymał zwrotnego SMS-a lub maila z kodem.</p>

<p>- jeśli dostęp do elektronicznego wydania wygasł przed upłynięciem okresu za który Użytkownik zapłacił.</p>

<p>Kontakt w sprawie reklamacji w przypadku sprzedaży egzemplarzowej: <br/>
    Anna Pieniek 89 539 76 65<br/>
    Elżbieta Przybysz 89 539 76 67
</p>
<p>Kontakt w sprawie reklamacji w przypadku prenumerat:<br/>
    Magdalena Kapela 89 53976 63<br/>
    Rafał Strzelczyk 89 539 74 47
</p>

<h3>§9 Zastrzeżenia dotyczące wykonania zamówionej usług </h3>

<p>Usługodawca dołoży wszelkich starań, aby usługa została zrealizowana zgodnie z opisem
usługi, nie ponosi jednak odpowiedzialności za niepoprawne wykonanie usługi w przypadku
zaistnienia problemów technicznych, niezależnych od usługodawcy. Usługodawca nie
ponosi odpowiedzialności za wszelkie szkody wynikłe z powodu użytkowania serwisu
Internetowego Gazety Olsztyńskiej.</p>

<h3>§10 Prawa autorskie</h3>

<p>Użytkownicy korzystający z elektronicznych wydań Gazety Olsztyńskiej nie nabywają
jakichkolwiek praw do utworów tam zamieszczonych. Użytkownik może korzystać z tych
utworów jedynie w zakresie dozwolonym w przepisach ustawy z dnia 4 lutego 1994 r.
o prawie autorskim i prawach pokrewnych (Dz.U. Nr 24, poz. 83 z późn. zm.). <b>Zabronione
jest kopiowanie utworów oraz ich części, a także ich publiczne udostępnianie.</b></p>
}