﻿@using ISSG4.Models.ViewModels;
@using ISSG4.Models;
@using System.Linq;
@model ISSG4.Models.ViewModels.ArtViewList

@{ 
    string focusdata = string.Empty;
}

<div class="row">
    <div class="col-md" style="width:100%; ">
        <span >
            Wyniki wyszukiwania dla wyrazu
        </span><i class="dzial_nazwa">@Model.termin_string @* przemycone w innym polu *@</i> 
    </div>
</div>
<div class="container py-3">

    @foreach (i3_ArtArtykul art in Model.art_lista)
        {

            i3_ArtFoto fotoart = new i3_ArtFoto();

            if (Model.art_foto_list.Exists(d => d.ArtArtykulId == art.ArtArtykulId))
            {
                fotoart = Model.art_foto_list.Find(d => d.ArtArtykulId == art.ArtArtykulId);
                Wydanie w = art.i3_Wydanie;

                if (string.IsNullOrEmpty(fotoart.ArtFotoCropData) == false)
                {
                    focusdata = fotoart.ArtFotoCropData;
                }


            <div class="card">
            <div class="row">
                @*<div class="col-md-4 card" style="padding-top:10px">
                    <div class="card-body">*@
                <div class="col-md-3 p-1 text-center">
                    <a id="foto_@fotoart.ArtFotoId.ToString()"
                       href="/Art/Show/@art.ArtArtykulId">

                        <img src="/ArtFoto/ShowFoto?src=@art.i3_Wydanie.WydanieData.ToString("yyyyMMdd")\@Path.GetFileName(@fotoart.ArtFotoFilePath)&w=215&h=150&@focusdata"
                             alt="Image"
                             class="card-img-left" />

                       
                    </a>
                    </div>
                <div class="col-md-9 p-1">
                    @{
                        string tresc_dzial_img = ISSG3.Utils.NoHtmlTruncate(art.ArtArtykulTresc, 300);
                    }
                    <a id="tytul_@fotoart.ArtFotoId.ToString()"
                       href="/Art/Show/@art.ArtArtykulId">
                        <div class="card-body p-1">
                            <p class="card-title" style="color:black;font-size:105%; font-size:1.2em;">
                                @art.ArtArtykulTytul
                            </p>

                            <div class="card-text small" style="width:95%; color:black; padding-bottom:5px">
                                @tresc_dzial_img
                            </div>
                            <br/>
                            <div class="small" 
                               style="color:gray; position:absolute; bottom:0; padding-top:5px"
                               >Wydanie z dnia @w.WydanieData.ToString("dd-MM-yyyy")
                            </div>
                        </div>
                       
                        </a> 
                    
</div>
                    @*</div>
            </div>*@
                </div>
                </div>
                        }
                    }
    </div>
    @* else
                        {
        <div class="col-md-4 card">
            <a id="foto_@fotoart.ArtFotoId.ToString()"
               href="/Art/Show/@art.ArtArtykulId"
               class="" style="margin-bottom:5px">

                <div class="card-body">
                    <img src="~/Content/Img/white_strip_300.png"
                         alt="Image" class="card-img-top" />

                    <p class="card-title"
                       style="color:black;font-size:105%; padding-bottom:5px;  font-size:1.2em">
                        @art.ArtArtykulTytul
                    </p>
                </div>
            </a>

            @{
                string tresc_dzial_img = ISSG3.Utils.NoHtmlTruncate(art.ArtArtykulTresc, 160);
            }
            <p class="card-text small" style="width:100%">
                @tresc_dzial_img
            </p>
        </div>
        }
        }

    *@
