﻿@using ISSG4.Models.ViewModels;
@using ISSG4.Models;
@using System.Linq;

<div class="row">

    <div class="col-md" style="width:100%; margin:100px">
@using (Html.BeginForm("SearchResult", "Home", FormMethod.Post, new { style = "width:100%" }))
{
         <span class="dzial_nazwa">Szukaj w serwisie</span>
        <br/>
        <br />
        <div class="input-group">
         
            <input id="term" name="term" type="text" class="form-control" placeholder="Podaj wyraz" style="width:80%">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search">Szukaj</i>
                </button>
            </div>
 
        </div>
}
    </div>

</div>
