﻿@{
    ViewBag.Title = "Raporty";
}

<h2>Raporty</h2>

<a href="/Report/Param/eKomisy">[1001] Sprzedaż - płatności SMS (bieżące)</a>
<br/>
<br/>
<a href="/Report/Param/ePrenumeraty">[1002] Sprzedaż - płatności on-line</a>
<br/>
<br/>
<a href="/Report/Param/eSzczegolowy">[1003] Sprzedaż - płatności on-line (szczegółowy)</a>
<br/>
<br/>
<a href="/Report/Param/eDarmowe">[1004] Pobrania Darmowe</a>
<br/>
<br/>
<a href="/Report/Param/eImportowane">[1005] Kody importowane</a>
<br/>
<br/>
<a href="/Report/Param/ReczneAktywacje">[1006] Ręczne aktywacje</a>
<br/>
<br/>
<a href="/Report/Param/eKomisyArch">[1007] Sprzedaż - płatności SMS (archiwalne)</a>
