﻿@{
    ViewBag.Title = "Parametry";
}

@section Skrypty {
 <script type="text/javascript" language="javascript">
     function runReport() {
        var dod = document.getElementById('data_od').value;
        var ddo = document.getElementById('data_do').value;
        var operator = document.getElementById('operator').value;
        var win_url = "/Report/Show/@ViewBag.RouteDataPartId?data_od=" + dod + "&data_do=" + ddo+"&operator="+operator;

        window.open(win_url,"_blank","scrollbars=1,status=1",false);
     }

    $('#data_od').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });

     $('#data_do').datepicker({
         uiLibrary: 'bootstrap4',
         format: 'yyyy-mm-dd'
     });

     </script>
 }

<h2>Parametry raportu <br/> @ViewBag.RaportNazwa</h2>

@using (@Html.BeginForm())    
 {
    <div>
    @ViewBag.Komunikat
    </div>
    <div class="editor-label">
     Od:
     </div>
    <div class="editor-field">
        @Html.TextBox("data_od", @System.DateTime.Now.Date.AddDays(((-1) * System.DateTime.Now.Day) + 1).ToString("yyyy-MM-dd"),
                    new { @class = "calendar" })
    </div>

     <div class="editor-label">
     Do:
     </div>
    <div class="editor-field">
       @Html.TextBox("data_do", @System.DateTime.Now.Date.ToString("yyyy-MM-dd"), new { @class = "calendar" })
    </div>
    
     <div class="editor-field">
     Operator:<br/>
     <select id="operator">
        <option value="m" selected="selected">Mobiltek</option>
        <option value="b">Bildpresse</option>
        <option value="d">DotPay</option>
        <option value="s">SmartPay</option>
     </select>
      
    </div>
    
    <p>
    <input type="submit" value="Uruchom" style="display:none" />
   <br/>
    <a href="javascript:runReport();" style="display: block; float: left;">
        <img src="/Przycisk/Uruchom" alt="Uruchom raport" />
    </a>

    </p>
    
   }
 
