﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>
    Raport @ViewBag.RouteDataPartId, Okres od: 
    @DateTime.ParseExact(TempData["data_od"].ToString(), "yyyy-MM-dd", new System.Globalization.CultureInfo("pl-PL", true), System.Globalization.DateTimeStyles.AllowWhiteSpaces).ToString("dd-MM-yyyy") 
    do 
    @DateTime.ParseExact(TempData["data_do"].ToString(), "yyyy-MM-dd", new System.Globalization.CultureInfo("pl-PL", true), System.Globalization.DateTimeStyles.AllowWhiteSpaces).ToString("dd-MM-yyyy") 
    <br/>Operator
    @TempData["operator"].ToString()
    </title>
</head>
<body>
    <div>
 @Html.Partial("ReportView")    
    </div>
</body>
</html>
