﻿@model ISSG4.Models.CennikNaglowek

<tr @if (Model != null) {
    @:data-pkey="@Model.CennikNaglowekId"
}>
    <td>
        @Html.EditorFor(model => model.CennikNaglowekNazwa)
        @Html.ValidationMessageFor(model => model.CennikNaglowekNazwa)
    </td>
    <td>
        @Html.TextBoxFor(model => model.CennikNaglowekWaznyOd, new { @class = "calendar" })
        @Html.ValidationMessageFor(model => model.CennikNaglowekWaznyOd)
    </td>
    <td>
        @Html.EditorFor(model => model.CennikNaglowekAktywny)
        @Html.ValidationMessageFor(model => model.CennikNaglowekAktywny)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
