﻿@model IEnumerable<ISSG4.Models.CennikNaglowek>

@foreach (var item in Model) {
    <tr data-pkey="@item.CennikNaglowekId">
        <td>
            @Html.DisplayFor(modelItem => item.CennikNaglowekNazwa)
        </td>
        <td>
            @item.CennikNaglowekWaznyOd.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CennikNaglowekAktywny)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a><br />
            <a href="#editChildItems" class="editChildItems">Edytuj ceny</a>
        </td>
    </tr>
}
