﻿@model IEnumerable<ISSG4.Models.UzytkownikZdarzeniaHist>

@foreach (var item in Model) {
    <tr data-pkey="@item.ueh_id">
        <td>
            @Html.DisplayFor(modelItem => item.ueh_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ueh_czas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ueh_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ueh_description)
        </td>
    </tr>
}
