﻿@model IEnumerable<ISSG4.Models.ProduktRodzaj>

@foreach (var item in Model) {
    <tr data-pkey="@item.ProduktRodzajId">
        <td>
            @Html.DisplayFor(modelItem => item.ProduktRodzajNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktRodzajBiezace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktRodzajArchiwalne)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
