﻿@model ISSG4.Models.KodBuforGrupa

<tr @if (Model != null) {
    @:data-pkey="@Model.KodBuforGrupaId"
}>
    <td>
        @*Html.EditorFor(model => model.KodBuforGrupaKto)
        @Html.ValidationMessageFor(model => model.KodBuforGrupaKto)*@
    </td>
    <td>
        @Html.EditorFor(model => model.KodBuforGrupaKiedy)
        @Html.ValidationMessageFor(model => model.KodBuforGrupaKiedy)
    </td>
    <td>
        @Html.EditorFor(model => model.KodBuforGrupaIle)
        @Html.ValidationMessageFor(model => model.KodBuforGrupaIle)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
