﻿@model IEnumerable<ISSG4.Models.KodBuforGrupa>

@foreach (var item in Model) {
    <tr data-pkey="@item.KodBuforGrupaId">
        <td>
            @*@Html.DisplayFor(modelItem => item.KodBuforGrupaKto)*@
            <b>@item.Users.UserName</b><br />
            @item.Users.Imie @item.Users.Nazwisko
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodBuforGrupaKiedy)
        </td>
       
        <td>
            @*@Html.DisplayFor(modelItem => item.KodBuforWaznyDo)*@
            @item.KodBuforGrupaWaznyDo.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodBuforGrupaIle)
        </td>
        <td class="rowControl hidden">
            @*<a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>*@
            <a href="@Url.Action("Kod", new { id = item.KodBuforGrupaId })">Pokaż kody</a>
            <a href="@Url.Action("Pobierz", new { id = item.KodBuforGrupaId })">Pobierz</a>
        </td>
    </tr>
}
