﻿@model List<ISSG4.Models.KodBufor>

@{
    ViewBag.Title = "Kody - Bufor";
}

<h2>Kody - Bufor</h2>



@using (Html.BeginForm())
{
    <table>

        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
            <td style="text-align:left">
                @Html.HiddenFor(m => m[i].KodBuforId)
                @Model[i].Kod
            </td>
        </tr>
        }

    </table>
   @* <p style="margin-top: 15px;">
        <input type="submit" value="Zapisz" />
    </p>*@
}