﻿@model ISSG4.Models.Produkt

<tr @if (Model != null) {
    @:data-pkey="@Model.ProduktId"
}>
    <td>
        @Html.DropDownList("RodzajOkresuId", String.Empty)
        @Html.ValidationMessageFor(model => model.RodzajOkresuId)
    </td>
    <td>
        @Html.EditorFor(model => model.ProduktIlosc)
        @Html.ValidationMessageFor(model => model.ProduktIlosc)
    </td>
    <td>
        @Html.EditorFor(model => model.ProduktNazwa)
        @Html.ValidationMessageFor(model => model.ProduktNazwa)
    </td>
    <td>
        @Html.DropDownList("ProduktRodzajId", String.Empty)
        @Html.ValidationMessageFor(model => model.ProduktRodzajId)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
