﻿@model IEnumerable<ISSG4.Models.ImportKod>

@foreach (var item in Model) {
    <tr data-pkey="@item.ImportKodId">
        <td>
            @Html.DisplayFor(modelItem => item.ImportKodId)    
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wydanie,"_ddmmyy")
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.TytulKod1)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.TytulKod2)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.PobranyPdfCzas)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.PobranyPdfAdresIp)
        </td>      
    </tr>
}
