﻿@model IEnumerable<ISSG4.Models.ImportKodPlik>

@foreach (var item in Model) {
    <tr data-pkey="@item.ImportKodPlikId">
        <td>
            @Html.DisplayFor(modelItem => item.PlikNazwa)    
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImportCzas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImportKodPlikId)
        </td>      
        <td>
            @Html.ActionLink("Kody","IndexKod",new{ id = item.ImportKodPlikId})
        </td>
       
    </tr>
}
