﻿@model List<ISSG4.Models.viewKoszykJoined>
@{
    ViewBag.Title = "Twój koszyk";
    int Nr = 0;
}

<h2>Twój koszyk</h2>

<table style="width: 100%; text-align: center;" class="table table-responsive">
    <thead>
        <tr>
            <th class="d-none d-sm-table-cell">Nr</th>
            <th class="d-none d-sm-table-cell">Dodano</th>
            <th>Produkt</th>
            <th class="d-none d-sm-table-cell">Cena netto</th>
            <th class="d-none d-sm-table-cell">Vat</th>
            <th>Cena brutto</th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count > 0)
    {
        decimal suma_koszyka = 0;
        <tbody>
            @foreach (var item in Model)
            {
                Nr++;
                suma_koszyka += item.CennikBrutto;
                <tr>
                    <td class="d-none d-sm-table-cell">@Nr</td>
                    <td class="d-none d-sm-table-cell">@item.KoszykData.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@item.GazetaNazwa @item.ProduktNazwa @item.KoszykOd.ToString("dd-MM-yyyy")</td>
                    <td class="d-none d-sm-table-cell">@item.CennikNetto zł</td>
                    <td class="d-none d-sm-table-cell">@item.VatId</td>
                    <td><b>@item.CennikBrutto zł</b></td>
                    <td>@Html.ActionLink("Usuń pozycje", "Usun", "Koszyk", new { id = item.KoszykId }, null)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="d-none d-sm-table-cell" style="text-align: right; background-color: #fff"></td>
                <td class="d-none d-sm-table-cell" style="text-align: right; background-color: #fff"></td>
                <td style="text-align: right;"></td>
                <td class="d-none d-sm-table-cell" style="text-align: right;"></td>
                <td class="d-none d-sm-table-cell" style="background-color: #fff"></td>
                <td style="color: #000; font-size: 12pt;"><b>@suma_koszyka zł</b></td>
                <td style="background-color: #fff"></td>
            </tr>
        </tfoot>
    }
    else
    {
        <tbody>
            <tr>
                <td colspan="7">Koszyk jest pusty</td>
            </tr>
        </tbody>
    }
</table>

@{
    string issg_layout_ver = ISSG3.Utils.getOpcjeValue("issg_layout_ver");
}

@if (issg_layout_ver != "kurier")
{
    <a href="@Url.Action("Index", "Home")" style="display: block; float: left;">
        <img src="/Przycisk/Powrót%20na%20stronę%20główną" alt="Powrót na stroną główną" />
    </a>

        <a href="@Url.Action("Usun", "Koszyk")" style="display: block; float: left; margin-left:30px">
            <img src="/Przycisk/Wyczyść%20koszyk" alt="Wyczyść koszyk" />
        </a>

    if (Model.Count > 0)
    {
        <a href="@Url.Action("Zamawiam")" style="display: block; float: right;">
            <img src="/Przycisk/Zamawiam" alt="Zamawiam" />
        </a>
    }
}
else
{
    <div class="row">

        <div class="col-sm text-center">

            @if (Model.Count > 0)
            {

            <a href="@Url.Action("Zamawiam")" class="btn btn-info">
                Zamawiam
                @*<img src="/Przycisk/Zamawiam" alt="Zamawiam" />*@
            </a>
            }
            
       </div>
        <div class="col-sm text-center">
        </div>
            <div class="col-sm text-center">
                <a href="@Url.Action("Usun", "Koszyk")" @*style="display: block; float: left; margin-left:30px"*@
                   class="btn btn-info">
                    @*<img src="/Przycisk/Wyczyść%20koszyk" alt="Wyczyść koszyk" />*@
                    Wyczyść koszyk
                </a>
            </div>
        </div>

            <!-- Google Code for 2. Koszyk Conversion Page -->
            <script type="text/javascript">
                /* <![CDATA[ */
                var google_conversion_id = 857666731;
                var google_conversion_language = "en";
                var google_conversion_format = "3";
                var google_conversion_color = "ffffff";
                var google_conversion_label = "RZYWCJaEv28Qq-n7mAM";
                var google_remarketing_only = false;
                /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/857666731/?label=RZYWCJaEv28Qq-n7mAM&amp;guid=ON&amp;script=0" />
                </div>
            </noscript>

            }
