﻿@using ISSG4.Models.ViewModels
@using ISSG3.Models.ViewModels
@model StatusPlatnosciViewModel
@{
    ViewBag.Title = "Dziękujemy";
}

<h2>Dziękujemy</h2>

@if (Model.Status == "OK")
{
<p>Płatność została wykonana poprawnie. Z chwilą otrzymania potwierdzenia zapłaty, prenumeraty zostanią aktywowane. W zależności od sposobu płatności, odbywa się to natychmiast lub po pewnym czasie.</p>
}
else
{
<p>Nie otrzymaliśmy potwierdzenia zapłaty. Potwierdzenie płatności może nastąpić po upływie pewnego czasu. Proszę sprawdzić status na stronie <a href="@Url.Action("Index", "Prenumerata")">moje prenumeraty</a>.</p>
}

<p>
    <a href="/">
        <img src="/przycisk/Powrót%20na%20stronę%20główną" alt="Powrót na stronę główną" />
    </a>
</p>