﻿@*using ISSG4.Models.ViewModels*@
@*model ISSG4.Models.WydanieJoinedResult*@
@model ISSG4.Models.ViewModels.KoszykWykupModel
@{
    ViewBag.Title = "Wybierz sposób dostępu.";
    bool pobierzBtnAktywny = (ViewBag.NaDzial > 0);
}


<div class="mx-auto text-center mb-4">
    <h1 class="display-5">Zamów prenumeratę eKuriera</h1>
    <p class="lead">Codzienna porcja najlepszych treści oraz informacji ze Szczecina i regionu.</p>
</div>


<div class="row text-center">
    
    <div class="col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <img src="/Content/Img/mac_ek.png" class="img-fluid">
                
                <a href="/Wydanie/@Model.wydanieModel.WydanieId.ToString()">
                    <span class="btn btn-outline-primary" style="text-align:center;margin-top:15px;">
                        Zobacz eKurier
                    </span>
                </a>

                <hr/>
                <div id="faq">

                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <button class="btn btn-link text-dark collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="small">Dlaczego warto zamówić prenumeratę</div>
                            </button>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#faq" style="">
                            <div class="card-body small text-justify p-2">
                                Prenumerata eKuriera to wygodny sposób by najlepsze treści z bieżącego wydania Kuriera Szczecińskiego
                                trafiały prosto na Twoje urządzenie mobilne. Możesz czytać gazetę tak jak lubisz - na kanapie, przy porannej kawie,
                                w drodze do pracy, na wakacjach... W eKurierze znajdziesz też ekskluzywne materiały niedostępne nigdzie indziej
                                - nawet na naszym portalu.<br> 
                                <span class="text-danger"><b>
                                    Sprawdź jeszcze dziś jakie możliwości daje eKurier</b></span>
                                 - mobilne wydanie "Kuriera Szczecińskiego".
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header p-0 small" id="headingTwo">
                            <button class="btn btn-link text-dark small collapsed"
                                     data-toggle="collapse"
                                     data-target="#collapseTwo"
                                     aria-expanded="false"
                                     aria-controls="collapseTwo">

                                <div class="small">Pierwsza strona bieżącego wydania</div>
                            </button>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq" style="">
                            <div class="card-body">
                                <img class="border shadow img-fluid" src="/Home/Jedynka?src=@Model.wydanieModel.WydanieJedynka&w=200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div class="col-md-6" style="text-align:center; padding:10px">
        <div class="card mb-4 shadow-sm">
            <div class="card-header p-1">
                <b>eKurier + PDF gratis</b>
            </div>
            <div class="card-body">


                @Html.Partial("_Nowa", Model.nowaModel)


                <hr />

                @using (Html.BeginForm("Wydanie","Wydanie", FormMethod.Post, new { @class = "wykup_pdf"}))
                {
                    <p class="small mt-3">
                        <strong>
                            Kup „Kurier Szczeciński”
                           
                                <text>
                                    w PDF (bez eKuriera)
                                </text>
                            
                        </strong><br />
                        Wyślij sms o treści
                        <span class="nr" style="color:black">@Model.wydanieModel.GazetaKodSms</span>
                        pod numer telefonu
                        <span class="nr" style="color:black">@Model.wydanieModel.GazetaKodNumer</span><br />
                        (@Model.wydanieModel.GazetaKodCenaInfo)
                    </p>


                    <div style="text-align:center">

                        @Html.TextBox("Kod2", null, new { style = "width:50%;text-align:center", @class = "kodToCheck mb-2" })

                        <input type="hidden" value="@Model.wydanieModel.WydanieId" id="WydanieId" name="WydanieId" />
                        <input type="hidden" value="" id="Kod" name="Kod"/>

                        @Html.HiddenFor(m => m.wydanieModel.WydanieId)

                        <button id="SubmitKod" name="SubmitKod" type="button"
                                class="btn btn-outline-primary sprawdzKod mb-2">
                            Sprawdź kod
                        </button>

                        <div id="KodInfo" class="kodInfo"></div>

                        <button id="pobierzWydanie"
                           class="btn-sm shadow-sm btn-outline-danger d-none pobierzwydanie"
                           onclick="$('form').submit();"
                           @*href="javascript::$('form').submit();"*@
                           >
                            Kurier Szczeciński w PDF
                        </button>

                    </div>
                }

            </div>



            <div class="card-footer p-1 small text-muted">
                Masz pytania? Napisz do nas: ekurier@24kurier.pl
            </div>
            </div>

        </div>

        </div>


        <div class="modal" id="dodanoDoKoszykaModel" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Koszyk</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Dodano do koszyka</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $("body").delegate(".dodajDoKoszyka", "click", function (e) {
                $.post('@Html.Raw(@Url.Action("Dodaj", "Koszyk", new { CennikId = ViewBag.CennikId, Od = Model.wydanieModel.WydanieData }))', "", function (data) {
                    $('#koszykIlosc').html(data);
                    $('#dodanoDoKoszykaModel').modal('show');
                });
                e.preventDefault();
            });

            @*$("body").delegate(".sprawdzKod", "click", function (e) {
        var kodCheck = $('.kodToCheck').val();
        var urlwydaniePost = '/Wydanie/Wydanie/';

        urlwydaniePost = urlwydaniePost + "?WydanieId=" +@Model.WydanieId.ToString() +"&Kod=" + kodCheck;

        window.location = urlwydaniePost;

        //$.post(urlwydaniePost, "", function (data) {
        //    $("body").append("<iframe src='" + data +   "' style='display: none;' ></iframe>");
        //});
        e.preventDefault();
    });*@

        </script>
