﻿@model List<ISSG4.Models.viewKoszykJoined>
@{
    ViewBag.Title = "Zamawiam";
    int Nr = 0;
    decimal rabat = 0;
    if (ViewBag.PromoKod != null) {
        rabat = Math.Round(ViewBag.PromoKod.i3_PromoKodGrupa.i3_PromoKodTyp.Wartosc, 2, MidpointRounding.AwayFromZero);
}
    string issg_layout_ver = ISSG3.Utils.getOpcjeValue("issg_layout_ver");
}

<div class="card-header">Dane do zamówienia:</div>
<div style="background-color: #F0EFE2; padding: 15px 20px; margin-bottom: 16px; color: #47433F;">
    <div class="row">
        <div class="col-sm">
    <table class="table table-responsive" >
        <tr>
            <td>Imię i nazwisko:</td>
            <td>@ViewBag.User.uzytkownik.Imie @ViewBag.User.uzytkownik.Nazwisko</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@ViewBag.User.uzytkownik.Email</td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td>@ViewBag.User.uzytkownik.telefon</td>
        </tr>
        <tr>
            <td>Adres:</td>
            <td>@ViewBag.User.uzytkownik.ulica @ViewBag.User.uzytkownik.budynek
                @if (!string.IsNullOrWhiteSpace(ViewBag.User.uzytkownik.mieszkanie))
                {<text>/ @ViewBag.User.uzytkownik.mieszkanie</text>}
                <br/>
           @ViewBag.User.uzytkownik.Kod @ViewBag.User.uzytkownik.Miejscowosc,&nbsp; @ViewBag.User.uzytkownik.kraj</td>
        </tr>
       
    </table>
    </div>

    <div class="col-sm">
    <table class="table table-responsive">
        <tr>
            <td>Firma:</td>
            <td>
                @if (ViewBag.User.uzytkownik.czy_firma)
                {<text>@ViewBag.User.uzytkownik.nazwa_firmy</text>}
                else
                {<text>---</text>}</td>
        </tr>
        <tr>
            <td>NIP:</td>
            <td>
                @if (ViewBag.User.uzytkownik.czy_firma)
                {<text>@ViewBag.User.uzytkownik.nip</text>}
                else
                {<text>---</text>}</td>
        </tr>
        <tr>
            <td>Wystawić fakturę VAT:</td>
            <td>
                @if (ViewBag.User.uzytkownik.czy_faktura)
                {<text>Tak</text>}
                else
                {<text>Nie</text>}</td>
        </tr>
    </table>
   
</div>
</div>

    </div>
<p>Jeśli twoje dane nie zgadzają się, @Html.ActionLink("edytuj je", "Edytuj", "Konto", new { ReturnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, null).</p>
<div class="card-header">Zamówienie:</div>
@*<table style="width: 100%; text-align: center; margin-bottom: 0;">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Gazeta</th>
            <th>Produkt</th>
            <th>Od</th>
            <th>Cena</th>
            <th>Rabat</th>
            <th>Netto</th>
            <th>Vat</th>
            <th>Brutto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Nr++;
            <tr>
                <td>@Nr</td>
                <td>@item.GazetaNazwa</td>
                <td>@item.ProduktNazwa</td>
                <td>@item.KoszykOd.ToString("dd-MM-yyyy")</td>
                <td>@item.CennikBrutto zł</td>
                <td>@if (rabat > 0) { <text>@rabat zł</text> } else { <text>-</text> }</td>
                <td>@ViewBag.NettoPR[Nr-1] zł</td>
                <td>@item.VatId</td>
                <td><b>@ViewBag.BruttoPR[Nr-1] zł</b></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" style="text-align: right; background-color: #fff">Razem :</td>
            <td style="color: #000; font-size: 13pt;"><b>@ViewBag.BruttoPRSuma zł</b>
            </td>
        </tr>
    </tfoot>
</table>*@


<table style="width: 100%; text-align: center;" class="table table-responsive">
    <thead>
        <tr>
            <th class="d-none d-sm-table-cell">Nr</th>
            <th class="d-none d-sm-table-cell">Dodano</th>
            <th>Produkt</th>
            <th class="d-none d-sm-table-cell">Cena netto</th>
            <th class="d-none d-sm-table-cell">Vat</th>
            <th>Cena brutto</th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count > 0)
    {
        decimal suma_koszyka = 0;
        <tbody>
            @foreach (var item in Model)
            {
                Nr++;
                suma_koszyka += item.CennikBrutto;
                <tr>
                    <td class="d-none d-sm-table-cell">@Nr</td>
                    <td class="d-none d-sm-table-cell">@item.KoszykData.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@item.GazetaNazwa @item.ProduktNazwa @item.KoszykOd.ToString("dd-MM-yyyy")</td>
                    <td class="d-none d-sm-table-cell">@item.CennikNetto zł</td>
                    <td class="d-none d-sm-table-cell">@item.VatId</td>
                    <td><b>@item.CennikBrutto zł</b></td>
                    <td>@Html.ActionLink("Usuń pozycje", "Usun", "Koszyk", new { id = item.KoszykId }, null)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="d-none d-sm-table-cell" style="text-align: right; background-color: #fff"></td>
                <td class="d-none d-sm-table-cell" style="text-align: right; background-color: #fff"></td>
                <td style="text-align: right;"></td>
                <td class="d-none d-sm-table-cell" style="text-align: right;"></td>
                <td class="d-none d-sm-table-cell" style="background-color: #fff"></td>
                <td style="color: #000; font-size: 12pt;"><b>@suma_koszyka zł</b></td>
                <td style="background-color: #fff"></td>
            </tr>
        </tfoot>
    }
    else
    {
        <tbody>
            <tr>
                <td colspan="7">Koszyk jest pusty</td>
            </tr>
        </tbody>
    }
</table>

@*
    <h3 style="margin: 0;">Kod rabatowy:</h3>
    @using (Html.BeginForm("Zamawiam", "Koszyk", FormMethod.Get))
    {
        @Html.TextBox("promoKod")
        <input type="submit" value="Przelicz cenę" />
    }
    <p style="margin-bottom: 15px;">Jeśli posiadasz kod rabatowy wpisz go w powyższe pole.</p>
*@

@if (issg_layout_ver == "kurier")
{
    <div class="row">
        <div class="col-sm text-center">
            <a id="Zaplac" href="#" class="btn btn-info">
                @*<img src="/Przycisk/Zapłać%20on-line" alt="Zapłać on-line" />*@
                Zapłać on-line
            </a>
          </div>
        <div class="col-sm text-center">
            </div>
            <div class="col-sm text-center">
                <a href="/Koszyk" class="btn btn-info">
                    @*<img src="/Przycisk/Wróć%20do%20koszyka" alt="Wróć do koszyka" />*@
                    Wróc do koszyka
                </a>
            </div>
        </div>

<!-- Google Code for 4. Zamawiam Conversion Page -->
@*<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 857666731;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "GtEUCLuMpm8Qq-n7mAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/857666731/?label=GtEUCLuMpm8Qq-n7mAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  *@  
}

else
{
    <a href="/Koszyk" style="display: block; float: left;">
        <img src="/Przycisk/Wróć%20do%20koszyka" alt="Wróć do koszyka" />
    </a>
    <a id="Zaplac" href="#" style="display: block; float: right;">
        <img src="/Przycisk/Zapłać%20on-line" alt="Zapłać on-line" />
    </a>    
}

