﻿<footer class="bg-dark text-white">
    <!-- Copyright -->
  
<div class="small ml-3 mr-3 mt-5 py-3">
        Copyright © 2019 Kurier Szczeciński | 
    
    <a id="polityka_prywatnosci"
       target="_blank"
       href="https://www.24kurier.pl/strony-pomocnicze/polityka-prywatnosci/"
       style="color:white"
       > 
        Polityka prywatności 
    </a>
    @*| Regulamin*@
    
        <span class="float-right d-none d-sm-block">
            <a id="link_footer_fb"
               href="https://pl-pl.facebook.com/KurierSzczecinski/"
               target="_blank"
               style="color:white">
                <i class="fab fa-facebook-square ml-2" style="font-size:20px;"></i>
            </a>

            <a href="https://twitter.com/24kurier"
               target="_blank"
               style="color:white">
                <i class="fab fa-twitter-square ml-2" style="font-size:20px;"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCMANw5xU8yQwRH5oM-BKnUw"
               target="_blank"
               style="color:white">
                <i class="fab fa-youtube-square ml-2" style="font-size:20px;"></i>
            </a>
        </span>

        <span class="float-right d-none d-sm-none d-md-block">Znajdź nas:</span>

        <div class="d-block d-sm-none text-center mt-2">

            <a id="link_footer_fb"
               href="https://pl-pl.facebook.com/KurierSzczecinski/"
               target="_blank"
                style="color:white">
                <i class="fab fa-facebook-square ml-2" style="font-size:20px;"></i>
            </a>
            
            <a href="https://twitter.com/24kurier"
               target="_blank"
                style="color:white">
                <i class="fab fa-twitter-square ml-2" style="font-size:20px;"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCMANw5xU8yQwRH5oM-BKnUw"
               target="_blank"
                style="color:white">
                <i class="fab fa-youtube-square ml-2" style="font-size:20px;"></i>
            </a>               
           
            
        </div>
    </div>
    @*@(ISSG4.Models.Koszyk.getFooter())*@
    <!-- KONIEC stopka -->
    <script>
$(document).ready(function() {
    $(window).scroll( function(){
        $('.fadein').each( function(i){

            var bottom_of_element = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            if( bottom_of_window > bottom_of_element ){
                $(this).animate({'opacity':'1'},500);
            }

        });
    });
});
    </script>





</footer>