﻿@using System.Web.Mvc.Html;
@using MvcSiteMapProvider.Web.Html
@using BootstrapMvc.Mvc5
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>@ViewBag.Title</title>
    @if (ViewBag.Description != null)
    {
    <meta name="description" content="@ViewBag.Description" />
    }
    @if (ViewBag.Keywords != null)
    {
    <meta name="keywords" content="@ViewBag.Keywords" />
    }
    @*<link href="@Url.Content("~/Content/main_go.css?v=3")" rel="stylesheet" type="text/css" /> btsp*@
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/issg4.css?v=20190712")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    
    @*<link href="@Url.Content("~/Content/MVCControls/mvc.controls.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />*@

    @*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
   
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@

    @*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Scripts/jquery.easing-1.3.pack.js")" type="text/javascript"></script>*@

    @*<script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>*@
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/main.js?v=20190722")"></script>

    @*<script src="@Url.Content("~/Scripts/i18n/grid.locale-pl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

    @*MVC.Controls.MVCControlsScriptManager.Instance.RegisterScriptsAndStyles()*@

    @*RenderSection("Styles", false)*@
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    
    @*<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        *@
    @*20190510
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        *@
    <link id="bsdp-css" href="/Content/bootstrap/bootstrap-datepicker3.min.css" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.pl.min.js")" type="text/javascript"></script>
    


    
    <script src="https://use.fontawesome.com/c560c025cf.js"></script>

    <script src="@Url.Content("~/Scripts/jquery.focuspoint.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/helper-tool.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/focuspoint.css")" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <script src="@Url.Content("~/Scripts/cookieconsent.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/cookieconsent.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="main">
      

            @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel4")

         <div id="site_content" class="container">
            <div id="header" class="text-center">

                <div id="logo">
                    @*<div id="logo_text jumbotron-heading">*@
                </div>

                <div class="reklamaCustom" style="width:100%;margin:auto;  text-align: center;">
                </div>

                <div id="menubar">
                    @if (User.IsInRole("Prenum"))
                    {
                        @*Html.MvcSiteMap("PrenumSiteMapProvider").Menu(false, true, false)*@
                    }
                    else
                    {
                        @*Html.MvcSiteMap("PublicSiteMapProvider").Menu(false, true, false)*@



                    }
                </div>

                @*if (User.IsInRole("Administratorzy"))
            {
                    <span>Admin</span>
                    <div id="menubar_admin">
                        @Html.MvcSiteMap("AdminSiteMapProvider").Menu()
                    </div>
                }*@

            </div>
            


            @RenderBody()
             </div>

            <div id="footer">

                @Html.Partial("_Footer")

            </div>




       @* </div> *@







      </div>

      @RenderSection("Skrypty", false)

@{
    string issg_layout_ver = ISSG3.Utils.getOpcjeValue("issg_layout_ver");
 }
@if (issg_layout_ver == "kurier")
{
 <text>
    <!-- Kod tagu remarketingowego Google -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 857666731;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/857666731/?guid=ON&amp;script=0"/>
    </div>
    </noscript>
</text>
}
else
{
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string action = (string)ViewContext.RouteData.Values["action"];
    string url = Url.Action(action, controller);
    
    if (url == "/")
    {
    <text>
        <!-- (C)2000-2013 Gemius SA - gemiusAudience / pp.kupgazete.pl / strona_glowna_serwisu -->
        <script type="text/javascript">
        <!--    //--><![CDATA[//><!--
            var pp_gemius_identifier = 'nSc64TsoC9yJlalb06Klg6P8j1Nuq08VcrRHfxFds5X.K7';
            // lines below shouldn't be edited
            function gemius_pending(i) { window[i] = window[i] || function () { var x = window[i + '_pdata'] = window[i + '_pdata'] || []; x[x.length] = arguments; }; };
            gemius_pending('gemius_hit'); gemius_pending('gemius_event'); gemius_pending('pp_gemius_hit'); gemius_pending('pp_gemius_event');
            (function (d, t) {
                try {
                    var gt = d.createElement(t), s = d.getElementsByTagName(t)[0], l = 'http' + ((location.protocol == 'https:') ? 's' : ''); gt.setAttribute('async', 'async');
                    gt.setAttribute('defer', 'defer'); gt.src = l + '://gapl.hit.gemius.pl/xgemius.js'; s.parentNode.insertBefore(gt, s);
                } catch (e) { } 
            })(document, 'script');
            //--><!]]>
        </script>
    </text>
    }
    else
    {
        <text>
        <!-- (C)2000-2013 Gemius SA - gemiusAudience / pp.kupgazete.pl / podstrony -->
        <script type="text/javascript">
        <!--    //--><![CDATA[//><!--
            var pp_gemius_identifier = 'B8Mw3aL2L8MuCofxlmy89sSZ71w_Xg9G3IHRBGY1OzP.K7';
            // lines below shouldn't be edited
            function gemius_pending(i) { window[i] = window[i] || function () { var x = window[i + '_pdata'] = window[i + '_pdata'] || []; x[x.length] = arguments; }; };
            gemius_pending('gemius_hit'); gemius_pending('gemius_event'); gemius_pending('pp_gemius_hit'); gemius_pending('pp_gemius_event');
            (function (d, t) {
                try {
                    var gt = d.createElement(t), s = d.getElementsByTagName(t)[0], l = 'http' + ((location.protocol == 'https:') ? 's' : ''); gt.setAttribute('async', 'async');
                    gt.setAttribute('defer', 'defer'); gt.src = l + '://gapl.hit.gemius.pl/xgemius.js'; s.parentNode.insertBefore(gt, s);
                } catch (e) { } 
            })(document, 'script');
            //--><!]]>
        </script>
         </text>
    }
}
</body>
</html>
