﻿@{if(Request.IsAuthenticated)
{
      <text>Witaj <strong>@User.Identity.Name</strong>! [ </text>

    if(!User.IsInRole("Prenum"))
        {
            @Html.ActionLink("Edytuj Konto", "Edytuj", "Konto") <text>|</text>
        }
        @Html.ActionLink("Zmień hasło", "ZmienHaslo", "Konto") <text>|</text>
        @Html.ActionLink("Wyloguj się", "Wyloguj", "Konto") <text>]</text>
}
else
{
    <text>[    @Html.ActionLink("Zarejestruj się", "Nowe", "Konto") | 
            @Html.ActionLink("Zapomniałem hasło", "ResetujHaslo", "Konto") |
            @Html.ActionLink("Zaloguj się", "Zaloguj", "Konto") ]
    </text>
}

}