﻿@using System.Linq;
@model ISSG4.Controllers.PrenumerataController.NowaViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("Nowa", "Prenumerata", FormMethod.Post, new { @class="card border-0", style="padding:20px", id="nowa_form"}))
{

@*Html.ValidationSummary("Popraw następujące błędy:");*@
        
    <div id="ks_nowa_prenumerata">
        <div style="display:none">
            @Html.DropDownList("GazetaId", Model.Gazety.OrderBy(d => d.Value))
            
        </div>
        @Html.HiddenFor(d => d.DodatekId, new { @value = "0" })

        <div id="radio-prenum" style="text-align:left">

            @foreach (SelectListItem sli in Model.Produkty)
            {
                <!-- Default checked -->
                <div class="custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input" id="PR_@sli.Value" name="ProduktId" value="@sli.Value"
                           @if(sli.Value == "20")
                           {
                               <text>checked</text>
                           }
                           >
                    <label class="custom-control-label" for="PR_@sli.Value">@sli.Text</label>
                   
                    @*END PROMO
                        
                        if (sli.Value == "2")
    {
        <span style="color:red; text-decoration:line-through">
            20 zł
        </span>
    }
    @if (sli.Value == "6")
    {
        <span style="color:red; text-decoration:line-through">
            55 zł
        </span>
    }
    @if (sli.Value == "9")
    {
        <span style="color:red; text-decoration:line-through">
            105 zł
        </span>
    }

    @if (sli.Value == "20")
    {
        <span style="color:red; text-decoration:line-through">
            205 zł
        </span>
    }
                    *@

                </div>
            }
        </div>

        </div>
        <br/>
        <div >
            <div style="text-align:left;padding-top:20px;padding-bottom:10px">
                @Html.Label("Od", "Data początku prenumeraty lub pojedynczego wydania:")
            </div>
            <div>
                @Html.TextBoxFor(m => m.Od, new { @class = "calendar" })
            </div>


            <button type="submit" class="btn btn-primary mt-3 ">
                <i class="fa fa-shopping-cart"
                   onclick="$('#nowa_form').submit();"></i>
                Dodaj do koszyka
            </button>
        </div>
      

        <script>
          
            $('#Od').datepicker({
                format: "dd-mm-yyyy",
                weekStart: 1,
                language: "pl",
                todayHighlight: true,
                autoclose: true
            });
        </script>


<!-- Google Code for 1. Nowa prenumerata Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 857666731;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "r-FkCP6Dv28Qq-n7mAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
 src="//www.googleadservices.com/pagead/conversion/857666731/?label=r-FkCP6Dv28Qq-n7mAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>    
    
        


}