﻿@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtView

@{ 
    DateTime wyd = Model.wydanie.WydanieData;
    int tresc_length = Model.art.ArtArtykulTresc.Length;

    // dłuższe teksty pow. 1000 zn. są obcinane po ćwierci a krótsze po połowie.
    int dzielnik = tresc_length > 1000 ? 5 : 3;
    int tresc_cut = Convert.ToInt16(Math.Ceiling((double)(tresc_length / dzielnik)));
    int procent_tresci = tresc_length > 1000 ? 80 : 66;
    int krotka_tresc = 500;

    string tresc_og = "";

    var tresc_input = Model.art.ArtArtykulTresc
                    .Replace("&nbsp;", " ")
                    .Replace("&oacute;", "ó")
                    .Replace("&ndash;", "-")
                    .Replace("&rdquo;", "\"")
                    .Replace("&bdquo;", "&#8222;");


    var tresc = ISSG3.HtmlTruncator.LimitOnWordBoundary(tresc_input, tresc_cut,"...");

    string string_info = "html_length:" + tresc_length.ToString() + "; odcięcie_po:" + tresc_cut.ToString() + "; tresc po obcięciu:" + tresc.Length.ToString();
}

@*Html.Hidden("art_info",string_info)*

@* N O W A *@
<div class="row">
    <div class="col-sm-12 col-lg-10 col-xl-8 mx-auto">
        <div style="-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);">
            <p class="lead">
                @Html.Raw(tresc)
                @if(tresc.Length > 150)
                {
                    tresc_og = tresc.Substring(0, 149);
                }
                else
                {
                    tresc_og = tresc;
                }
                <meta property="og:description" content="@tresc_og" />
            </p>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
            <div class="card">
                <div class="card-header small p-1 bg-danger text-white text-center" style="letter-spacing: 1px;">
                    <b>Zawartość dostępna dla czytelników eKuriera</b>
                </div>
                <div class="card-body p-3 text-center">
                    
                    <h5 class="card-title">
                        Pozostało jeszcze 
                        <span style="font-size: 32px; font-weight: bold;">

                            @procent_tresci.ToString()%

                        </span> treści
                    </h5>

                    <p class="card-text"><b>Pełna treść artykułu dostępna po zakupie<br>
                        <span style="color: #d9274e;">eKuriera</span>
                        <br>
                        
                        z dnia @wyd.ToString("dd-MM-yyyy")
                        
                        </b></p>

                    @*<button type="button" class="btn btn-outline-danger">Wykup dostęp</button>*@
                    <div style="text-align: center;">
                        <div style="text-align: center;">
                            <a style="display: inline-block;
                            background-color: #ffffff;
                            border: 1px solid #d9274e;
                            /*font-size: 15px;*/
                            
                            padding: 10px 10px;
                            text-decoration: none;
                            color: #d9274e;
                            border-radius: 6px;"
                               href="/Koszyk/Wykup/@Model.wydanie.WydanieId.ToString()"
                               onmouseover="this.style.backgroundColor = '#d9274e';this.style.color = '#FFFFFF'"
                               onmouseout="this.style.backgroundColor = '#FFFFFF'; this.style.color = '#d9274e'">
                                Wykup dostęp
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    

