﻿@model ISSG4.Models.Dodatek

<tr @if (Model != null) {
    @:data-pkey="@Model.DodatekId"
}>
    <td>
        @Html.EditorFor(model => model.DodatekNazwa)
        @Html.ValidationMessageFor(model => model.DodatekNazwa)
    </td>
    <td>
        @Html.EditorFor(model => model.DodatekSkrot)
        @Html.ValidationMessageFor(model => model.DodatekSkrot)
    </td>
    <td>
        @Html.EditorFor(model => model.DodatekAktywny)
        @Html.ValidationMessageFor(model => model.DodatekAktywny)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
