﻿@model IEnumerable<ISSG4.Models.Dodatek>

@foreach (var item in Model) {
    <tr data-pkey="@item.DodatekId">
        <td>
            @Html.DisplayFor(modelItem => item.DodatekNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DodatekSkrot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DodatekAktywny)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>
        </td>
    </tr>
}
