﻿@model IEnumerable<ISSG4.Models.Kod>

@foreach (var item in Model) {
    <tr data-pkey="@item.KodKod">
        <td>
            @Html.DisplayFor(modelItem => item.i3_Wydanie.WydanieData,"_ddmmyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodKod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodCzas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodIP)
        </td>
    </tr>
}
