﻿@model ISSG4.Models.UpdateModel

@{
    ViewBag.Title = "Moje dane";
}

<h3>Moje dane</h3>

<p>
    Tutaj możesz edytować swoje dane.
</p>

@{
    if (ViewBag.Success != null) {
        if (ViewBag.Success)
        {
        <text><p class="red">Poprawnie zapisano dane.</p></text>
        } else {
        <text><p class="red">Wystąpił błąd podczas zapisu.</p></text>
        }
    }
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Zapisanie zmian nie powiodło się. Popraw błędy i spróbuj ponownie.")
    <div>
        <h4>Podstawowe informacje</h4>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Model.UserName@Html.HiddenFor(m => m.UserName)</td>
            <td></td>
            </tr>
            
            <tr>
            <td>@Html.LabelFor(m => m.Imie)</td>
            <td>@Html.TextBoxFor(m => m.Imie)</td>
            <td>@Html.ValidationMessageFor(m => m.Imie)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Nazwisko)</td>
            <td>@Html.TextBoxFor(m => m.Nazwisko)</td>
            <td>@Html.ValidationMessageFor(m => m.Nazwisko)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.DisplayFor(m => m.Email)
            @Html.HiddenFor(m => m.Email)</td>
            <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Telefon)</td>
            <td>@Html.TextBoxFor(m => m.Telefon)
            <td>@Html.ValidationMessageFor(m => m.Telefon)
            </tr>

        </table>
        

        
        <h4>Dane Firmowe</h4>

        <table>

            <tr>
            <td></td>
            <td>@Html.CheckBoxFor(m => m.CzyFirma) @Html.LabelFor(m => m.CzyFirma)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyFirma)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.NazwaFirmy)</td>
            <td>@Html.TextBoxFor(m => m.NazwaFirmy, new { disabled = true })</td>
            <td>@Html.ValidationMessageFor(m => m.NazwaFirmy)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.NIP)</td>
            <td>@Html.TextBoxFor(m => m.NIP, new { disabled = true })</td>
            <td>@Html.ValidationMessageFor(m => m.NIP)</td>
            </tr>

            <tr>
            <td></td>
            <td>@Html.CheckBoxFor(m => m.CzyFaktura, new { disabled = true }) @Html.LabelFor(m => m.CzyFaktura)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyFaktura)</td>
            </tr>

        </table>
        
        
        <script type="text/javascript">
            function toggleFirma() {
                if ($('#CzyFirma').is(':checked')) {
                    $('#NazwaFirmy, #NIP, #CzyFaktura').removeAttr('disabled');
                } else {
                    $('#NazwaFirmy, #NIP, #CzyFaktura').attr('disabled', true).val('').removeAttr('checked').removeAttr('selected');
                }
            }
            $('#CzyFirma').click(toggleFirma);
            toggleFirma();
        </script>

        
        <h4>Dane teleadresowe</h4>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.Ulica)</td>
            <td>@Html.TextBoxFor(m => m.Ulica)</td>
            <td>@Html.ValidationMessageFor(m => m.Ulica)</td>
            </tr>

            <tr>
            <td>Nr budynku<br />/ mieszkania</td>
            <td>@Html.TextBoxFor(m => m.Budynek, new { style = "width: 30px;" }) / @Html.TextBoxFor(m => m.Mieszkanie, new { style = "width: 20px;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Budynek)@Html.ValidationMessageFor(m => m.Mieszkanie)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Kod)</td>
            <td>@Html.TextBoxFor(m => m.Kod)</td>
            <td>@Html.ValidationMessageFor(m => m.Kod)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Miejscowosc)</td>
            <td>@Html.TextBoxFor(m => m.Miejscowosc)</td>
            <td>@Html.ValidationMessageFor(m => m.Miejscowosc)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Kraj)</td>
            <td>@Html.DropDownListFor(m => m.Kraj, new SelectList(Model.Kraje, "Key", "Value"))</td>
            <td>@Html.ValidationMessageFor(m => m.Kraj)</td>
            </tr>

        </table>
        

        
        <h4>Adres do korespondencji</h4>

        <p>Uzupełnij, gdy adres do korespodencji jest inny od adresu zamieszkania/firmy.</p>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji1)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji1)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji1)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji2)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji2)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji2)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji3)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji3)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji3)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji4)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji4)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji4)</td>
            </tr>

        </table>
        
        <p></p>

        <table>
            
            <tr>
            <td>@Html.CheckBoxFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            <td>@Html.LabelFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            </tr>

            <tr>
            <td>@Html.CheckBoxFor(m => m.CzyZgodaNaReklamy)</td>
            <td>@Html.LabelFor(m => m.CzyZgodaNaReklamy)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyZgodaNaReklamy)</td>
            </tr>

        </table>

        @CaptchaMVC.HtmlHelpers.CaptchaHelper.Captcha(Html, "Odśwież obrazek", "Wpisz znaki z obrazka:", 5)
    
        <p style="margin-top: 20px;">
            <input type="submit" value="Zapisz zmiany" class="btn btn-info"/>
        </p>
    </div>   
}
