﻿@model ISSG4.Models.RegisterModel

@{
    ViewBag.Title = "Nowe konto";
}

<h2>Utwórz nowe konto</h2>
<p>
    Nowe hasło musi zawierać minimum @Membership.MinRequiredPasswordLength znaków długości.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<style>
    input[type=text], input[type=password] { width: 250px; }
    select { min-width: 250px; }
</style>

@*{
    string issg_layout_ver = ISSG3.Utils.getOpcjeValue("issg_layout_ver");
    if (string.IsNullOrEmpty(issg_layout_ver))
    {
        <text>issg_layout_ver EMPTY</text>
    } else
    {
        <text>@issg_layout_ver</text>
    }
        
  }
  <span>issg_layout_ver: @issg_layout_ver</span>
  *@

  
@{
    string issg_layout_ver = ISSG3.Utils.getOpcjeValue("issg_layout_ver");
 }
  
 
@using (Html.BeginForm())
{
    if (issg_layout_ver == "kurier")
    {
    <div  style="left:-2000px; position:absolute;">
       <input type="text" class="text" name="Email" placeholder="Email" />
       </div>
    
    @Html.ValidationSummary(true, "Stworzenie konta nie powiodło się. Popraw błędy i spróbuj ponownie.")
    <div>
        <fieldset class=>
        <legend>Podstawowe informacje</legend>

        <table>

            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>

               <tr>
            <td>@Html.LabelFor(m => m.Imie)</td>
            <td>@Html.TextBoxFor(m => m.Imie)</td>
            <td>@Html.ValidationMessageFor(m => m.Imie)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Nazwisko)</td>
            <td>@Html.TextBoxFor(m => m.Nazwisko)</td>
            <td>@Html.ValidationMessageFor(m => m.Nazwisko)</td>
            </tr>
            
       

            <tr>
            <td>@Html.LabelFor(m => m.AdresPocztyElektronicznej)</td>
            <td>@Html.TextBoxFor(m => m.AdresPocztyElektronicznej)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresPocztyElektronicznej)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
            <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>

               <tr>
            <td colspan="3" style="text-align:left">
                
            </td>
            </tr>
              <tr>
            <td colspan="3" style="text-align:left">
                Dane dodatkowe
            </td>
            </tr>
            <tr>
            <td colspan="3">
                <hr />
            </td>
            </tr>

         

            <tr>
            <td>@Html.LabelFor(m => m.Telefon)</td>
            <td>@Html.TextBoxFor(m => m.Telefon)
            <td>@Html.ValidationMessageFor(m => m.Telefon)
            </tr>

        </table>
        </fieldset>
        
        @Html.CheckBoxFor(m => m.CzyFirma) @Html.LabelFor(m => m.CzyFirma)
        @Html.ValidationMessageFor(m => m.CzyFirma)

        <fieldset class="firma">
        <legend>Dane Firmowe</legend>
        <table>
           
            <tr>
            <td>@Html.LabelFor(m => m.NazwaFirmy)</td>
            <td>@Html.TextBoxFor(m => m.NazwaFirmy, new { disabled = true })</td>
            <td>@Html.ValidationMessageFor(m => m.NazwaFirmy)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.NIP)</td>
            <td>@Html.TextBoxFor(m => m.NIP, new { disabled = true })</td>
            <td>@Html.ValidationMessageFor(m => m.NIP)</td>
            </tr>

            <tr>
            <td></td>
            <td>@Html.CheckBoxFor(m => m.CzyFaktura, new { disabled = true }) @Html.LabelFor(m => m.CzyFaktura)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyFaktura)</td>
            </tr>

        </table>
        </fieldset>
        
       

        
        <fieldset class='firma'>
        <legend>Dane teleadresowe</legend>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.Ulica)</td>
            <td>@Html.TextBoxFor(m => m.Ulica)</td>
            <td>@Html.ValidationMessageFor(m => m.Ulica)</td>
            </tr>

            <tr>
            <td>Nr budynku<br />/ mieszkania</td>
            <td>@Html.TextBoxFor(m => m.Budynek, new { style = "width: 30px;" }) / @Html.TextBoxFor(m => m.Mieszkanie, new { style = "width: 20px;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Budynek)@Html.ValidationMessageFor(m => m.Mieszkanie)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Kod)</td>
            <td>@Html.TextBoxFor(m => m.Kod)</td>
            <td>@Html.ValidationMessageFor(m => m.Kod)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Miejscowosc)</td>
            <td>@Html.TextBoxFor(m => m.Miejscowosc)</td>
            <td>@Html.ValidationMessageFor(m => m.Miejscowosc)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Kraj)</td>
            <td>@Html.DropDownListFor(m => m.Kraj, new SelectList(Model.Kraje, "Key", "Value"))</td>
            <td>@Html.ValidationMessageFor(m => m.Kraj)</td>
            </tr>

        </table>
        
        <br/>
        <hr/> <br/>
        <br/>

        <legend>Adres do korespondencji</legend>

        <p>Uzupełnij, gdy adres do korenspodencji jest inny od adresu zamieszkania/firmy.</p>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji1)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji1)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji1)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji2)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji2)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji2)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji3)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji3)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji3)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji4)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji4)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji4)</td>
            </tr>

        </table>
        </fieldset>

        <p></p>

        <table>
            
            <tr>
            <td> <span style="color:red">*</span>
            @Html.CheckBoxFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            <td>
                @Html.LabelFor(m => m.CzyZgodaNaPrzetwarzanie).
                Więcej w <a href="//24kurier.pl/strony-pomocnicze/polityka-prywatnosci/">Polityce Prywatności</a>
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.CzyZgodaNaPrzetwarzanie)
            </td>
            </tr>

            <tr>
            <td>@Html.CheckBoxFor(m => m.CzyZgodaNaReklamy)</td>
            <td>
                @Html.LabelFor(m => m.CzyZgodaNaReklamy).
                Więcej w <a href="//24kurier.pl/strony-pomocnicze/polityka-prywatnosci/">Polityce Prywatności</a>        
            </td>
            <td>@Html.ValidationMessageFor(m => m.CzyZgodaNaReklamy)</td>
            </tr>

        </table>
        
        @*CaptchaMVC.HtmlHelpers.CaptchaHelper.Captcha(Html, "Odśwież obrazek", "Wpisz znaki z obrazka:", 5)*@

        <fieldset>
        <legend></legend>
          <p style="line-height:1.4; padding:0 0 8px 0" >25 maja 2018 roku zaczęło obowiązywać Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r (RODO).
            Zgodnie z nim przysługuje Ci prawo dostępu do Twoich danych, prawo do ich sprostowania, usuwania, prawo do przenoszenia danych, wyrażenia sprzeciwu, prawo do ograniczenia przetwarzania. Przysługuje Ci także prawo do wniesienia skargi do organu nadzorczego, którym będzie Prezes Urzędu Ochrony Danych Osobowych.
            W kwestiach dotyczących ochrony danych osobowych możesz się skontaktować z nami na adres mailowy daneosobowe@24kurier.pl.</p>
        </fieldset>
    
        <p style="margin-top: 15px;">
            <input type="submit" value="Utwórz konto" />
        </p>
    </div>
    
    
    <!-- Google Code for 3. Nowe konto Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 857666731;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "OJ7oCLSOpm8Qq-n7mAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/857666731/?label=OJ7oCLSOpm8Qq-n7mAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
    
    }

    else
    { @* go *@
             @Html.ValidationSummary(true, "Stworzenie konta nie powiodło się. Popraw błędy i spróbuj ponownie.")
    <div>
        <fieldset>
        <legend>Podstawowe informacje</legend>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.TextBoxFor(m => m.UserName)</td>
            <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>
            
            <tr>
            <td>@Html.LabelFor(m => m.Imie)</td>
            <td>@Html.TextBoxFor(m => m.Imie)</td>
            <td>@Html.ValidationMessageFor(m => m.Imie)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Nazwisko)</td>
            <td>@Html.TextBoxFor(m => m.Nazwisko)</td>
            <td>@Html.ValidationMessageFor(m => m.Nazwisko)</td>
            </tr>

           @* <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
            <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            *@
              <tr>
            <td>@Html.LabelFor(m => m.AdresPocztyElektronicznej)</td>
            <td>@Html.TextBoxFor(m => m.AdresPocztyElektronicznej)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresPocztyElektronicznej)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Telefon)</td>
            <td>@Html.TextBoxFor(m => m.Telefon)
            <td>@Html.ValidationMessageFor(m => m.Telefon)
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
            <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>

        </table>
        </fieldset>

        
        <h4>Dane Firmowe</h4>

        <table>

            <tr>
            <td></td>
            <td>@Html.CheckBoxFor(m => m.CzyFirma) @Html.LabelFor(m => m.CzyFirma)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyFirma)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.NazwaFirmy)</td>
            <td>@Html.TextBoxFor(m => m.NazwaFirmy, new { disabled = true })</td>
            <td>@Html.ValidationMessageFor(m => m.NazwaFirmy)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.NIP)</td>
            <td>@Html.TextBoxFor(m => m.NIP, new { disabled = true })</td>
            <td>@Html.ValidationMessageFor(m => m.NIP)</td>
            </tr>

            <tr>
            <td></td>
            <td>@Html.CheckBoxFor(m => m.CzyFaktura, new { disabled = true }) @Html.LabelFor(m => m.CzyFaktura)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyFaktura)</td>
            </tr>

        </table>
        
        
        <script type="text/javascript">
            function toggleFirma() {
                if ($('#CzyFirma').is(':checked')) {
                    $('#NazwaFirmy, #NIP, #CzyFaktura').removeAttr('disabled');
                } else {
                    $('#NazwaFirmy, #NIP, #CzyFaktura').attr('disabled', true).val('').removeAttr('checked').removeAttr('selected');
                }
            }
            $('#CzyFirma').click(toggleFirma);
            toggleFirma();
        </script>

        
        <h4>Dane teleadresowe</h4>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.Ulica)</td>
            <td>@Html.TextBoxFor(m => m.Ulica)</td>
            <td>@Html.ValidationMessageFor(m => m.Ulica)</td>
            </tr>

            <tr>
            <td>Nr budynku<br />/ mieszkania</td>
            <td>@Html.TextBoxFor(m => m.Budynek, new { style = "width: 30px;" }) / @Html.TextBoxFor(m => m.Mieszkanie, new { style = "width: 20px;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Budynek)@Html.ValidationMessageFor(m => m.Mieszkanie)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Kod)</td>
            <td>@Html.TextBoxFor(m => m.Kod)</td>
            <td>@Html.ValidationMessageFor(m => m.Kod)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Miejscowosc)</td>
            <td>@Html.TextBoxFor(m => m.Miejscowosc)</td>
            <td>@Html.ValidationMessageFor(m => m.Miejscowosc)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.Kraj)</td>
            <td>@Html.DropDownListFor(m => m.Kraj, new SelectList(Model.Kraje, "Key", "Value"))</td>
            <td>@Html.ValidationMessageFor(m => m.Kraj)</td>
            </tr>

        </table>
        

        
        <h4>Adres do korespondencji</h4>

        <p>Uzupełnij, gdy adres do korenspodencji jest inny od adresu zamieszkania/firmy.</p>

        <table>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji1)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji1)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji1)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji2)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji2)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji2)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji3)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji3)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji3)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.AdresDokorenspodencji4)</td>
            <td>@Html.TextBoxFor(m => m.AdresDokorenspodencji4)</td>
            <td>@Html.ValidationMessageFor(m => m.AdresDokorenspodencji4)</td>
            </tr>

        </table>

        <p></p>

        <table>
            
            <tr>
            <td>@Html.CheckBoxFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            <td>@Html.LabelFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyZgodaNaPrzetwarzanie)</td>
            </tr>

            <tr>
            <td>@Html.CheckBoxFor(m => m.CzyZgodaNaReklamy)</td>
            <td>@Html.LabelFor(m => m.CzyZgodaNaReklamy)</td>
            <td>@Html.ValidationMessageFor(m => m.CzyZgodaNaReklamy)</td>
            </tr>

        </table>
        
        @*CaptchaMVC.HtmlHelpers.CaptchaHelper.Captcha(Html, "Odśwież obrazek", "Wpisz znaki z obrazka:", 5)*@
    
        <p style="margin-top: 20px;"><input type="submit" value="Utwórz konto" /></p>
    </div>  
       }
} 

 <script type="text/javascript">
     function toggleFirma() {
         if ($('#CzyFirma').is(':checked')) {
             $('#NazwaFirmy, #NIP, #CzyFaktura').removeAttr('disabled');
         } else {
             $('#NazwaFirmy, #NIP, #CzyFaktura').attr('disabled', true).val('').removeAttr('checked').removeAttr('selected');
         }

         if ($('#CzyFirma').is(':checked')) {
             $('.firma').show();
         } else {
             $('.firma').hide();             
         }

     }
     $('#CzyFirma').click(toggleFirma);
     toggleFirma();

    
</script>

@*<script>
    (function ($, undefined) {

        if ($('#Kraj').val() != 'POL') {
            $('#Kod').rules("remove");
        }

        $('#Kraj').change(function () {
            if ($(this).val() != 'POL') {
                $('#Kod').rules("remove");
            }
            else {
                $('#Kod').rules("add", {
                    /*required: true,
                    minlength: 2,*/
                    regex: "[0-9]{2}-[0-9]{3}"
                    , messages: {
                        regex: "Format 12-345"
                        /*,minlength: jQuery.format("Please, at least {0} characters are necessary")*/
                    }
                });
            }
        });
    })(jQuery);
</script>*@