﻿@model ISSG4.Models.ResetPasswordModel

@{
    ViewBag.Title = "Resetuj hasło";
}

<h2>Resetuj hasło</h2>
<p>
    Użyj poniższej formy, aby zresetować hasło. 
</p>
<p>
    Podaj adres e-mail podany przy rejestracji, na które zostanie wysłane nowe hasło.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Reset hasła nie powiódł się. Popraw adres i spróbuj ponownie.")
    <div>
        <table>

            <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.EditorFor(m => m.Email)</td>
            <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            
        </table>

        @CaptchaMVC.HtmlHelpers.CaptchaHelper.Captcha(Html, "Odśwież obrazek", "Wpisz znaki z obrazka:", 5)

        <p style="margin-top: 20px;">
            <input type="submit" value="Resetuj hasło" class="btn btn-info"/>
        </p>
    </div>
}
