﻿@model ISSG4.Models.LogOnModel

@{
    ViewBag.Title = "Zaloguj się";
}

<h1>Zaloguj się</h1>
<p>
    Jeśli nie posiadasz konta @if(ViewBag.ReturnUrl != null)
    {@Html.ActionLink("zarejestruj się", "Nowe", new { ReturnUrl =  ViewBag.ReturnUrl})} else {@Html.ActionLink("zarejestruj się", "Nowe")}.
</p>

<p>
    Jeśli zapomniałeś hasło @if (ViewBag.ReturnUrl != null)
    {@Html.ActionLink("wygeneruj nowe", "ResetujHaslo", new { ReturnUrl = ViewBag.ReturnUrl })}
    else
    {@Html.ActionLink("wygeneruj nowe", "ResetujHaslo")}.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Logowanie nie powiodło się. Popraw błędy i spróbuj ponownie.")

@using (Html.BeginForm()) {
    <div>
        <table class="table">

            <tr>
            <td style="width:150px">@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.TextBoxFor(m => m.UserName)
                           @Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>
            
            <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)</td>
            </tr>

        </table>

        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)

        <script type="text/javascript">
            $('#UserName').focus();
        </script>

        <p style="margin-top: 20px;">
            <input type="submit" value="Zaloguj się" class="btn btn-info" />
        </p>
    </div>
}
