﻿@model ISSG4.Models.ChangePasswordModel

@{
    ViewBag.Title = "Zmień hasło";
}

<h2>Zmień hasło</h2>
<p>
    Użyj poniższej formy, aby zmienić hasło. 
</p>
<p>
    Nowe hasło musi zawierać minimum @Membership.MinRequiredPasswordLength znaków długości.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Zmiania hasła nie powiodła się. Popraw błędy i spróbuj ponownie.")
    <div>
        <table>

            <tr>
            <td>@Html.LabelFor(m => m.OldPassword)</td>
            <td>@Html.PasswordFor(m => m.OldPassword)</td>
            <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
            </tr>
            
            <tr>
            <td>@Html.LabelFor(m => m.NewPassword)</td>
            <td>@Html.PasswordFor(m => m.NewPassword)</td>
            <td>@Html.ValidationMessageFor(m => m.NewPassword)</td>
            </tr>

            <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>

        </table>

        @*CaptchaMVC.HtmlHelpers.CaptchaHelper.Captcha(Html, "Odśwież obrazek", "Wpisz znaki z obrazka:", 5)*@

        <p style="margin-top: 20px;"><input type="submit" value="Zmień hasło" /></p>
    </div>
}
