﻿@using ISSG4.Models.ViewModels;
@using ISSG4.Models;
@using System.Linq;
@model ISSG4.Models.ViewModels.ArtView

<style>

    
    @@media (min-width:768px) {
    .card-deck > .card
    {
        width: 31%;
        flex-wrap: wrap;
        flex: initial; 
    }
}

</style>

@if (Model.art_foto_list.Count>0)
{
    i3_ArtFoto fotoart = Model.art_foto_list.Find(d => d.ArtArtykulId == Model.art.ArtArtykulId);

    <div class="card mx-2" @*style="max-width:420px"*@>
        <div class="inner" style="opacity:1">

            <a id="foto_@fotoart.ArtFotoId.ToString()"
               href="/Art/Show/@Model.art.ArtArtykulId">

                @{
                    string focusdata = string.Empty;
                    if (string.IsNullOrEmpty(fotoart.ArtFotoCropData) == false)
                    {
                        focusdata = fotoart.ArtFotoCropData;
                    }
                }

                <img src="/ArtFoto/ShowFoto?src=@Model.wydanie.WydanieData.ToString("yyyyMMdd")\@Path.GetFileName(@fotoart.ArtFotoFilePath)&w=500&h=350&@focusdata"
                     alt="Image"
                     class="card-img-top" />
                <div class="card-body p-3">

                    <div class="">
                        <h4 class="card-title"
                            >
                            @Model.art.ArtArtykulTytul
                        </h4>

                        @{
                            string tresc_pierwsza = ISSG3.Utils.NoHtmlTruncate(Model.art.ArtArtykulTresc, 160);
                        }
                        <p class="card-text pb-3">
                            @tresc_pierwsza
                        </p>
                    </div>
                </div>
            </a>
            @*
            <div class="card-footer p-1 text-center" 
                 style="position: absolute;  bottom: 0;  width:100%">
                    <small class="text-muted">@Model.art.i3_ArtDzial.ArtDzialNazwa</small>
            </div>
                *@

        </div>
    </div>
    }
    else
    {
        @* zdjęcie nie istnieje *@

        @*<div class="col-md-4">*@
            <div class="card mx-2"  @* style="max-width:420px" *@> 
                <div class="inner" style="opacity:1">

                    <a id="foto_@Model.art.ArtArtykulId.ToString()"
                        href="/Art/Show/@Model.art.ArtArtykulId">

                        <img src="~/Content/Img/white_strip_300.png"
                                alt="Image"
                                class="card-img-top" />
                        <div class="card-body">

                            <div class="p-3">
                                <h5 class="card-title">@Model.art.ArtArtykulTytul</h5>

                                @{
                                    string tresc_pierwsza = ISSG3.Utils.NoHtmlTruncate(Model.art.ArtArtykulTresc, 160);
                                }
                                <p class="card-text pb-3">
                                    @Html.Raw(tresc_pierwsza)
                                </p>
                            </div>
                        </div>
                        </a>
                    @*
                    <div class="card-footer p-1 text-center"
                         style="position: absolute;  bottom: 0;  width:100%">
                        <small class="text-muted">@Model.art.i3_ArtDzial.ArtDzialNazwa</small>
                    </div>
                        *@
                </div>
            </div>
}