﻿@using ISSG4.Models;
@model ISSG4.Models.ViewModels.ArtViewList

<div class="row">
    <div class="card mb-3 shadow-sm">
        <div class="row no-gutters">
            <div class="col-lg-7">
                @{
                    string focusdata = string.Empty;
                    if (string.IsNullOrEmpty(Model.art_foto_czolo.ArtFotoCropData) == false)
                    {
                        focusdata = Model.art_foto_czolo.ArtFotoCropData;
                    }
                }
                <a href="/Art/Show/@Model.art_czolo.ArtArtykulId">
                    <img src="/ArtFoto/ShowFoto?src=@Model.termin_string\@Path.GetFileName(Model.art_foto_czolo.ArtFotoFilePath)&w=670&h=450&@focusdata"
                          class="img-card img-fluid shadow-sm" 
                          alt="@Model.art_foto_czolo.ArtFotoPodpis"
                         >
                </a>
            </div>
            <div class="col-lg-5">
                <div class="card-body">
                    <a href="/Art/Show/@Model.art_czolo.ArtArtykulId">
                        <h3 class="card-title">
                            @Model.art_czolo.ArtArtykulTytul
                        </h3>

                        <p class="card-text" style="padding-top:20px">
                            @{
                                string tresc = ISSG3.Utils.NoHtmlTruncate(Model.art_czolo.ArtArtykulTresc, 500);
                            }
                            @tresc
                        </p>
                    </a>
                    <p class="card-text"><small class="text-muted">Szczecin/Region</small></p>
                </div>
            </div>
        </div>
    </div>
</div>



    @* STARA wersja 2 z czołem i artykułami na jedynkę
        <div class="row">
            <div class="col-sm" >
                <div class="card" style="margin:10px">

                    <a id="foto_@Model.art_foto_czolo.ArtFotoId.ToString()" class="card-body"
                       href="/Art/Show/@Model.art_czolo.ArtArtykulId">

                        <img src="/Art/ShowFoto?src=@Model.termin_string\@Path.GetFileName(Model.art_foto_czolo.ArtFotoFilePath)&w=500&h=300"
                             class="card-img-top" style="margin-bottom:5px"
                             alt="@Model.art_foto_czolo.ArtFotoPodpis" />
                        <div>
                            <p class="card-title" style="color:black;font-size:105%; padding-bottom:5px; font-size:1.2em">
                                @Model.art_czolo.ArtArtykulTytul
                            </p>
                        </div>
                    </a>
                    @{
                        string tresc = ISSG3.Utils.NoHtmlTruncate(Model.art_czolo.ArtArtykulTresc, 160);
                    }
                    <p class="card-text small" style="padding:0 5px 0 5px; width:100%">
                        @tresc
                    </p>
                </div>
            </div>
        </div>

    *@
