﻿@using ISSG4.Models;
@model ISSG4.Models.ViewModels.ArtViewList

<div class="row ml-1 mr-1" style="text-align:center">

    <div class="flex-grow-1 mt-2 mr-2">
        <a class="btn-sm shadow-sm btn-outline-danger "
            style="width:100%; font-size:1.1em"
            id="dzial_pierwsza"
           href="/Wydanie/@Model.wydanie.WydanieId?dzial=0">
            Strona główna
        </a>
    </div>

    @foreach (i3_ArtDzial dzial in Model.dzial_lista)
    {

        if (dzial.ArtDzialId != 4) 
        {

        <div class="flex-grow-1 mt-2 mr-2">

            <a class="btn-sm shadow-sm btn-outline-danger"
               id="dzial_@dzial.ArtDzialNazwa"
               href="/Wydanie/@Model.wydanie.WydanieId?dzial=@dzial.ArtDzialId"
               style="width:100%; font-size:1.1em; "
               >
                @dzial.ArtDzialNazwa
            </a>

        </div>
        }

    }
</div>
@* od 2020 roku przestaje się ukazywać dział Krajświat w Kurierze, co skutkuje ukryciem linka działu w stopce *@