﻿@using ISSG4.Models.ViewModels;
@using ISSG4.Models;
@using System.Linq;
@model ISSG4.Models.ViewModels.ArtViewList

@{
    int i = 0;
}

@if (Model.dzialId < 1)
{
    @* artykuły z pierwszej strony *@
    <div>
        @foreach (i3_ArtDzial dzial in Model.dzial_lista)
        {

            int counter = Model.artView_list.FindAll(
                 d => d.art.ArtDzialId == dzial.ArtDzialId &&
                 d.art.ArtJedynka == false &&
                 d.art.ArtArtykulFoto == true).Count;

            if (counter < 1)
            {
                continue;
            }

            int j = 0;

            <div class="row mt-4 mb-4 text-center">
                <div class="col">
                    <h3>
                        <span style="white-space:nowrap"> 
                        
                            @dzial.ArtDzialNazwa 
                        
                        </span>
                    </h3>
                </div>
            </div>

            //int counter = Model.artView_list.FindAll(
            //       d => d.art.ArtDzialId == dzial.ArtDzialId &&
            //       d.art.ArtJedynka == false &&
            //       d.art.ArtArtykulFoto == true).Count;

            foreach (ArtView art in Model.artView_list
                .FindAll(d =>
                d.art.ArtDzialId == dzial.ArtDzialId &&
                d.art.ArtJedynka == false &&
                d.art.ArtArtykulFoto == true))
            {

                if ((j > 5 && dzial.ArtDzialId == 1)  /* pierwsze trzy z pierwszej */
                    || (j > 2 && dzial.ArtDzialId > 1 && dzial.ArtDzialId < 5)  /* Szczecin/REg ma 6 kart */
                    || (j > 5 && dzial.ArtDzialId == 5)
                    ) /* dla Kurier plus jeśli 6 lub więcej, to 6, otherwise 3  */
                {
                    continue;
                }

                if (dzial.ArtDzialId == 5) /* jeśli w Kurier Plus jest mniej niż 6 to pokazuj trzy */
                {
                    if (counter < 6 && j > 2)
                    {
                        continue;
                    }
                }

                /* trzeba sztucznie co trzeci artykuł tworzyć nowy wiersz dla wzorca od PN */
                bool renderRowStart = j % 3 == 0 ? true : false;
                bool renderRowEnd = (j - 2) % 3 == 0 ? true : false;

                if (j== 0 || renderRowStart)
                {
                    @Html.Raw(@"
                    <div class='row mt-4 mb-4'>
                    <div class='card-deck d-flex' style='width:100%'>")
                }


                    @Html.Partial("_ArtCard", art)


                if (j == Model.artView_list.Count - 1 || renderRowEnd || Model.artView_list.FindAll(d =>
                d.art.ArtDzialId == dzial.ArtDzialId &&
                d.art.ArtJedynka == false &&
                d.art.ArtArtykulFoto == true).Count-1 == j)
                {
                            @Html.Raw(@"</div></div>")
                        }

                        j++;
                    }

            <div class="text-right">

                @{

                    string zobacz_pozostale_link_text = string.Empty;

                    switch (dzial.ArtDzialId)
                    {
                        case 1:
                            zobacz_pozostale_link_text = "Więcej ze Szczecina i Regionu";
                            break;

                        case 2:
                            zobacz_pozostale_link_text = "Więcej ze Sportu";
                            break;

                        case 3:
                            zobacz_pozostale_link_text = "Więcej z Kultury";
                            break;

                        case 4:
                            zobacz_pozostale_link_text = "Więcej z Kraju i Świata";
                            break;

                        case 5:
                            zobacz_pozostale_link_text = "Więcej z Kuriera Plus";
                            break;

                        default:
                            break;
                    }
                }

                <a href="/Wydanie/@Model.wydanie.WydanieId.ToString()?dzial=@dzial.ArtDzialId.ToString()"
                    class="btn-sm shadow-sm btn-danger">
                    
                    @zobacz_pozostale_link_text
        

                </a>

            </div>
        }
    </div>
}
else
{
@* arty z działu *@

    i3_ArtDzial dz = Model.dzial_lista.Find(d => d.ArtDzialId == Model.dzialId);
    string dzial_nazwa = string.Empty;
    if (dz != null)
    {
        <h5 style="font-size:1.0em; margin:15px 0 15px 0">
            @Model.wydanie.WydanieOpis
            <span style="white-space:nowrap"> @Model.wydanie.WydanieData.ToString("dd-MM-yyyy") </span>
        </h5>
            dzial_nazwa = dz.ArtDzialNazwa;
    }

    <h3 class="text-center">@dzial_nazwa</h3>

    foreach (ArtView mod in Model.artView_list.FindAll(d => d.art.ArtDzialId == Model.dzialId))
    {

        /* trzeba sztucznie co trzeci artykuł tworzyć nowy wiersz dla wzorca od PN */
        bool renderRowStart = i % 3 == 0 ? true : false;
        bool renderRowEnd = (i - 2) % 3 == 0 ? true : false;

        if (i == 0 || renderRowStart)
        {
            @Html.Raw(@"
                <div class='row mt-4 mb-4'>
                    <div class='card-deck d-flex'>")
        }

        @Html.Partial("_ArtCard", mod)

        if (i == Model.artView_list.Count - 1 || renderRowEnd)
        {
            @Html.Raw(@"</div></div>")
        }

        i++;
    }

}

<br/>
@Html.Partial("_DzialSpis", (ISSG4.Models.ViewModels.ArtViewList)ViewBag.SpisTresci)
