﻿@model ISSG4.Models.WydanieJoinedResult
@{
    //ViewBag.Title = Model.GazetaNazwa;
    ViewBag.Title = "eKurier";

    bool pobierzBtnAktywny = (ViewBag.NaDzial > 0) || Model.GazetaBezplatna;
    bool czy = false;
    if (Request.QueryString["tylkoDodatki"] != null)
    {
        if (Request.QueryString["tylkoDodatki"] == "true")
        {
            czy = true;
        }
    }
    bool tylkoDodatki = czy;
}



@using (Html.BeginForm())
{
    if (ViewBag.SpisTresci == null || ((ISSG4.Models.ViewModels.ArtViewList)ViewBag.SpisTresci).dzialId == 0)
    {

        <br/>
        <div class="row">
            <div class="col-sm mb-3 shadow-sm">
                <div class="mb-3 text-center" style="vertical-align:central">
                    <p class="small mt-2">Wydanie z dnia @Model.WydanieData.ToString("d MMMM yyyy") r.</p>
                </div>
            </div>

            <div class="col-sm mb-3 shadow-sm text-center">
                <a  class="btn-sm shadow-sm btn-outline-danger d-lg-block"
                   id="archiwum link"
                   href="/Home/Archiwum/1">

                    Zobacz pozostałe wydania

                </a>
            </div>

            <div class="col-sm mb-3 shadow-sm text-center">
            @if (pobierzBtnAktywny)
            {
                <a id="pobierzWydanie"
                   class="btn-sm shadow-sm btn-outline-danger d-none d-lg-block pobierzwydanie"
                   onclick="$('form').submit();"
                   href="javascript::$('form').submit();" >

                    Kurier Szczeciński w PDF

                </a>
            }
            else
            {
                <a  class="btn-sm shadow-sm btn-outline-danger d-lg-block"
                   id="wykup_dostep"
                   href="/Koszyk/Wykup/@Model.WydanieId.ToString()">

                    Wykup dostęp

                </a>
            }
            </div>
        </div>

    <div class="row">
       

        <meta property="og:title" content="eKurier - cyfrowe wydanie Kuriera Szczecińskiego" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="//ekurier.24kurier.pl/" />
        <meta property="og:image" content="//www.24kurier.pl/Content/img/ekurier.png" />
        <meta property="og:description" content="eKurier to cyfrowe wydanie gazety „Kurier Szczeciński” z najnowszymi informacjami ze Szczecina i województwa zachodniopomorskiego. Znajdziecie tu wydarzenia, opinie, i relacje z miasta, regionu, polityki, sportu, kultury, gospodarki i nauki." />

        <div class="col-sm">
    
            @if (ViewBag.SpisTresci != null)
            {
                <br/>
                @Html.Partial("_Czolo", (ISSG4.Models.ViewModels.ArtViewList)ViewBag.SpisTresci)
            }
        
        </div>

    </div>

    }

    if (ViewBag.SpisTresci != null)
    {
        @Html.Partial("_SpisTresci", (ISSG4.Models.ViewModels.ArtViewList)ViewBag.SpisTresci)
    }

    <br />
    <div class="row">

        <div class="col-sm mb-3 shadow-sm text-center">

            <a id="pobierzWydanie"
               class="btn-sm shadow-sm btn-outline-danger d-lg-none"
              @* href="/Wydanie/192260?dzial=1"*@
               onclick="$('form').submit();"
               href="javascript::$('form').submit();"
               >
                Kurier Szczeciński w PDF
            </a>

        </div>


    </div>




    { var test_object = User; }

    if (!User.IsInRole("Prenum"))
    {
        if (ViewBag.Dodatki != null && ViewBag.Dodatki.Count > 0)
        {
<div class="dodatki">
    <h3>Dodatki dla tego wydania<br/>
    Tygodnik można wybrać po otrzymaniu i wpisaniu kodu. Można wybrać tylko jeden tygodnik.</h3>
    
    @foreach (var Dodatek in ViewBag.Dodatki)
    {
    <div class="dodatek@(Dodatek.WydanieId)">
        <a class="galeria" href="/Home/Jedynka?src=@Dodatek.WydanieJedynka" title="@Dodatek.DodatekNazwa">                        
            <img src="/Home/Jedynka?src=@Dodatek.WydanieJedynka&h=180" alt="" /><br />
        </a>
        <a href="/Wydanie/PobierzDodatek?WydanieId=@Model.WydanieId&DodatekWydanieId=@Dodatek.WydanieId" 
            @if (Dodatek.wNaDzial == 0)
            { <text>style="display: none;"</text> }
            else
            {<text> class="pobierzdodatek"</text>}>
            <img src="/Content/PobierzDodatek.png" alt="Pobierz dodatek" />
        </a>
    </div>
    }
</div>
    }
    else
    {
	<div class="jedynki">
    @if (ViewBag.DziennikiDodatki != null && ViewBag.DziennikiDodatki.Count > 0)
    {
    <h2 class="clear">Ostatnie wydania z Tygodnikami</h2>
    
        foreach (var Gazeta in ViewBag.DziennikiDodatki)
        {
        <div class="gazeta">
            <a href="/Wydanie/@Gazeta.WydanieId" title="@Gazeta.GazetaNazwa"
                class="biezace" style="width:220px">
                <img src="/Home/Jedynka?src=@Gazeta.WydanieJedynka&h=180&w=120"
                alt="" />
                <br />
                @Gazeta.GazetaNazwa
                <br />
                Kup e-wydanie z @Gazeta.WydanieData.ToString("d MMMM yyyy")<br/>
			    @Gazeta.WydanieData.ToString("dddd")
            </a>
        </div>
        }

    }
	</div>
    
    }
}

}


<script type="text/javascript" language="javascript">
    $(function () {
        $(".pobierzdodatek").click(function () {
        @if(ViewBag.PrenumPlus != 1)
        {
            <text>
                $(".pobierzdodatek").hide();
                $(this).show();
            </text>
        }

        });
    });


    $("body").delegate(".dodajDoKoszyka", "click", function (e) {
        $.post('@Html.Raw(@Url.Action("Dodaj", "Koszyk", new { CennikId = ViewBag.CennikId, Od = Model.WydanieData }))', "", function (data) {
            $.fancybox('<h2>Dodano do koszyka</h2><h3>Posiadasz ' + data + ' produkty w koszyku.</h3><p style="text-align: center;"><input type="button" value="OK" class="closeFancybox" /></p>', {});
            $('#koszykIlosc').html(data);
        });
        e.preventDefault();
    });


</script>


