﻿@model IEnumerable<ISSG4.Models.issg_users_auto>
@{
    int i = 0;
    i = ViewBag.Start;
}

@foreach (var item in Model) {
    
        i++;
        <tr data-pkey="@item.lp">
        <td>
            @i.ToString()
                
            @Html.HiddenFor(modelItem => item.lp)
        </td>
        <td>
            @if (string.IsNullOrEmpty(item.login))
            {
                <text>&nbsp;</text>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.login)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupa)
        </td>
       
        <td class="rowControl hidden">
        </td>
    </tr>
}
