﻿@model ISSG4.Models.Wydanie

<tr @if (Model != null) {
    @:data-pkey="@Model.WydanieId"
}>
    <td colspan="4">
        
        @*Html.TextAreaFor(model => model.WydanieOpis, new { style = "width: 100%; height: 150px;" })
        @Html.ValidationMessageFor(model => model.WydanieOpis)*@

        @Html.HiddenFor(model => model.GazetaId)
        Gazeta: @Html.DisplayFor(model => model.i3_Gazeta.GazetaNazwa)<br/>

        PDF: @Html.DisplayFor(model => model.WydaniePlik)
        @Html.HiddenFor(model => model.WydaniePlik)<br/>
        @Html.HiddenFor(model => model.WydanieOpis)
        @*Html.HiddenFor(model => model.WydanieData)*@
        @Html.TextBoxFor(model => model.WydanieData, "{0:dd-MM-yyyy}", htmlAttributes: new { @type = "hidden" })
        Jedynka: @Html.DisplayFor(model => model.WydanieJedynka)
        @Html.HiddenFor(model => model.WydanieJedynka)
        <br />
        
        @Html.HiddenFor(model => model.DodatekId)
    </td>
    <td>Aktywne:
        @Html.EditorFor(model => model.WydanieAktywne)
        @Html.ValidationMessageFor(model => model.WydanieAktywne)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
