﻿@model IEnumerable<ISSG4.Models.Wydanie>

@foreach (var item in Model)
{
    <tr data-pkey="@item.WydanieId">
        <td>
            <div>@item.WydanieData.ToString("dd-MM-yyyy")</div>
            @Html.HiddenFor(modelItem => item.WydanieJedynka)
        </td>
        @*<td>
    <div>@Html.DisplayFor(modelItem => item.WydanieOpis)</div>

        </td>*@
        <td>
            <div>@Html.DisplayFor(modelItem => item.i3_Gazeta.GazetaNazwa)</div>
        </td>
        <td>
            @*<div>@Html.DisplayFor(modelItem => item.i3_Dodatek.DodatekNazwa)</div>*@
            <div>@Html.DisplayFor(modelItem => item.WydaniePlik)</div>
        </td>
        <td>
            <div>@Html.DisplayFor(modelItem => item.WydanieAktywne)</div>
        </td>
        <td class="rowControl hidden">
            <div>
                <a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
                <a href="#deleteRow" class="deleteRow">Usuń</a>
            </div>
        </td>
    </tr>
}
