﻿@*model ISSG4.Models.i3_ArtArtykul*@
@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtView
@{
    ViewBag.Title ="Art Edycja: "+ ISSG4.Helpers.StringHelper.DeleteSpecialSigns(Model.art.ArtArtykulTytul, true, false);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h6 class="text-center small mb-3"
        style="margin-top:10px">
        @Model.wydanie.WydanieData.ToString("dd-MM-yyyy") 
        eKurier | 
        @Model.art.i3_ArtDzial.ArtDzialNazwa
    </h6>

<input id="ArtArtykulId" value="@Model.art.ArtArtykulId" type="hidden"/>
<h5 class="text-center">
    @Html.Raw(@Model.art.ArtArtykulNadytul)
</h5>

<h1 class="text-center">
    @Html.Raw(@Model.art.ArtArtykulTytul)
</h1>

<div class="container">
    <div class="row mt-1" style="margin-top:20px">
        <div class="col-sm-4 p-3">
            
            <select id="ArtDzialId" name="ArtDzialId" class="form-control">
                @foreach(var item in Model.dzial_lista)
                {
                    <option value="@item.ArtDzialId" 
                            @if(item.ArtDzialId == Model.art.ArtDzialId)
                            {
                                <text> selected='selected'</text>
                            }
                            >
                        @item.ArtDzialNazwa
                    </option>
                }
            </select>
            <button id="artZapisz" class="btn btnPlayOn">
                Zapisz
            </button>

        </div>
    </div>
</div>


