﻿@*model ISSG4.Models.i3_ArtArtykul*@
@using ISSG4.Models
@model ISSG4.Models.ViewModels.ArtView
@{
    ViewBag.Title ="eKurier - "+ ISSG4.Helpers.StringHelper.DeleteSpecialSigns(Model.art.ArtArtykulTytul, true, false);
    Layout = "~/Views/Shared/_Layout.cshtml";
    string tresc_og = "";
}


<meta property="og:title" content="@Html.Raw(@Model.art.ArtArtykulTytul)" />
<meta property="og:type" content="website" />
<meta property="og:url" content="@Request.Url.ToString()" />
@*
<meta property="og:image" content="@(Request.Url.Host)/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)&w=700" />
@if (Model.art.ArtArtykulTresc.Length > 150)
{
    tresc_og = Model.art.ArtArtykulTresc.Substring(0, 149);
}
else
{
    tresc_og = Model.art.ArtArtykulTresc;
}
<meta property="og:description" content="@Html.Raw(tresc_og)" />
    *@


   @* @Model.wydanie.WydanieOpis
    <span style="white-space:nowrap"> @Model.wydanie.WydanieData.ToString("dd-MM-yyyy") </span> - @Model.art.i3_ArtDzial.ArtDzialNazwa
       *@

    <h6 class="text-center small mb-3"
        style="margin-top:10px">
        @Model.wydanie.WydanieData.ToString("dd-MM-yyyy") 
        eKurier | 
        @Model.art.i3_ArtDzial.ArtDzialNazwa
    </h6>


<h5 class="text-center">
    @Html.Raw(@Model.art.ArtArtykulNadytul)
</h5>

<h1 class="text-center">
    @Html.Raw(@Model.art.ArtArtykulTytul)
</h1>

<div class="container">

    @if (Model.art_foto_list.Count > 0)
    {
        foreach (var foto in Model.art_foto_list.GetRange(0, 1))
        {
            

            <div class="row">
                <div class="col-sm-12 col-lg-10 col-xl-8 mx-auto">
                    <figure>
                        <a id="foto_@foto.ArtFotoId.ToString()"
                           data-fancybox="gallery" data-caption="@foto.ArtFotoPodpis"
                           href="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)">
                           
                            <img src="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)&w=700"
                                 class="img-fluid figure-img mx-auto d-block"
                                 alt="@Model.art.ArtArtykulTytul" />
                       </a>
                        @if(User.IsInRole("Administratorzy"))
                        {
                            <a href="/ArtFoto/Edit/@foto.ArtFotoId.ToString()">
                                Edytuj focus
                            </a>

                            <br/>

                            <a href="/Art/Edit/@foto.ArtArtykulId.ToString()">
                                Edytuj dział artykułu
                            </a>
                        }
                        <figcaption class="figure-caption">
                            <!-- font-italic text-center -->
                            @foto.ArtFotoPodpis
                        </figcaption>

                    </figure>
                </div>
            </div>
        }
    }

    @if (ViewBag.NaDzial > 0) /* znaczy opłacone */
    {
        <div class="row">
            <div class="col-sm-12 col-lg-10 col-xl-8 mx-auto">
                @Html.Raw(Model.art.ArtArtykulTresc) @* pełna treść jako raw z skt *@
                </div>
        </div>
    }
    else
    {
        @Html.Partial("Zajawka", Model) @* treść obcięta z linkiem do sklepu *@
    }
    <br/>
    <br />
    <div class="row mt-1" style="margin-top:20px">
        
            @if (Model.art_foto_list.Count > 0)
            {
                foreach (var foto in Model.art_foto_list.GetRange(1, Model.art_foto_list.Count - 1))
                {

                    string focusdata = string.Empty;
                    if (string.IsNullOrEmpty(foto.ArtFotoCropData) == false)
                    {
                        focusdata = foto.ArtFotoCropData;
                    }

                    <div class="col-sm-4 p-3">
                        <a id="foto_@foto.ArtFotoId.ToString()"
                           data-fancybox="gallery" data-caption="@foto.ArtFotoPodpis"
                           href="/Art/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)">
                            <img src="/ArtFoto/ShowFoto?src=@ViewBag.termin_string\@Path.GetFileName(@foto.ArtFotoFilePath)&w=350&h=250&@focusdata"
                                 alt="Image" />
                        </a>

                        <div class="foto_podpis">
                            @if (User.IsInRole("Administratorzy"))
                            {
                                <a href="/ArtFoto/Edit/@foto.ArtFotoId.ToString()">
                                    Edytuj focus
                                </a>
                            }
                            @foto.ArtFotoPodpis
                        </div>
                      
                    </div>

                   

                }
            }
                    </div>
    
</div>

@* by nie pokazywały się z listy szukaja *@

@if (Request.UrlReferrer != null)
{
    if (!Request.UrlReferrer.ToString().Contains("Search"))
    {
        <div id="prev_next_section" style="text-align:center; margin-top:15px">
            <p class="text-center mt-3">
                @if (Model.prevId > 0)
                {
                    <text>
                        <a href="/Art/Show/@Model.prevId.ToString()">
                            Poprzedni
                        </a> |
                 </text>
                } 
                <a href="/">
                    Wszystkie artykuły
                </a> | 
                <a href="#top">
                    Na górę
                </a> 
                @if (Model.nextId > 0)
                {
                    <text>|
                    <a href = "/Art/Show/@Model.nextId.ToString()">
                      Następny
                     </a>
                    </text>
                }
                 </p>



             </div>
    }
}

<br/>
@Html.Partial("~/Views/Wydanie/_DzialSpis.cshtml", (ISSG4.Models.ViewModels.ArtViewList)ViewBag.SpisTresci)
