﻿@model IEnumerable<ISSG4.Models.viewAudyt>
@foreach (var item in Model)
{
    <tr data-pkey="@item.nr">
        <td>
            @Html.DisplayFor(modelItem => item.nr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.czas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.czynnosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dotyczy)
        </td>
        
        <td >
            @Html.DisplayFor(modelItem => item.stara_wartosc)
        </td>
        
        <td >
            @Html.DisplayFor(modelItem => item.nowa_wartosc)
        </td>
    </tr>
}
