﻿@model ISSG4.Models.PromoKodGrupa

<tr @if (Model != null) {
    @:data-pkey="@Model.PromoKodGrupaId"
}>
    <td>
        @Html.EditorFor(model => model.PromoKodGrupaKto)
        @Html.ValidationMessageFor(model => model.PromoKodGrupaKto)
    </td>
    <td>
        @Html.EditorFor(model => model.PromoKodGrupaKiedy)
        @Html.ValidationMessageFor(model => model.PromoKodGrupaKiedy)
    </td>
    <td>
        @Html.EditorFor(model => model.PromoKodGrupaIle)
        @Html.ValidationMessageFor(model => model.PromoKodGrupaIle)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Zapisz</button><button class="cancelEditRow">Anuluj</button>
} else {
        <button class="createRow">Utwórz</button><button class="cancelCreateRow">Anuluj</button>
}
    </td>
</tr>
