﻿@model IEnumerable<ISSG4.Models.PromoKodGrupa>

@foreach (var item in Model) {
    <tr data-pkey="@item.PromoKodGrupaId">
        <td>
            @*@Html.DisplayFor(modelItem => item.PromoKodGrupaKto)*@
            <b>@item.Users.UserName</b><br />
            @item.Users.Imie @item.Users.Nazwisko
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromoKodGrupaKiedy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_PromoKodTyp.Nazwa)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.PromoKodWaznyDo)*@
            @item.PromoKodWaznyDo.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromoKodGrupaIle)
        </td>
        <td class="rowControl hidden">
            @*<a href="#makeRowEditable" class="makeRowEditable">Edytuj</a> |
            <a href="#deleteRow" class="deleteRow">Usuń</a>*@
            <a href="@Url.Action("Kod", new { id = item.PromoKodGrupaId })">Pokaż kody</a>
        </td>
    </tr>
}
