﻿@model List<ISSG4.Models.PromoKod>

@{
    ViewBag.Title = "Kod";
}

<h2>Kod</h2>



@using (Html.BeginForm())
{
    <table>

        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
            <td>
                @Html.HiddenFor(m => m[i].PromoKodId)
                @Model[i].PromoKodKod
            </td>
            <td>@Html.CheckBoxFor(m => m[i].PromoKodWyslany)</td>
        </tr>
        }

    </table>
    <p style="margin-top: 15px;">
        <input type="submit" value="Zapisz" />
    </p>
}