﻿@model IEnumerable<ISSG4.Models.PobranieDarmowe>

@foreach (var item in Model) {
    <tr data-pkey="@item.PobranieDarmoweId">
        <td>
            @Html.DisplayFor(modelItem => item.PobranieDarmoweId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Wydanie.i3_Gazeta.GazetaNazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PobranieDarmoweCzas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i3_Wydanie.WydanieData,"_ddmmyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PobranieDarmoweIp)
        </td>
    </tr>
}
